import Uppy, { debugLogger } from '@uppy/core'
import Dashboard from '@uppy/dashboard'
import RemoteSources from '@uppy/google-drive'
import ImageEditor from '@uppy/image-editor'
import Form from '@uppy/form'
import Webcam from '@uppy/webcam'
import Audio from '@uppy/audio'
import ScreenCapture from '@uppy/screen-capture'
import Tus from '@uppy/tus'
import DropTarget from '@uppy/drop-target'
import Compressor from '@uppy/compressor'

import COMPANION from '../env.js'

const uppy = new Uppy({ logger: debugLogger })
  // The main UI that shows files, progress and holds all plugins
  .use(Dashboard, {
    target: '.DashboardContainer',
    inline: true,
    height: 470,
    metaFields: [
      { id: 'name', name: 'Name', placeholder: 'file name' },
      { id: 'caption', name: 'Caption', placeholder: 'add description' },
    ],
    note: 'Images and video only, 2–3 files, up to 1 MB',
  })
  // All remote servies like Instagram and Google Drive in one package
  .use(RemoteSources, {
    companionUrl: COMPANION.URL,
    companionAllowedHosts: COMPANION.AllowedHosts,
    // You don’t have to manually specify this, 
    // all enabled by default, but you can pick and choose if you like
    sources: ['Box', 'Dropbox', 'Facebook', 'GoogleDrive', 'Instagram', 'OneDrive', 'Unsplash', 'Zoom', 'Url'],
  })
  .use(Webcam, { target: Dashboard })
  .use(Audio, { target: Dashboard, showRecordingLength: true })
  .use(ScreenCapture, { target: Dashboard })
  .use(Form, { target: '#upload-form' })
  .use(ImageEditor, { target: Dashboard })
  // Allow dropping files on any element or the whole document
  .use(DropTarget, { target: document.body })
  // Optimize images
  .use(Compressor)
  // Upload
  .use(Tus, { endpoint: 'https://tusd.tusdemo.net/files/' })

uppy.on('complete', result => {
  console.log('successful files:', result.successful)
  console.log('failed files:', result.failed)
})

