---
title: Dashboard
layout: example
type: examples
order: 0
---

{% blockquote %}
Dashboard is the full-featured UI for Uppy that shows nice file previews and upload progress, lets you edit metadata, and unites acquire plugins, such as Google Drive and Webcam, under one roof.
{% endblockquote %}

<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">Console output (latest logs are at the top): <br /></p>

<p>On this page we're using the following JavaScript snippet:</p>

{% include_code lang:js dashboard/app.es6 %}
