---
title: Dashboard
layout: example
type: examples
order: 0
category: 'Examples'
---

{% blockquote %}
Dashboard is the full-featured UI for Uppy that shows nice file previews and upload progress, lets you edit metadata, and unites acquire plugins, such as Google Drive and Webcam, under one roof.
{% endblockquote %}

<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">Console output: <br /></p>

<p>On this page we're using the following JavaScript snippet:</p>

<blockquote>Note: in this snippet we've omitted the code to toggle options using checkboxes. The behavior of this code may be different from the above example depending on which options you've selected.</blockquote>

{% include_code lang:js dashboard/code.sample %}
