---
title: Dashboard
layout: example
type: examples
order: 0
---

{% blockquote %}
Dashboard is the full-featured UI for Uppy that shows nice file previews and upload progress, lets you edit metadata, and unites acquire plugins, such as Google Drive and Webcam, under one roof.
{% endblockquote %}

<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">Console output (latest logs are at the top): <br /></p>

<p>On this page we're using the following JavaScript snippet:</p>

{% codeblock lang:js %}
const Uppy = require('uppy/lib/core')
const Dashboard = require('uppy/lib/plugins/Dashboard')
const GoogleDrive = require('uppy/lib/plugins/GoogleDrive')
const Dropbox = require('uppy/lib/plugins/Dropbox')
const Instagram = require('uppy/lib/plugins/Instagram')
const Webcam = require('uppy/lib/plugins/Webcam')
const Tus = require('uppy/lib/plugins/Tus10')
const MetaData = require('uppy/lib/plugins/MetaData')

const uppy = Uppy({
  debug: true,
  autoProceed: false,
  restrictions: {
    maxFileSize: 1000000,
    maxNumberOfFiles: 3,
    minNumberOfFiles: 2,
    allowedFileTypes: ['image/*', 'video/*']
  }
})
.use(Dashboard, {
  trigger: '.UppyModalOpenerBtn',
  inline: true,
  target: '.DashboardContainer'
  note: 'Images and video only, 2–3 files, up to 1 MB'
})
.use(GoogleDrive, {target: Dashboard, host: 'https://server.uppy.io'})
.use(Dropbox, {target: Dashboard, host: 'https://server.uppy.io'})
.use(Instagram, {target: Dashboard, host: 'https://server.uppy.io'})
.use(Webcam, {target: Dashboard})
.use(Tus, {endpoint: 'https://master.tus.io/files/'})
.use(MetaData, {
  fields: [
    { id: 'license', name: 'License', value: 'Creative Commons', placeholder: 'specify license' },
    { id: 'caption', name: 'Caption', value: 'none', placeholder: 'describe what the image is about' }
  ]
})
.run()

uppy.on('core:success', (fileList) => {
  console.log('Successfully uploaded:', fileList)
})
{% endcodeblock %}
