---
title: Dashboard
layout: example
type: examples
order: 0
---

{% blockquote %}
Making file uploading and modal dialog great again.
{% endblockquote %}

<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">Console output (latest logs are at the top): <br /></p>

<p>On this page we're using the following JavaScript snippet:</p>

{% include_code lang:js dashboard/app.es6 %}
