---
title: Bundle
layout: example
type: examples
order: 1
---

{% blockquote %}
This example showcases sourcing a pre-built bundle, that a browser can request straight from a CDN.
{% endblockquote %}

<% include app.html %>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  On this page we're using the following HTML & JS snippet:
</p>
{% include_code lang:html bundle/app.html %}
