@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-FileInput-container {
  margin-bottom: 15px;
}

.uppy-FileInput-btn {
  @include reset-button;
  // text-transform: uppercase;
  padding: 10px 15px;
  color: darken($blue, 20%);
  font-size: 0.85em;
  font-family: sans-serif;
  border: 1px solid darken($blue, 20%);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: darken($blue, 20%);
  }
}
