@use "sass:color";
@use '@uppy/core/src/_utils.scss';
@use '@uppy/core/src/_variables.scss';

.uppy-FileInput-container {
  margin-bottom: 15px;
}

.uppy-FileInput-btn {
  @include utils.reset-button;
  // text-transform: uppercase;
  padding: 10px 15px;
  color: color.adjust(variables.$blue, $lightness: -20%);
  font-size: 0.85em;
  font-family: sans-serif;
  border: 1px solid color.adjust(variables.$blue, $lightness: -20%);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: variables.$white;
    background-color: color.adjust(variables.$blue, $lightness: -20%);
  }
}
