@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-Url {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.uppy-Url-input {
  width: 90%;
  max-width: 650px;
  margin-bottom: 15px;
}

  .uppy-size--md .uppy-Url-input  {
    margin-bottom: 30px;
  }

.uppy-Url-importButton {
  padding: 13px 25px;
}

  .uppy-size--md .uppy-Url-importButton {
    padding: 13px 35px;
  }
