@import '@uppy/core/src/style.scss';

.uppy-Url {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uppy-Url-input {
  width: 90%;
  max-width: 650px;
  margin-bottom: 15px;
}

  .uppy-Dashboard--wide .uppy-Url-input  {
    margin-bottom: 30px;
  }

.uppy-Url-importButton {
  padding: 13px 25px;
}

  .uppy-Dashboard--wide .uppy-Url-importButton {
    padding: 13px 35px;
  }
