.content.blog
    h1
        margin 0 0 .5em
    h2
        margin .8em 0
        padding-bottom 0
        border-bottom none
        a
            color $dark
            &:hover
                border-bottom 2px solid $green
    h4
        color $light
        margin 1.2em 0
    figure, p
        margin-left 0
    .post
        padding 1em 0 2em
        border-bottom 1px solid $border

@media screen and (max-width: 1400px) and (min-width: 720px)
    .content.blog.post
        margin 0 0 0 280px
