html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: inherit; }

html, body { height: 100%; }

body {
  font-family: $fontFamily-body;
  font-size: $fontSize-s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-medium;
  margin: 0;
  background-color: $color-primary;

  @media #{$screen-medium} {
    font-size: $fontSize-body;
  }
}

a {
  text-decoration: none;
  color: $color-medium;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1, h2, h3, h4, strong {
  font-weight: 600;
  color: $color-dark;
}

code, pre {
  font-family: $fontFamily-code;
  font-size: $fontSize-code;
  background-color: $color-codebg;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

code {
  color: $color-orange;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: $size-radius;
  white-space: nowrap;
}

em { color: $color-light; }

a.button {
  display: inline-block;
  font-family: $fontFamily-code;
  font-weight: 700;
  color: #fff;
  background-color: lighten($color-primary, 8%);
  border-bottom: 2px solid darken($color-primary, 12%);
  padding: 12px 14px;
  border-radius: 4px;
  transition: all .15s ease;

  &:hover {
    background-color: lighten($color-primary, 15%);
    transform: translate(0, -2px);
  }
}

.highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: $color-codebg;
  padding: .8em .8em .4em;
  line-height: 1.1em;
  border-radius: $size-radius;

  figcaption {
    display: none;
  }

  table, tr, td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  .gutter { width: 1.5em; }

  .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0;
  }

  &.html, &.js, &.bash, &.css {
    .code:after {
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      font-size: .75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
      font-weight: 600;
    }
  }

  &.html .code:after { content: 'HTML'; }
  &.js .code:after { content: 'JS'; }
  &.bash .code:after { content: 'Shell'; }
  &.css .code:after { content: 'CSS'; }
}

.page {
  background-color: $color-white;
  min-height: 100vh;
}

.page-index .BuildBadge { margin-left: -2px !important; }
.page-inner .BuildBadge { margin-top: 15px; }

.MainLogo {
  display: block;
  margin: 0 auto;
  width: 120px;

  @media #{$screen-medium} {
    width: 150px;
  }
}

.MainHeader {
  background-color: $color-white;
  padding: 25px 60px;
  position: relative;
  z-index: 2;
  border-top: 6px solid $color-primary;
}

  .page-inner .MainHeader {
    display: none;
    @media #{$screen-medium} {
      display: block;
    }
  }

.MainMenu {
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-type: none;
  margin: 2em 1.8em 0;
  padding: 0;

  @media #{$screen-medium} {
    margin: 0;
    font-size: $fontSize-s;
  }
}

.nav-link {
  color: $color-light;
  padding-bottom: 3px;
  font-size: .85em;
  margin: 0 .5em;
  cursor: pointer;

  &:first-child { margin-left: 0; }
  &:hover, &.current { border-bottom: 3px solid $color-primary; }

  @media #{$screen-medium} {
    margin: 0 1.5em;
    font-size: 1em;
  }
}
