html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: inherit; }

html, body { height: 100%; }

body {
  font-family: $fontFamily-body;
  font-size: $fontSize-s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-dark;
  margin: 0;
  background-color: $color-primary;

  @media #{$screen-medium} {
    font-size: $fontSize-body;
  }
}

a {
  text-decoration: none;
  color: $color-blue;
}

img, video {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: $color-dark;
}

code, pre {
  font-family: $fontFamily-code;
  font-size: $fontSize-code;
  background-color: $color-codebg;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

code {
  padding: 3px 5px;
  border-radius: $size-radius;
}

hr {
  border: 0;
  background: none;
  border-top: 1px solid $color-gray;
  margin: 3em 0;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  background-color: $color-primary;
  padding: 12px 20px;
  border-radius: 8px;
  transition: all .15s ease;

  &:hover {
    background-color: lighten($color-primary, 4%);
  }

  &:active {
    background-color: darken($color-primary, 4%);
  }
}

.button--cta {
  padding-right: 34px;
  padding-left: 34px;
}

.button--secondary {
  border: 1px solid $color-primary;
  background-color: #fff;
  color: $color-primary;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    border-color: darken($color-primary, 10%);
    color: darken($color-primary, 10%);
  }
}

.GithubStars {
  font-size: 0.75em;
  margin-left: 0.25em;
}

.highlight {
  // overflow-x: auto;
  position: relative;
  background-color: $color-codebg;
  padding: .6em .6em;
  line-height: 1.1;
  border-radius: $size-radius;
  margin-right: 0;
  margin-left: 0;

  figcaption {
    display: none;
  }

  table, tr, td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  .gutter { width: 1.5em; }

  .code {
    font-size: 12px;
    @media #{$screen-medium} {
      font-size: 15px;
    }
    border-bottom: none;
  }

  .code pre {
    padding: 0.4em 0.2em;
    line-height: 1.5em;
    margin: 0;
  }

  &.html, &.js, &.bash, &.css, &.php {
    .code:after {
      position: absolute;
      top: 0;
      right: 0;
      color: $color-gray;
      text-align: right;
      font-size: .75em;
      padding: 5px 10px 0;
      line-height: 15px;
      height: 15px;
      font-weight: 600;
    }
  }

  &.html .code:after { content: 'HTML'; }
  &.js .code:after { content: 'JS'; }
  &.bash .code:after { content: 'Shell'; }
  &.css .code:after { content: 'CSS'; }
  &.php .code:after { content: 'PHP'; }
}

.page {
  background-color: $color-white;
  min-height: 100vh;
}

.page-inner .MainContent {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  padding: 2em 1.4em 0;

  @media #{$screen-medium} {
    padding: 60px 60px 30px;
  }
}


.Social {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Social li {
  margin: 0.7em 0;

  @media #{$screen-medium} {
    display: inline-block;
    margin: 0 0.7em;
    vertical-align: middle;

    &.last { margin-left: -2px; }
  }
}

  .Sidebar .Social {
    text-align: left;
    padding-left: 0;
    margin-top: 50px;
  }

  .Sidebar .Social li {
    display: block;
    margin: 0.7em 0;
  }

/**
* MainLogo
*/
.MainLogo {
  display: inline-block;
  font-size: 27px;
  font-family: $fontFamily-logo;
  font-weight: 700;

  @media #{$screen-medium} {
    margin-right: 15px;
  }

  &-link {
    color: $color-primary;
  }

  // Was used for 1.0, we can re-use for 2.0 or major announcements
  // 
  // &-version {
  //   display: inline-block;
  //   padding: 0px 8px 1px;
  //   background-color: $color-primary;
  //   position: relative;
  //   border-radius: 6px;
  //   color: #fff;
  //   font-size: 24px;

  //   &:hover {
  //     background-color: darken($color-primary, 7%);
  //   }
  // }

  // &-emoji {
  //   font-size: 16px;
  //   position: absolute;
  //   bottom: 3px;
  //   right: -1em;
  // }
}

/**
* MainHeader
*/

.MainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $color-white;
  text-align: center;

  @media #{$screen-medium} {
    height: auto;
    display: flex;
    align-items: baseline;
    padding: 14px 60px 19px;
    z-index: 2;
    border-bottom: 1px solid rgba($color-lightgray, 0.2);
    text-align: left;

    // &.fix-header {
    //   box-shadow: 0 0 4px rgba(0,0,0,.25);
    // }
  }

  .page-index & {
    position: relative;
  }
}

.MainHeader-menuBtn {
  display: block;

  @media #{$screen-medium} {
    display: none;
  }

  .page-index & {
    display: none;
  }
}

.MainHeader-menuBtn {
  background: none;
  border: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 12px;
  background: svg-load('burger.svg', fill=#{$color-gray}) center center no-repeat;
  background-size: 22px;
  z-index: 10;
}

.MainHeader-tagline {
  text-align: center;
  margin-top: 3px;
  font-size: 12px;
  flex: 1;
  color: $color-gray;
  display: none;
  transition: all ease-in-out 0.3s;
  opacity: 0;

  &.is-visible { opacity: 1; }

  @media #{$screen-medium} {
    margin: 0;
    font-size: 14px;
    text-align: right;
    
    .page-index & {
      display: block;
    }
  }
}

.MainHeader-taglineList {
  display: none;
}

/**
* MainMenu
*/

.MainMenu {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;

  @media #{$screen-medium} {
    margin: 0;
  }
}

  .MainMenu-searchQuery {
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color .2s ease;
    background: svg-load('search.svg', fill=#{$color-gray}) 8px 5px no-repeat;
    background-size: 18px;
    margin-bottom: 10px;

    &:focus { border-color: $color-primary; }

    @media #{$screen-medium} {
      width: 200px;
      margin-bottom: 0;
    }
  }

  .MainMenu {
    display: none;

    li {
      display: inline-block;
      position: relative;
      margin: 0 0.3em;

      @media #{$screen-medium} {
        margin: 0 0.6em;
      }
    }

    @media #{$screen-medium} {
      display: block;
    }

    .page-index & {
      display: block;
    }
  }

.nav-link {
  color: $color-gray;
  font-size: .85em;
  margin: 0;
  cursor: pointer;

  &:first-child { margin-left: 0; }
  &:hover, &.current { color: $color-dark; }

  @media #{$screen-medium} {
    font-size: 1em;
  }
}

.Tabs {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  &-item {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
  }

  &-link {
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 7px 6px;
    font-weight: 700;
    color: $color-light;

    @media #{$screen-medium} {
      font-size: 18px;
      padding: 9px 15px 8px;
    }

    &:hover {
      color: $color-gray;
      background-color: $color-codebg;
    }
  }

  &-link--active {
    color: $color-dark;
    background-color: $color-codebg;

    &:hover {
      color: $color-dark;
    }

    .Tabs-icon path {
      fill: #f37;
    }
  }

  &-icon {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;

    path {
      fill: #777;
    }
  }
}

.TabPane {
  display: none;

  &--active {
    display: block;
  }
}

/**
* BuildBadge
*/
.page-index .BuildBadge { margin-left: -2px !important; }
.Sidebar .BuildBadge { margin-top: 15px; }
