/**
* Console
*/

.Console {
  border: 1px solid $color-primary;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4;
  width: 100%;
  min-height: 150px;
  display: none;
  padding: 10px 10px;
}

.UppyModalOpenerBtn {
  @include reset-button;
  padding: 10px 15px;
  border: 1px solid $color-primary;
  background-transition: all .3s;
  font-size: 13px;
  color: $color-primary;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 1.5em;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.DashboardOptions {
  margin-bottom: 1.5em;
  font-size: 0.8em;

  label { margin-right: 10px; }
}
