/**
* Console
*/

.Console {
  border: 1px solid $color-primary;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4;
  width: 100%;
  min-height: 150px;
  // overflow: hidden;
  display: none;
  padding: 10px 10px;
}
