#console-log {
  border     : 1px solid #ccc;
  font-family: monospace;
  font-size  : 12px;
  line-height: 12px;
  height     : 112px;
  overflow   : hidden;
  width      : 100%;
  display    : none;
}
