.TransloaditBar {
  display: none;
  height: 35px;
  padding: 0 10px;
  background: $color-darkblue;
  color: #fff;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;

  @media #{$screen-medium} {
    padding: 0 60px;
  }

  &-link {
    color: #fff;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  &-logo {
    margin-right: 10px;
  }

  &-logoImg {
		display: block;
	}

  &-about {
    text-align: right;
  }

  &-info {
    text-align: center;
  }

  &-info-link {
    color: #b3cbf2;
    font-weight: 600;
    
    &:hover {
        color: #e05393;
    }
  }

  .page-index & {
    display: flex;
    padding-right: 20px;
  }
}

.IndexHero {
  text-align: center;
  max-width: 680px;
  margin: 30px auto 40px;
  padding: 0 20px;

  @media #{$screen-medium} {
    margin: 80px auto;
  }
}

.IndexHero-logo {
  max-width: 64px;
  height: auto;

  @media #{$screen-medium} {
    max-width: none;
  }
}

.IndexHero-title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 12px 0;
  font-size: 24px;
  line-height: 1.145;

  @media #{$screen-medium} {
    margin: 16px 0;
    font-size: 48px;
  }
}

.IndexHero-description {
  color: $color-gray;
  font-size: 14px;
  line-height: 1.45;
  margin-bottom: 24px;

  @media #{$screen-medium} {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.IndexHero-buttons .button {
  margin-bottom: 10px;
  display: block;

  @media #{$screen-medium} {
    margin-right: 8px;
    margin-bottom: 0;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.IndexLogos {
  font-size: 12px;
  color: $color-gray;
  text-align: center;
  margin: 80px 0;

  @media #{$screen-medium} {
    margin-top: 120px;
  }

  &-container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    font-size: inherit;
    color: inherit;
  }

  &-logos {
    margin: 12px 0 0;
    font-size: 0;
  }

  &-item {
    font-size: 14px;
    display: inline-block;
    margin: 0 20px 5px;
    vertical-align: middle;

    @media #{$screen-medium} {
      margin: 0 30px 5px;
    }
  }

  &-join {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.IndexLogos-item path {
  fill: #b7b9bb;
  transition: fill 0.3s ease;
}

.IndexLogos-item--coursera:hover {
  .coursera {
    fill: #4a89dc;
  }
}

.IndexLogos-item--photobox:hover {
  .photobox {
    fill: #007377;
  }
}

.IndexLogos-item--issuu:hover {
  .issuu-glyph {
    fill: #f26f61;
  }

  .issuu-text {
    fill: #353535;
  }
}

.IndexLogos-item--zulip:hover {
  .zulip {
    fill: #50a395;
  }
}


.IndexDemo {
  margin: 60px auto;
  max-width: 900px;
  padding: 0 20px;

  @media #{$screen-medium} {
    margin: 100px auto 120px;
  }

  &-uppyWrapper,
  &-video,
  &-code {
    max-width: 700px;
    margin: 0 auto;

    @media #{$screen-medium} {
      min-height: 560px;
    }
  }

  &-uppy {
    box-shadow: 0 15px 30px 0 rgba(#000, 0.07);
    border-radius: 4px;
  }
}

// We aim for the equal height for the tabs
// The following code makes the JS code background 100% tall
.IndexDemo-code {
  display: flex;
  flex-direction: column;

  .js {
    flex: 1;
  }
}

.GetStartedBtn {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 25px;
  transition: all .3s ease;
  background-color: $color-primary;
  color: $color-white;
  margin-top: 1.2em;
  margin-bottom: 2em;

  &:hover { @include zoom; }
}

.IndexReviews {
  max-width: 920px;
  margin: 60px auto;

  @media #{$screen-medium} {
    margin: 110px auto;
  }

  &-list {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    text-align: center;

    @media #{$screen-medium} {
      margin: 0 -10px;
      padding: 0;
      display: flex;
      height: 100%;
      justify-content: space-between;
      text-align: left;
    }
  }

  &-item {
    @media #{$screen-medium} {
      padding: 0 10px;
      flex: 1;
    }
  }

  &-link {
    display: block;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(#333, 0.1);
    padding: 20px 25px 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: $color-dark;
    font-weight: 700;

    @media #{$screen-medium} {
      border-radius: 7px;
      box-shadow: 0 10px 30px 0 rgba(#333, 0.15);
      font-size: 21px;
      margin-bottom: 0;
    }
  }

  &-imgWrapper {
    margin-bottom: 15px;
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;

    @media #{$screen-medium} {
      justify-content: flex-start;
    }
  }
}

.IndexActivity {
  max-width: 900px;
  margin: 3em auto;
  padding: 0 20px;

  h2 {
    text-align: center;
    font-size: 30px;

    @media #{$screen-medium} {
      font-size: 36px;
    }
  }
}

.IndexFeatures {
  margin: 60px auto;

  @media #{$screen-medium} {
    margin: 100px auto;
  }

  h2 {
    text-align: center;
    font-size: 30px;

    @media #{$screen-medium} {
      font-size: 36px;
    }
  }

  &-list {
    line-height: 1.35;
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto 40px;
    padding: 0 20px;
    list-style-type: none;

    @media #{$screen-medium} {
      margin-bottom: 100px;
      column-count: 2;
      column-gap: 40px;
      font-size: 20px;
    }
  }

  &-list li {
    padding-left: 0;
    margin-bottom: 0.8375em;
    break-inside: avoid;
  }
}

.IndexFooter {
  text-align: center;
  color: $color-white;
  padding: 2em 1em 3em;
  font-size: 14px;
  background-color: $color-darkblue;
  margin-top: 50px;

  @media #{$screen-medium} {
    margin-top: 100px;
    padding: 2em 0 3em;
  }

  &-logo {
    width: 44px;
    height: auto;
  }

  a {
    color: $color-white;
    text-decoration: underline;
  }

  p { margin: 1em 0; }
}
