.page-index .MainMenu {
  text-align: center;

  li {
    display: inline-block;
    position: relative;
    line-height: 40px;

    &:last-child .nav-link {
      margin-right: 0;
    }
  }
}

.page-index .MainLogo {
  display: none;
}

.page-index .MainMenu-search {
  display: none;
}

.IndexHero {
  text-align: center;
  position: relative;
  max-width: 950px;
  margin: auto;
  padding: 0 20px;
}

.IndexHero-logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 130px;
}

.IndexHero-title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  padding-top: 10px;
  font-family: $fontFamily-logo;
  font-weight: 400;
  font-size: 3.5em;
  margin: 0;
  margin-bottom: 20px;
}

.IndexHero-tagline {
  font-size: $fontSize-m;
  line-height: 1.3;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  color: $color-light;

  @media #{$screen-medium} {
    font-size: $fontSize-l;
    line-height: 1.4;
  }
}

.IndexHero-taglineList {
  display: none;
}

.IndexHero-taglinePart {
  transition: all ease-in-out 0.6s;
  opacity: 0;

  &.is-visible { opacity: 1; }
}

.IndexSocial {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.IndexSocial li {
  display: inline-block;
  margin: 0 0.7em;
  vertical-align: middle;

  &.last { margin-left: -2px; }
}

.IndexAbout {
  // @include clearfix;
  max-width: 760px;
  margin: 3em auto;
  padding: 0 20px;
  font-size: 19px;
  line-height: 1.5;
  text-align: center;

  @media #{$screen-medium} {
    text-align: left;
  }

  a {
    font-weight: bold;
    color: rgba($color-black, 0.8);

    &:hover {
      color: $color-black;
    }
  }
}

.IndexAbout-item {
  position: relative;
  margin-bottom: 80px;
}

.IndexAbout-item:first-child {
  @media #{$screen-medium} {
    padding-left: 130px;

    .IndexAbout-icon {
      top: 20px;
      left: 0;
    }
  }
}

.IndexAbout-item:nth-child(2) {
  @media #{$screen-medium} {
    padding-right: 150px;

    .IndexAbout-icon {
      top: 20px;
      right: 0;
    }
  }
}

.IndexAbout-icon {
  max-width: 90px;

  @media #{$screen-medium} {
    position: absolute;
  }
}

.IndexAbout-item h2 {
  margin-bottom: 0.1em;
}

.IndexAbout-item p {
  margin-top: 0;
}

.GetStartedBtn {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 25px;
  transition: all .3s ease;
  background-color: $color-primary;
  color: $color-white;
  margin-top: 3em;
  margin-bottom: 2em;

  &:hover { @include zoom; }
}

.IndexExample {
  text-align: center;
  max-width: 1200px;
  margin: 0 1em 3em;

  @media #{$screen-medium} {
    margin: 0 auto 3em;
  }

  code, pre {
    padding: 0;
    margin: 0;
    background-color: transparent;
    white-space: pre;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 12px;
    height: auto;
    line-height: 18px;
  }

  figure.highlight {
    margin: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .sign {
    display: inline-block;
    vertical-align: middle;
    height: 10em;
    line-height: 9em;
    padding: 0 .5em;
    font-weight: 600;
    color: $color-light;
  }
}

.IndexSection-title {
  font-size: 25px;
  margin-bottom: 1.5em;
}

.IndexExample-block {
  padding: 7px;
  text-align: left;
  background-color: $color-codebg;
  border-radius: $size-radius;
  overflow-x: scroll;

  @media #{$screen-medium} {
    width: 43%;
    display: inline-block;
    vertical-align: middle;
    height: 250px;
  }
}

.IndexDesignGoals {
  padding: 4em 1em;
  background-color: $color-primary;
  color: $color-white;
  overflow: hidden;

  @media #{$screen-medium} {
    padding: 4em 0;
  }

  h2 {
    margin-top: 0;
    color: $color-white;
    font-size: 1.5em;
    text-align: center;
  }

  ul {
    line-height: 1.8em;
    font-size: 1.15em;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  li {
    background: svg('check.svg', '[fill]: #{$color-white}') left 5px no-repeat;
    background-size: 24px 24px;
    padding-left: 40px;
    margin-bottom: 0.5em;
  }
}

.IndexFooter {
  text-align: center;
  color: $color-white;
  padding: 4em 1em;
  background-color: darken($color-primary, 15%);

  @media #{$screen-medium} {
    padding: 4em 0;
  }

  a {
    color: $color-white;
    text-decoration: underline;
  }

  p { margin: .3em 0; }
}
