.post {
  margin-bottom: 5em;
}

/**
* Sidebar
*/

.Sidebar {
  position: fixed;
  background-color: #f9f9f9;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 80px 30px 20px;
  transition: all .4s cubic-bezier(0.4, 0, 0, 1);
  transform: translate(-100%, 0);
  z-index: 10;
  overflow-y: scroll;

  .main-menu {
    margin-bottom: 20px;
    display: block;
    padding-left: 0;
  }

  &.is-open { transform: translate(0, 0); }
  // .fix-sidebar & { position: fixed; }

  @media #{$screen-medium} {
    // position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 280px;
    // bottom: 0;
    // padding: 2.2em 0;
    padding-top: 95px;
    padding-left: 60px;
    padding-bottom: 130px;
    // width: 20px;
    margin-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: none;
    background-color: transparent;
    box-shadow: none;

    .main-menu { display: none; }
    &::-webkit-scrollbar { width: 0 !important; }
    h2 { margin-top: .2em; }
  }

  ul {
    list-style-type: none;
    margin: 0;
    line-height: 1.4em;
    padding-left: 1em;
  }

  .menu-root > ul {
    margin: 0;
    padding-left: 0;
  }

  &.is-blog ul { padding-left: 0; }

  li {
    margin-bottom: 0.6em;
  }

  a {
    color: $color-darkgray;
  }

  .menu-root {
    padding-left: 0;
  }

  .menu-root h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .menu-sub {
    font-size: .85em;
    margin: 0.8em 0;
  }

  ul.menu-root {
    hr {
      margin-top: -4px;
      margin-bottom: 4px;
      width: 85%;
      border: 1px solid #e9e9e9;
      margin-left: -1px;
    }
  }

  .sidebar-link {
    color: $color-light;

    &.current {
      font-weight: 600;
      color: $color-primary;
    }

    &.new &:after {
      content: 'NEW';
      display: inline-block;
      font-size: 10px;
      font-weight: 600;
      color: #fff;
      background-color: $color-primary;
      line-height: 14px;
      padding: 0 4px;
      border-radius: 3px;
      margin-left: 5px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    &:hover { border-bottom: 2px solid $color-primary; }
  }

  .section-link.active {
    font-weight: bold;
    color: $color-primary;
  }
}

/**
* Content
*/
.Content {
  padding: 2.2em 0;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;

  @media #{$screen-medium} {
    &.with-sidebar {
      margin-left: 280px;
    }
  }

  &.api {
    ul {
      padding-left: 1.25em;
      line-height: 1.4em;
    }

    ul, p { margin: .6em 0; }
  }

  img.border {
    border: 1px solid rgba($color-gray, 0.3);
  }

  figure.wide {
    @media #{$screen-large} {
      width: 135%;
      max-width: 135%;
      img, video { max-width: 100%; }
    }
  }

  a.button {
    font-size: .9em;
    color: #fff;
    margin: .2em 0;
    width :180px;
    text-align: center;
    padding: 12px 24px;
    display: inline-block;
    vertical-align: middle;
  }

  table {
    width: 100%;
    text-align: left;
    display: block;
    font-size: 85%;
    border-spacing: 10px;
    overflow-x: auto;
  }

  table td { 
    vertical-align: top;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }

  .light {
    color: $color-light;
  }

  .info {
    font-size: .85em;
    display: inline-block;
    vertical-align: middle;
    width: 280px;
    margin-left: 20px;
  }

  // h2, h3 {
  //   padding-top: 80px;
  // }

  // for ancor links to work with fixed header
  h2:before, h3:before {
    content: '';
    display: block;
    margin-top: -60px;
    height: 60px;
    visibility: hidden;

    @media #{$screen-large} {
      margin-top: -90px;
      height: 90px;
    }
  }

  .post h1,
  > h1 {
    font-size: 1.6em;
    margin: 0 0 0.7em;
  }

  .post h2,
  > h2 {
    font-size: 1.3em;
    margin: 0.5em 0 .4em 0;
    // padding-bottom: .2em;
    // position: relative;
    // border-bottom: 1px solid $color-border;

    // &:before {
    //   content: "#";
    //   color: $color-primary;
    //   position: absolute;
    //   left: -0.7em;
    //   top: -4px;
    //   font-size: 1.2em;
    //   font-weight: bold;
    // }
  }

  .post h3,
  > h3 {
    margin: 3em 0 1.2em;
    position: relative;
    &:before {
      content: "#";
      color: $color-primary;
      position: absolute;
      left: -0.7em;
      top: -2px;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .post h4,
  > h4 {
    font-size: 0.8em;
  }

  .post figure, .post ul, .post ol,
  > figure, > ul, > ol {
    margin: 1.2em 0;
  }

  .post p,
  > p {
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  .post li,
  > ul li,
  > li {
    // @TODO can this safely be removed artur?
    // margin-bottom: 0.5em;
  }

  .post p, .post ul, .post ol,
  > p, > ul, > ol {
    line-height: 1.5em;
  }

  .post ul, .post ol,
  > ul, > ol {
    padding-left: 1.5em;
  }

  a {
    color: $color-primary;
    transition: all .2s;
    // font-weight: 600;
  }

  a:hover {
    color: darken($color-primary, 10%);
    // text-decoration: underline;
  }

  .post blockquote,
  > blockquote {
    margin: 1.6em 0;
    padding-left: 15px;
    border-left: 4px solid $color-primary;

    p {
      font-weight: 600;
      line-height: 1.45;
      margin-left: 0;
    }

    li {
      margin-bottom: 1em;
      line-height: 1.4;
    }
  }

  iframe { margin: 0.7em 0; }

  p.tip {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left: 4px solid $color-red;
    background-color: $color-codebg;
    position: relative;
    border-bottom-right-radius: $size-radius;
    border-top-right-radius: $size-radius;

    &:before {
      position: absolute;
      top: 14px;
      left: -12px;
      background-color: $color-red;
      color: #fff;
      content: '!';
      width: 20px;
      height: 20px;
      border-radius: 100%;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      font-family: $fontFamily-logo;
      font-size: 14px;
    }
  }
}

// Locale page table overrides

.page-docs-locales table {
  overflow: visible;
}
.page-docs-locales .highlight table {
  overflow: auto;
}
.page-docs-locales table td {
  white-space: nowrap;
  font-size: 90%;
}

// Support page table overrides

.page-support table {
  overflow: visible;
}
.page-support .highlight table {
  overflow: scroll;
}
.page-support table tr:first-child td {
  white-space: nowrap;
  font-size: 90%;
}

// Plugin list

body.page-plugin-list .Content ul {
  margin-left: 0;
}

body.page-plugin-list .Content li {
  // list-style: none;
  margin-bottom: 0.5em;
}

// Locales

body.page-docs-locales table code {
  font-size: 75%;
}

.PostAuthor:first-of-type {
  position: relative;
  margin-top: 40px;
}

.PostAuthor:not(:first-of-type) {
  position: relative;
  margin-top: 10px;
}

.PostAuthor-img {
  border-radius: 50%;
  max-width: 50px;
  position: absolute;
}

.PostAuthor-name {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  padding-left: 70px;
  padding-top: 3px;
}

.PostAuthor-tagline {
  margin: 0;
  padding: 0;
  padding-left: 70px;
  font-size: 0.85em;
  color: darken($color-gray, 10%);
}

.guide-links {
  margin-top: 2em;
  height: 1em;
}

.footer {
  color: $color-light;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e5e5e5;
  font-size: .9em;
}

.TryButton, a.TryButton,
.MoreButton, a.MoreButton {
  @include reset-button;
  display: inline-block;
  font-size: 0.8em;
  padding: 7px 16px;
  border: 1px solid $color-primary;
  transition: all .2s;
  color: $color-primary;
  cursor: pointer;
  border-radius: 15px;
  margin: 0.7em 0;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.PostSeries {
  margin: 20px 0;
  padding: 12px 15px;
  background: #f4f4f4;
  border-radius: 3px;
  font-size: 14px;
}
