// font faces
$fontFamily-body : 'PT Root UI', 'Helvetica Neue', Arial, sans-serif;
$fontFamily-logo : 'PT Root UI', 'Helvetica Neue', Arial, sans-serif;
$fontFamily-code : 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', Courier, monospace;

// font sizes
$fontSize-body : 16px;
$fontSize-s    : 15px;
$fontSize-m    : 17px;
$fontSize-l    : 24px;
$fontSize-xl   : 28px;
$fontSize-code : .8em;

// colors
$color-white      : #fff;
$color-black      : #000;
$color-blue       : #2275d7;
$color-darkblue   : #15192a;
$color-dark       : #231f20;
$color-medium     : #34495e;
$color-light      : #7f8c8d;
$color-green      : #42b983;
$color-border     : #dddddd;
$color-codebg     : #f8f8f8;
$color-red        : #ff6666;
$color-gray       : #777;
$color-lightgray  : #adbdbe;
$color-darkgray   : #34393a;
$color-violet     : #492e7c;
$color-orange     : #e96900;
$color-mint       : #02b1ac;
$color-yellow     : #ffd12a;
$color-pink       : #ff3377;
$color-primary    : $color-pink;

// sizes
$size-radius : 2px;
$size-headerHeight: 40px;

// Media queries

// small screen
$screen-medium: 'only screen and (min-width: 1024px)';
$screen-large: 'only screen and (min-width: 1150px)';
