.Stats-info {
  @include clearfix;
}

.Stats-infoText {
  @media #{$screen-large} {
    padding-right: 1em;
  }
  font-size: 1.1em;
}

.Stats-bundleSizes {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;

  th { text-align: left; }
}

a.Stats-package {
  color: #e02177;
}
.Stats-large {
  color: red;
}
.Stats-small {
  color: #3FC33F;
}

.Disc {
  border: 0 none;
  width: 100%;
  min-height: 500px;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.on-the-githubs {
  @include clearfix;
  > li {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 14px;

    p {
      margin: 0;
      padding: 0;
      display: inline-block;
      float: left;
      max-width: 550px;
    }

    abbr {
      display: block;
      margin-bottom: 5px;
      color: $color-light;
      text-decoration: none;

      @media #{$screen-medium} {
        display: inline;
        float: right;
        text-align: right;
        margin-bottom: 0;
      }
    }

    a {
      font-weight: 700;
      text-decoration: none;
      color: inherit;
    }

    img {
      float: left;
      margin: 0 7px 0 0;
      border-radius: 10px;
      width: 20px;
      height: 20px;
    }
  }
}
