.Stats-info {
  @include clearfix;
}

.Stats-infoText {
  @media #{$screen-large} {
    padding-right: 1em;
  }
  font-size: 1.1em;
}

.Stats-bundleSizes {
  margin-bottom: 1em;

  @media #{$screen-large} {
    max-width: 320px;
    float: right;
    margin-right: -320px;
    padding-left: 50px;
  }
}

.Stats-bundleSizes {
  strong.underline {
    display: inline-block;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }

  dl {
    @include clearfix;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }

  dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    a {
      color: #e02177;
    }
  }

  dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    &.red {
      color: red;
    }
    &.green {
      color: #3FC33F;
    }
  }
}

.Disc {
  border: 0 none;
  width: 100%;
  min-height: 500px;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.on-the-githubs {
  @include clearfix;
  > li {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid rgba($color-gray, 0.3);
    margin-bottom: 10px;

    p {
      font-size: 15px;
      margin: 0;
      padding: 0;
      display: inline-block;
      float: left;
      max-width: 550px;
    }

    abbr {
      position: absolute;
      right: 0;
      float: left;
      text-align: right;
    }

    a {
      font-weight: normal;
      text-decoration: underline;
    }

    img {
      float: left;
      margin: 0 5px 0 0;
      border-radius: 10px;
      width: 20px;
      height: 20px;
    }
  }
}
