.Disc {
  border: 0 none;
  width: 100%;
  min-height: 500px;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.Sidebar.Stats {
  strong.underline {
    border-bottom: 1px solid #eee;
  }
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    a {
      color: #e02177;
    }
  }
  dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    &.red {
      color: red;
    }
    &.green {
      color: #3FC33F;
    }
  }
}


.Content .on-the-githubs {
  >li {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    height: 26px;
    clear: both;
    position: relative;
    border-bottom: 1px solid #eee;

    p {
      line-height: 15px;
      font-size: 15px;
      margin: 0;
      padding: 0;
      display: inline-block;
      float: left;
    }

    abbr {
      position: absolute;
      right: 0;
      float: left;
      text-align: right;
    }

    a {
      font-weight: normal;
    }

    img {
      float: left;
      margin: 0 5px 0 0;
      border-radius: 10px;
      width: 20px;
      height: 20px;
    }
  }
}
