.gutter pre {
  color: #999;
}

pre {
  color: #525252;
  // background-color: #f8f8f8 !important;
  // font-size: .8em !important;
  // .token.function, .token.punctuation { color: inherit; }

  // Generic
  .token.comment { color: #b3b3b3; }

  // JS
  .token.keyword { color: #e96900; }
  .token.number, .token.boolean { color: #AE81FF; }
  .token.class-name { color: #2973b7; }
  .token.string { color: $color-green; }

  // HTML
  .token.tag { color: #2973b7; }
  .token.attr-value { color: $color-green; }
}
