{
  "presets": [
    ["es2015", {
      "loose": true
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-assign",
    "es6-promise",
    ["transform-react-jsx", { "pragma":"preact.h" }]
    // "yo-yoify"
  ]
}
