{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    "transform-object-assign",
    "es6-promise",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
