{
  "extends": "standard",
  "env": {
    "browser": true,
    "node": false,
  },
  "globals": {
    "Uppy": true,
  },
  "rules": {
    "key-spacing": [2, { "align": "colon" }],
    "no-multi-spaces": [2, { "exceptions": { "Property": true, "VariableDeclarator": true, "ImportDeclaration": true}}],
    "no-unused-vars": 0
  }
}
