node_modules
lib
dist
coverage
test/lib/**
website/private_modules/hexo-renderer-uppyexamples/node_modules/**
website/public/**
website/src/examples/**/*.html
website/themes/uppy/source/js/smooth-scroll.min.js
website/themes/uppy/source/js/uppy.js
website/themes/uppy/source/uppy/**
test/endtoend/*/build
examples/dev/output
bundle.js
website/src/_posts/201*.md
website/src/_posts/2020-*.md
website/src/_posts/2021-01-*.md
website/src/_posts/2021-02-*.md
website/src/_posts/2021-03-*.md
website/src/_posts/2021-04-*.md
website/src/_posts/2021-05-*.md
website/src/_posts/2021-06-*.md
private/remark-lint-uppy/index.js
