.DS_Store
Thumbs.db
npm-debug.log
node_modules

dist/
lib/

website/db.json
website/*.log
website/node_modules/
website/public/
website/.deploy*/
website/src/_drafts
website/themes/uppy/source/js/uppy.js
