---
layout: false
no-emoji: true
title: Redirecting...
permalink: docs/stats/
alias:
  - guide/stats/
  - stats/
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="/docs/plugins/#package-list">
    <meta http-equiv="refresh" content="0; url=/docs/plugins/#package-list">
  </head>
  <body>
    Redirecting...
    <a href="/docs/plugins/#package-list">Continue</a>
  </body>
</html>

