@import '@uppy/core/dist/style.min.css';
@import '@uppy/dashboard/dist/style.min.css';
@import '@uppy/drag-drop/dist/style.min.css';
@import '@uppy/progress-bar/dist/style.min.css';
input[type='checkbox'] {
  user-select: none;
}
