@import '@uppy/core/src/style.scss';

.uppy-Webcam-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uppy-Webcam-videoContainer {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  background-color: $color-black;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

  .uppy-Dashboard--wide .uppy-Webcam-videoContainer {
    // height: initial;
  }

.uppy-Webcam-video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

  .uppy-Webcam-video--mirrored {
    transform: scaleX(-1);
  }

.uppy-Webcam-buttonContainer {
  width: 100%;
  height: 75px;
  border-top: 1px solid rgba($color-gray, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.uppy-Webcam-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-red;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s;
}

  .uppy-Dashboard--wide .uppy-Webcam-button {
    width: 60px;
    height: 60px;
  }

  .uppy-Webcam-button:hover {
    background-color: darken($color-red, 10%);
  }

  .uppy-Webcam-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($color-cornflower-blue, 0.5);
  }

  .uppy-Webcam-button .UppyIcon {
    width: 30px;
    height: 30px;
  }

.uppy-Webcam-button--picture {
  margin-right: 12px;
}

.uppy-Webcam-permissons {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
}

.uppy-Webcam-Title {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
  color: $color-black;
}

.uppy-Webcam-permissons p {
  text-align: center;
  line-height: 1.45;
  color: $color-gray;
  margin: 0;
}

.uppy-Webcam-permissonsIcon .UppyIcon {
  width: 100px;
  height: 75px;
  color: lighten($color-gray, 15%);
  margin-bottom: 30px;
}
