@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-DragDrop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-family: $font-family-base;
  background-color: $white;
  border-radius: 7px;
  cursor: pointer;

  // firefox fix: removes thin dotted outline
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($blue, 0.4);
  }
}

.uppy-DragDrop-inner {
  margin: 0;
  padding: 80px 20px;
  line-height: 1.4;
  text-align: center;
}

.uppy-DragDrop-arrow {
  width: 60px;
  height: 60px;
  margin-bottom: 17px;
  fill: lighten($gray-500, 30%);
}

.uppy-DragDrop--isDragDropSupported {
  border: 2px dashed lighten($gray-500, 10%);
}

.uppy-DragDrop--isDraggingOver {
  background: $gray-200;
  border: 2px dashed $blue;

  .uppy-DragDrop-arrow {
    fill: $gray-500;
  }
}

.uppy-DragDrop-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.15em;
}

.uppy-DragDrop-browse {
  color: $blue;
  cursor: pointer;
}

.uppy-DragDrop-note {
  color: lighten($gray-500, 10%);
  font-size: 1em;
}
