<li class="nav-dropdown-container">
  <a class="nav-link">Community</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/transloadit/uppy" class="nav-link" target="_blank">GitHub</a></li>
    <li><a href="http://forum.uppyjs.io" class="nav-link" target="_blank">Forum</a></li>
    <li><a href="https://gitter.im/transloadit/uppy" class="nav-link" target="_blank">Chat</a></li>
    <li><a href="https://twitter.com/transloadit" class="nav-link" target="_blank">Twitter</a></li>
  </ul>
</li>
