<li class="nav-dropdown-container">
  <a class="nav-link">Community</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://github.com/transloadit/uppy" class="nav-link" rel="noreferrer noopener" target="_blank">GitHub</a></li>
    <li><a href="https://gitter.im/transloadit/uppy" class="nav-link" rel="noreferrer noopener" target="_blank">Chat</a></li>
    <li><a href="https://twitter.com/uppy_io" class="nav-link" rel="noreferrer noopener" target="_blank">Twitter</a></li>
  </ul>
</li>
