<div id="header">
    <a id="logo" href="/">
        <img src="<%- config.logo_medium %>">
        <span><%- config.title %></span>
    </a>
    <ul id="nav">
        <%- partial('partials/main_menu') %>
    </ul>
</div>
