<!-- @todo uncomment search input when we get our own swifttype -->
<!-- <li>
  <form id="search-form" class="MainMenu-search">
    <input type="text" id="search-query" class="MainMenu-searchQuery st-default-search-input">
  </form>
</li> -->
<li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<li><a href="/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="/examples/cdn/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
<li><a href="https://github.com/transloadit/uppy" class="nav-link">Github</a></li>
