<ul class="Social">
  <li><a href="https://twitter.com/uppy_io" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @uppy_io</a></li>
  <li><iframe src="https://ghbtns.com/github-btn.html?user=transloadit&repo=uppy&type=watch&count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></li>
  <!-- to regenerate you can use this link: https://img.shields.io/badge/community-forum-d8006a.svg -->
  <li><a href="https://community.transloadit.com/c/uppy"><img src="/images/community-forum-d8006a.svg" /> </a></li>
  <li class="BuildBadge">
   <span class="wrapper">
     <a href="https://travis-ci.org/transloadit/uppy"><img src="https://travis-ci.org/transloadit/uppy.svg" alt="Build Status"></a>
   </span>
  </li>
  <li class="SauceBadge">
   <span class="wrapper">
     <a href="https://saucelabs.com/u/transloadit-uppy">
       <img src="https://saucelabs.com/buildstatus/transloadit-uppy" alt="Sauce Test Status"/>
     </a>
   </span>
  </li>
</ul>
