@use '@uppy/core/src/_variables.scss';

.uppy-is-drag-over::after {
  position: fixed;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  // border-radius: 5px;
  z-index: 10000;
  background-color: rgba(variables.$gray-200, 0.5);
  border: 5px dashed variables.$gray-400;
  content: '';
  // prevents flickering (https://stackoverflow.com/a/18582960/3192470)
  pointer-events: none;
}
