.uppy-Dashboard-Item-fileInfo {
  padding-inline-end: 5px;
}
  .uppy-Dashboard-Item-name {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;

    word-break: break-all;
    // Must be present
    // [Practical check] Firefox, '384048411015659...2309520384n.png' filename
    word-wrap: anywhere;

    [data-uppy-theme="dark"] & {
      color: $gray-200;
    }
  }

  .uppy-Dashboard-Item-status {
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    color: $gray-600;

    [data-uppy-theme="dark"] & {
      color: $gray-400;
    }
  }
    .uppy-Dashboard-Item-statusSize {
      display: inline-block;
      vertical-align: bottom;
      text-transform: uppercase;
    }

  .uppy-Dashboard-Item-reSelect {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    color: $blue;
  }
  // ...uppy-Dashboard-Item-status|
// ...uppy-Dashboard-Item-fileInfo|
