.uppy-DashboardItem-fileInfo {
  padding-right: 5px;
}
  .uppy-DashboardItem-name {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 4px;

    word-break: break-all;
    // Must be present
    // [Practical check] Firefox, '384048411015659...2309520384n.png' filename
    word-wrap: anywhere;
  }

  .uppy-DashboardItem-status {
    font-size: 11px;
    line-height: 1.3;
    font-weight: normal;
    color: $gray-600;
  }
    .uppy-DashboardItem-statusSize {
      display: inline-block;
      vertical-align: bottom;
      text-transform: uppercase;
    }
    .uppy-DashboardItem-sourceIcon {
      display: inline-block;
      vertical-align: bottom;
      color: $gray-400;
      &:not(:first-child) {
        position: relative;
        margin-left: 14px;
      }
      svg,
      svg * {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: text-bottom;
        overflow: hidden;
        fill: currentColor;
        width: 11px;
        height: 12px;
      }
    }
  // ...uppy-DashboardItem-status|
// ...uppy-DashboardItem-fileInfo|
