---
title: Bundle & i18n
layout: example
type: examples
order: 4
---

{% blockquote %}
Here you’ll see a demo of how you might use internationalization (i18n) in Uppy, as well as how to load Uppy using a pre-bundled version (CDN).
{% endblockquote %}

<link rel="stylesheet" href="app.css">
<% include app.html %>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  To load the pre-built bundle (from a CDN) we’re using the following HTML and JavaScript:
</p>
{% include_code lang:html i18n/app.html %}
