@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-ScreenCapture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.uppy-ScreenCapture-videoContainer {
  position: relative;
  flex: 1;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: $gray-800;

  .uppy-size--md & {
    max-width: 100%;
  }
}

.uppy-ScreenCapture-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  outline: 0;
}

.uppy-ScreenCapture-buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  background-color: $white;
  border-top: 1px solid $gray-200;

  [data-uppy-theme='dark'] & {
    background-color: $gray-900;
    border-top: 1px solid $gray-800;
  }
}

.uppy-ScreenCapture-button {
  @include blue-border-focus;

  width: 45px;
  height: 45px;
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  [data-uppy-theme='dark'] & {
    @include blue-border-focus--dark;
  }

  .uppy-size--md & {
    width: 60px;
    height: 60px;
  }

  &:hover {
    background-color: darken($red, 5%);
  }
}

.uppy-ScreenCapture-button svg {
  display: inline-block;
  width: 30px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
  overflow: hidden;
  vertical-align: text-top;
  fill: currentColor;
}

.uppy-ScreenCapture-button--submit {
  margin-left: 12px;
  background-color: $blue;

  &:hover {
    background-color: darken($blue, 5%);
  }

  &:disabled {
    background-color: $gray-500;
    cursor: default;
  }

  &:disabled:hover {
    background-color: $gray-200;
  }
}

.uppy-ScreenCapture-title {
  max-width: 500px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 15px;
  color: $gray-800;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.35;
  text-align: center;
}

.uppy-ScreenCapture-icon--stream {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 1rem;

  svg {
    fill: $gray-500;
  }
}

.uppy-ScreenCapture-icon--streamActive svg {
  animation: uppy-ScreenCapture-icon--blink 1s cubic-bezier(0.47, 0, 0.75, 0.72)
    infinite;
}

@keyframes uppy-ScreenCapture-icon--blink {
  0% {
    fill: $blue;
  }
  50% {
    fill: $gray-500;
  }
  100% {
    fill: $blue;
  }
}

.uppy-ScreenCapture-button--video {
  color: $white;
  background: $red;

  &:hover {
    background-color: darken($red, 10%);
  }
}
