@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-Capture-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uppy-Capture-videoContainer {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  background-color: $gray-800;
  text-align: center;
  position: relative;

  .uppy-size--md & {
    max-width: 100%;
  }
}

.uppy-Capture-video {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.uppy-Capture-buttonContainer {
  width: 100%;
  height: 75px;
  border-top: 1px solid $gray-200;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: $white;
}

.uppy-Capture-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;

  .uppy-size--md & {
    width: 60px;
    height: 60px;
  }

  &:hover {
    background-color: darken($red, 5%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($blue, 0.5);
  }
}

.uppy-Capture-button svg {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
  fill: currentColor;
}

.uppy-Capture-button--picture {
  margin-right: 12px;
}

.uppy-Capture-button.submit {
  background-color: $blue;
}

.uppy-Capture-button.submit:hover {
  background-color: darken($blue, 5%);
}

.uppy-Capture-button.submit:disabled {
  background-color: $gray-500;
  cursor: default;
}

.uppy-Capture-button.submit:disabled:hover { 
  background-color: $gray-200;
}

.uppy-Capture-permissons {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  flex: 1;
}

.uppy-Capture-permissons p {
  max-width: 450px;
  line-height: 1.3;
}

.uppy-Capture-title {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
  color: $gray-800;
}

.uppy-Capture-permissons p {
  text-align: center;
  line-height: 1.45;
  color: $gray-500;
  margin: 0;
}

.uppy-Capture-permissonsIcon svg {
  width: 100px;
  height: 75px;
  color: $gray-400;
  margin-bottom: 30px;
}

.uppy-Capture-icon--stream {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  z-index:1;
}

.uppy-Capture video {
  outline: 0;
}

.uppy-Capture-icon--stream svg {
  fill: $gray-500;
}

.uppy-Capture-icon--stream.is-active svg {
  animation: uppy-Capture-icon--blink 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
}

@keyframes uppy-Capture-icon--blink {
  0% { fill: $blue;} 
  50% { fill: $gray-500; }
  100% { fill: $blue; }
}

.uppy-Capture-button--video {
  color: $white;
  background: $red;

  &:hover {
    background-color: darken($red, 10%);
  }
}

// .uppy-Capture-button--start-rec {
//   color: $white;
// }

// .uppy-Capture-button--stop-rec {
//   color: $black;
// }



