---
title: Dropbox
layout: example
type: examples
order: 1
---

{% blockquote %}
Dropbox
{% endblockquote %}

<p>
  Here you'll see a demo of how you might set up Dropbox with Uppy:
</p>

<link rel="stylesheet" href="css/app.css">
<% include html/app.html %>
<script src="js/app.js"></script>

<hr />

<p id="console-wrapper">
  Console output: <br />
</p>

<p>
  On this page we're using the following HTML snippet:
</p>
{% include_code lang:html dropbox/html/app.html %}

<p>
  Along with this JavaScript:
</p>
{% include_code lang:js dropbox/js/app.es6 %}

<p>
  And the following CSS:
</p>
{% include_code lang:css dropbox/css/app.css %}
