---
title: Modal
layout: example
type: examples
order: 5
---

{% blockquote %}
This is a demo of the Uppy Modal.
{% endblockquote %}

<link rel="stylesheet" href="app.css">
<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  On this page we're using the following HTML snippet:
</p>
{% include_code lang:html dropbox/app.html %}

<p>
  Along with this JavaScript:
</p>
{% include_code lang:js dropbox/app.es6 %}

<p>
  And the following CSS:
</p>
{% include_code lang:css dropbox/app.css %}
