@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-DashboardContent-panelBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.uppy-Provider-auth,
.uppy-Provider-error,
.uppy-Provider-loading,
.uppy-Provider-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex: 1;
}

.uppy-Provider-authIcon svg {
  width: 100px;
  height: 75px;
  margin-bottom: 15px;
}

.uppy-Provider-authTitle {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;

  .uppy-size--md & {
    font-size: 20px;
  }
}

.uppy-Provider-breadcrumbs {
  display: inline-block;
  flex: 1;
  color: darken($color-gray, 25%);
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: left;

  .uppy-size--md & {
    margin-bottom: 0;
  }
}

.uppy-Provider-breadcrumbsIcon {
  display: inline;
  color: darken($color-gray, 25%);
  vertical-align: text-bottom;
  margin-right: 8px;
  line-height: 1;
}

  .uppy-Provider-breadcrumbsIcon svg {
    width: 13px;
    height: 13px;
    fill: darken($color-gray, 25%);
  }

.uppy-Provider-breadcrumbs button {
  display: inline-block;
  font-size: 14px;
}

.uppy-Provider-breadcrumbs button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.uppy-ProviderBrowser {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
}

.uppy-ProviderBrowser-user {
  margin: 0 8px 0 0;
  line-height: 1;
}

  .uppy-ProviderBrowser-user:after {
    content: '\00B7';
    position: relative;
    left: 4px;
  }

.uppy-ProviderBrowser-header {
  z-index: $zIndex-2;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  position: relative;
}

.uppy-ProviderBrowser-headerBar {
  padding: 12px 15px;
  background-color: lighten($color-gray, 40%);
  z-index: $zIndex-2;
  color: darken($color-gray, 20%);
  line-height: 1;

  .uppy-size--md & {
    display: flex;
    align-items: center;
    // height: 40px;
    // line-height: 40px;
    padding: 12px 15px;
  }
}

  .uppy-ProviderBrowser-headerBar--simple {
    text-align: center;
    display: block;
    justify-content: center;
  }

  .uppy-ProviderBrowser-headerBar--simple .uppy-Provider-breadcrumbsWrap {
    flex: none;
    display: inline-block;
    vertical-align: middle;
  }

.uppy-ProviderBrowser-search {
  width: 100%;
  background-color: $color-white;
  position: relative;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.uppy-ProviderBrowser-searchIcon {
  width: 16px;
  height: 16px;
  z-index: $zIndex-3;
  color: rgba($color-gray, 0.6);
  margin-left: 16px;
  margin-right: 7px;
}

.uppy-ProviderBrowser-searchInput {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: 0;
  font-family: $font-family-base;
  font-size: 13px;
  line-height: 30px;
  border: 0;
  margin: 0 16px 0 0;
  z-index: $zIndex-2;
  border-bottom: 1px solid transparent;
}

  .uppy-ProviderBrowser-searchInput:focus {
    outline: 0;
    border-bottom: 1px solid $color-cornflower-blue;
  }

.uppy-ProviderBrowser-searchClose {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 8px;
  z-index: $zIndex-3;
  color: $color-gray;
  cursor: pointer;
}

  .uppy-ProviderBrowser-searchClose svg {
    vertical-align: text-top;
  }

.uppy-ProviderBrowser-searchInput::placeholder,
.uppy-ProviderBrowser-searchInput::-webkit-input-placeholder,
.uppy-ProviderBrowser-searchInput::-moz-placeholder,
.uppy-ProviderBrowser-searchInput::-ms-input-placeholder {
  color: rgba($color-gray, 0.85);
  letter-spacing: 1px;
}

.uppy-ProviderBrowser-userLogout {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.uppy-ProviderBrowser-body {
  flex: 1;
  position: relative;
}

.uppy-ProviderBrowser-list {
  flex: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.uppy-ProviderBrowserItem-inner {
  cursor: pointer;
  font-weight: 600;
}

// ***
// View type: list
// ***

.uppy-ProviderBrowser-viewType--list {
  background-color: $color-white;

  .uppy-ProviderBrowserItem {
    display: flex;
    padding: 10px 15px;
    margin: 0;
  }

  .uppy-ProviderBrowserItem-checkbox {
    vertical-align: middle;
  }

    .uppy-ProviderBrowserItem-checkbox label:before {
      border-color: rgba($color-asphalt-gray, 0.4);
    }

    .uppy-ProviderBrowserItem-checkbox input:checked + label:before {
      border-color: $color-cornflower-blue;
    }

  .uppy-ProviderBrowserItem-inner {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    line-height: 1.4;
  }

  .uppy-ProviderBrowserItem-inner img,
  .uppy-ProviderBrowserItem-inner svg {
    vertical-align: middle;
    margin-right: 8px;
    max-width: 20px;
    max-height: 20px;
  }
}

// ***
// View type: grid
// ***

.uppy-ProviderBrowser-viewType--grid {

  .uppy-ProviderBrowser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px;
  }

  .uppy-ProviderBrowser-list:after {
    content: '';
    flex: auto;
  }

  .uppy-ProviderBrowserItem {
    display: inline-block;
    width: 50%;
    position: relative;
    margin: 0;
  }

    .uppy-ProviderBrowserItem:before {
      content: '';
      padding-top: 100%;
      display: block;
    }

    // .uppy-ProviderBrowserItem--selected {
    //   border-color: $color-cornflower-blue;
    //   outline: none;
    // }

    // .uppy-ProviderBrowserItem--selected .uppy-ProviderBrowserItem-inner {
    //   box-shadow: 0 0 0 3px rgba(darken($color-cornflower-blue, 10%), 0.9);
    // }

  .uppy-ProviderBrowserItem-inner {
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    text-align: center;
  }

  .uppy-ProviderBrowserItem-inner:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-cornflower-blue, 0.9);
  }

  .uppy-ProviderBrowserItem img,
  .uppy-ProviderBrowserItem svg {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .uppy-ProviderBrowserItem--noPreview .uppy-ProviderBrowserItem-inner {
    background-color: rgba($color-gray, 0.3);
  }

  .uppy-ProviderBrowserItem--noPreview svg {
    fill: rgba($color-black, 0.7);
    width: 30%;
    height: 30%;
  }

  .uppy-ProviderBrowserItem-checkbox {
    position: absolute;
    top: 13px;
    right: 22px;
    margin-right: 0;
    opacity: 0.95;
    z-index: $zIndex-3;
  }

  .uppy-ProviderBrowserItem-checkbox label:before {
    background-color: $color-cornflower-blue;
    border-radius: 50%;
    width: 26px;
    height: 26px;
  }

  .uppy-ProviderBrowserItem-checkbox label:after {
    width: 12px;
    height: 7px;
    left: 7px;
    top: 10px;
  }

  // Hide checkbox when unchecked in grid view
  .uppy-ProviderBrowserItem-checkbox input + label {
    opacity: 0;
  }

  // Unhide the checkbox on the checked state
  .uppy-ProviderBrowserItem-checkbox input:checked + label {
    opacity: 1;
  }

}

.uppy-size--md .uppy-ProviderBrowser-viewType--grid .uppy-ProviderBrowserItem {
  width: 33.3333%;
}

.uppy-size--lg .uppy-ProviderBrowser-viewType--grid .uppy-ProviderBrowserItem {
  width: 25%;
}

.uppy-ProviderBrowserItem-checkbox input {
  opacity: 0;
}

// https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
.uppy-ProviderBrowserItem-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.uppy-ProviderBrowserItem-checkbox label {
  display: block;
}

.uppy-ProviderBrowserItem-checkbox label::before,
.uppy-ProviderBrowserItem-checkbox label::after {
  position: absolute;
  cursor: pointer;
}

// Outer circle
.uppy-ProviderBrowserItem-checkbox label:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  top: 2px;
  border: 1px solid $color-cornflower-blue;
  background-color: $color-white;
  border-radius: 2px;
}

// Inner checkbox
.uppy-ProviderBrowserItem-checkbox label:after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 8px;
  left: 5px;
  top: 8px;
  border-left: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  transform: rotate(-45deg);
}

// Hide the checkmark by default
.uppy-ProviderBrowserItem-checkbox input + label::after {
  content: none;
}

// Unhide the checkmark on the checked state
.uppy-ProviderBrowserItem-checkbox input:checked + label::after {
  content: '';
}

.uppy-ProviderBrowserItem-checkbox input:checked + label::before {
  background-color: $color-cornflower-blue;
}

// Adding focus styles on the outer-box of the fake checkbox*/
.uppy-ProviderBrowserItem-checkbox input:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.uppy-ProviderBrowser-footer {
  display: flex;
  align-items: center;
  background: $color-white;
  height: 65px;
  border-top: 1px solid rgba($color-gray, 0.3);
  padding: 0 15px;

  & button {
    margin-right: 10px;
  }
}
