@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import './style/uppy-ProviderBrowser-viewType--grid';
@import './style/uppy-ProviderBrowser-viewType--list';
@import './style/uppy-ProviderBrowserItem-checkbox';
@import './style/uppy-SearchProvider-input.scss';

.uppy-DashboardContent-panelBody {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

.uppy-Provider-auth,
.uppy-Provider-error,
.uppy-Provider-loading,
.uppy-Provider-empty {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: $gray-500;
}

.uppy-Provider-empty {
  color: $gray-500;
}

.uppy-Provider-authIcon svg {
  width: 100px;
  height: 75px;
  margin-bottom: 15px;
}

.uppy-Provider-authTitle {
  max-width: 500px;
  margin-bottom: 30px;
  padding: 0 15px;
  color: $gray-600;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  text-align: center;

  .uppy-size--md & {
    font-size: 20px;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-300;
  }
}

.uppy-Provider-btn-google {
  display: flex;
  align-items: center;
  padding: 8px 12px !important;
  background: #4285F4;

  &:hover {
    background-color: darken(#4285F4, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(#4285F4, 0.4);
  }

  svg {
    margin-right: 8px;
  }
}

.uppy-Provider-breadcrumbs {
  flex: 1;
  margin-bottom: 10px;
  color: $gray-700;
  font-size: 12px;
  text-align: start;

  .uppy-size--md & {
    margin-bottom: 0;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}

.uppy-Provider-breadcrumbsIcon {
  display: inline-block;
  color: $gray-700;
  line-height: 1;
  vertical-align: middle;
  margin-inline-end: 4px;
}

.uppy-Provider-breadcrumbsIcon svg {
  width: 13px;
  height: 13px;
  fill: $gray-700;
}

.uppy-Provider-breadcrumbs button {
  @include highlight-focus;

  display: inline-block;
  // for focus
  padding: 4px;
  line-height: inherit;
  border-radius: 3px;

  &:not(:last-of-type) {
    text-decoration: underline;
  }

  &:last-of-type {
    color: $gray-800;
    font-weight: 500;
    cursor: normal;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}
// ...uppy-Provider-breadcrumbs|

.uppy-ProviderBrowser {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
}

.uppy-ProviderBrowser-user {
  margin: 0 8px 0 0;
  color: $gray-800;
  font-weight: 500;

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}

.uppy-ProviderBrowser-user::after {
  position: relative;
  color: $gray-500;
  font-weight: normal;
  content: '\00B7';
  inset-inline-start: 4px;
}

.uppy-ProviderBrowser-header {
  position: relative;
  z-index: $zIndex-2;
  border-bottom: 1px solid $gray-200;

  [data-uppy-theme="dark"] & {
    border-bottom: 1px solid $gray-800;
  }
}

.uppy-ProviderBrowser-headerBar {
  z-index: $zIndex-2;
  padding: 7px 15px;
  color: $gray-600;
  font-size: 12px;
  line-height: 1.4;
  background-color: $gray-50;

  .uppy-size--md & {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

.uppy-ProviderBrowser-headerBar--simple {
  display: block;
  justify-content: center;
  text-align: center;
}

.uppy-ProviderBrowser-headerBar--simple .uppy-Provider-breadcrumbsWrap {
  display: inline-block;
  flex: none;
  vertical-align: middle;
}

// Filter

.uppy-ProviderBrowser-filter {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: $white;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

.uppy-ProviderBrowser-filterIcon {
  position: absolute;
  z-index: $zIndex-3;
  width: 12px;
  height: 12px;
  color: $gray-400;
  inset-inline-start: 16px;
}

.uppy-ProviderBrowser-filterInput {
  z-index: $zIndex-2;
  width: 100%;
  height: 30px;
  margin: 0 8px;
  font-size: 12px;
  font-family: $font-family-base;
  line-height: 1.4;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding-inline-start: 27px;

  [data-uppy-theme="dark"] & {
    color: $gray-200;
    background-color: $gray-900;
  }
}

.uppy-ProviderBrowser-filterInput:focus {
  background-color: $gray-100;
  outline: 0;

  [data-uppy-theme="dark"] & {
    background-color: $gray-800;
  }
}

.uppy-ProviderBrowser-filterInput::placeholder {
  color: $gray-500;
  opacity: 1;
}

// Search

.uppy-ProviderBrowser-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.uppy-ProviderBrowser-searchInput {
  z-index: $zIndex-2;
  width: 100%;
  height: 30px;
  font-size: 13px;
  font-family: $font-family-base;
  line-height: 1.4;
  background-color: $gray-200;
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding-inline-start: 30px;
  color: $gray-800;

  [data-uppy-theme="dark"] & {
    color: $gray-200;
    background-color: $gray-900;
  }
}

.uppy-ProviderBrowser-searchInput:focus {
  background-color: $gray-300;
  outline: 0;

  [data-uppy-theme="dark"] & {
    background-color: $gray-800;
  }
}

.uppy-ProviderBrowser-searchIcon {
  position: absolute;
  z-index: $zIndex-3;
  width: 12px;
  height: 12px;
  color: $gray-600;
  inset-inline-start: 10px;
}

.uppy-ProviderBrowser-searchInput::placeholder {
  color: $gray-500;
  opacity: 1;
}

.uppy-ProviderBrowser-userLogout {
  @include highlight-focus;
  // for focus
  padding: 4px;
  color: $blue;
  line-height: inherit;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}

.uppy-ProviderBrowser-body {
  position: relative;
  flex: 1;
}

.uppy-ProviderBrowser-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  background-color: $white;
  border-spacing: 0;
  -webkit-overflow-scrolling: touch;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }

  &:focus {
    outline: none;
  }
}

.uppy-ProviderBrowserItem-inner {
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.uppy-ProviderBrowser-footer {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 15px;
  background-color: $white;
  border-top: 1px solid $gray-200;

  & button {
    margin-inline-end: 8px;
  }

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
    border-top: 1px solid $gray-800;
  }
}
