@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-Informer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 1;
  transform: none;
  transition: all 250ms ease-in;
  z-index: $zIndex-5;
}

  .uppy-Informer[aria-hidden=true] {
    opacity: 0;
    transform: translateY(350%);
    transition: all 300ms ease-in;
    z-index: $zIndex-negative;
  }

.uppy-Informer p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  padding: 6px 15px;
  background-color: $gray-600;
  color: $white;
  border-radius: 18px;
  max-width: 90%;

  .uppy-size--md & {
    font-size: 14px;
    line-height: 1.3;
    max-width: 500px;
    padding: 10px 20px;
  }

  [data-uppy-theme="dark"] & {
    background-color: $gray-800;
  }
}

.uppy-Informer span {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  color: $gray-700;
  background-color: $white;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: 3px;
  font-size: 10px;
  margin-left: -1px;
}

  .uppy-Informer span:hover {
    cursor: help;
  }

  .uppy-Informer span:after {
    line-height: 1.3;
    word-wrap: break-word;
  }
