@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';

.uppy-Informer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  // padding: 0 15px;
  // height: 25px;
  // line-height: 25px;

  opacity: 1;
  transform: none;
  transition: all 250ms ease-in;
  z-index: $zIndex-5;
  // border-radius: 18px;
  // max-width: 100%;
  // margin: auto;
  

  // .uppy-size--md & {
  //   height: 35px;
  //   line-height: 35px;
  //   font-size: 12px;
  //   // max-width: 500px;
  //   padding: 0 15px;
  // }
}

  .uppy-Informer[aria-hidden=true] {
    opacity: 0;
    transform: translateY(350%);
    transition: all 300ms ease-in;
    z-index: $zIndex-negative;
  }

.uppy-Informer p {
  display: inline-block;
  margin: 0;
  padding: 0;
  // height: 25px;
  // line-height: 25px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  padding: 6px 15px;
  background-color: rgba($color-asphalt-gray, 0.8); /* no !important */
  color: $color-white;
  border-radius: 18px;
  max-width: 90%;

  .uppy-size--md & {
    font-size: 14px;
    line-height: 1.3;
    max-width: 500px;
    padding: 10px 20px;
  }
}

.uppy-Informer span {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  color: $color-asphalt-gray;
  background-color: $color-white;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: 3px;
  font-size: 10px;
  margin-left: -1px;
}

  .uppy-Informer span:hover {
    cursor: help;
  }

  .uppy-Informer span:after {
    line-height: 1.3;
    word-wrap: break-word;
  }
