---
title: CDN
type: examples
order: 0
permalink: examples/
---

{% blockquote %}
CDN
{% endblockquote %}

<p>
This example showcases sourcing an UMD dist build straight from a CDN.
</p>

<% include cdn/src/html/app.html %>
<script src="cdn/static/js/app.js"></script>

<hr />

<p>
  On this page we're using the following HTML snippet:
</p>

{% include_code lang:html cdn/src/html/app.html %}

<p>
  Along with this JavaScript:
</p>

{% include_code lang:js cdn/src/js/app.js %}
