---
title: CDN
type: examples
order: 0
permalink: examples/
---

{% blockquote %}
CDN
{% endblockquote %}

<p>
This example showcases sourcing an UMD dist build straight from a CDN.
</p>

<p>
We're executing the following HTML snippet:
</p>

{% include_code app.html lang:html playground/src/html/app.htmls %}
<% include playground/src/html/app.htmls %>

<p>
We're sourcing the following JS snippet:
</p>

{% include_code app.js lang:js playground/src/js/app.js %}
<script src="playground/static/js/app.js"></script>

<p>
: )
</p>
