---
title: CDN
type: examples
order: 0
permalink: examples/
---

{% blockquote %}
CDN
{% endblockquote %}

<p>
This example showcases sourcing an UMD dist build straight from a CDN.
</p>

<p>
On this page we're using the following HTML snippet:
</p>

{% include_code &nbsp; lang:html cdn/src/html/app.htmls %}
<% include cdn/src/html/app.htmls %>

<p>
Along with this JavaScript:
</p>

{% include_code &nbsp; lang:js cdn/src/js/app.js %}
<script src="cdn/static/js/app.js"></script>

Here you see the result in action:

<p>
: )
</p>
