---
title: Dropbox
type: examples
order: 1
---

{% blockquote %}
Dropbox
{% endblockquote %}

<p>
Here you'll see a demo of how you might set up Dropbox with Uppy:
</p>

<% include dropbox/src/html/app.htmls %>
<script src="dropbox/static/js/app.js"></script>

<hr />

<p>
  On this page we're using the following HTML snippet:
</p>

{% include_code &nbsp; lang:html dropbox/src/html/app.htmls %}

<p>
  Along with this JavaScript:
</p>

{% include_code &nbsp; lang:js dropbox/src/js/app.js %}
