@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import '@uppy/informer/src/style.scss';
@import '@uppy/status-bar/src/style.scss';
@import '@uppy/provider-views/src/style.scss';

// transitions //

.uppy-transition-slideDownUp-enter {
  opacity: 0.01;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.uppy-transition-slideDownUp-enter.uppy-transition-slideDownUp-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.uppy-transition-slideDownUp-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.uppy-transition-slideDownUp-leave.uppy-transition-slideDownUp-leave-active {
  opacity: 0.01;
  transform: translate3d(0, -105%, 0);
}

// end transitions //

.uppy-Dashboard--modal {
  z-index: $zIndex-2;
}

  .uppy-Dashboard--modal[aria-hidden=true] {
    display: none;
  }

  // Modal open/close animations

  @keyframes uppy-Dashboard-fadeIn {
    from { opacity: 0;  }
    to { opacity: 1;  }
  }

  @keyframes uppy-Dashboard-fadeOut {
    from { opacity: 1;  }
    to { opacity: 0;  }
  }

  @keyframes uppy-Dashboard-slideDownAndFadeIn {
    from { transform: translate3d(-50%, -70%, 0); opacity: 0; }
    to { transform: translate3d(-50%, -50%, 0); opacity: 1; }
  }

    @keyframes uppy-Dashboard-slideDownAndFadeIn--small {
      from { transform: translate3d(0, -20%, 0); opacity: 0; }
      to { transform: translate3d(0, 0, 0); opacity: 1; }
    }

  @keyframes uppy-Dashboard-slideUpFadeOut {
    from { transform: translate3d(-50%, -50%, 0); opacity: 1; }
    to { transform: translate3d(-50%, -70%, 0); opacity: 0; }
  }

    @keyframes uppy-Dashboard-slideUpFadeOut--small {
      from { transform: translate3d(0, 0, 0); opacity: 1; }
      to { transform: translate3d(0, -20%, 0); opacity: 0; }
    }

  .uppy-Dashboard--modal.uppy-Dashboard--animateOpenClose > .uppy-Dashboard-inner {
    animation: uppy-Dashboard-slideDownAndFadeIn--small 0.3s cubic-bezier(0, 0, .2, 1);

    @media #{$screen-medium} {
      animation: uppy-Dashboard-slideDownAndFadeIn 0.3s cubic-bezier(0, 0, .2, 1);
    }
  }

  .uppy-Dashboard--modal.uppy-Dashboard--animateOpenClose > .uppy-Dashboard-overlay {
    animation: uppy-Dashboard-fadeIn 0.3s cubic-bezier(0, 0, .2, 1);
  }

  .uppy-Dashboard--modal.uppy-Dashboard--animateOpenClose.uppy-Dashboard--isClosing > .uppy-Dashboard-inner {
    animation: uppy-Dashboard-slideUpFadeOut--small 0.3s cubic-bezier(0, 0, .2, 1);

    @media #{$screen-medium} {
      animation: uppy-Dashboard-slideUpFadeOut 0.3s cubic-bezier(0, 0, .2, 1);
    }
  }

  .uppy-Dashboard--modal.uppy-Dashboard--animateOpenClose.uppy-Dashboard--isClosing > .uppy-Dashboard-overlay {
    animation: uppy-Dashboard-fadeOut 0.3s cubic-bezier(0, 0, .2, 1);
  }

// Added to body to prevent the page from scrolling when Modal is open
.uppy-Dashboard-isFixed {
  overflow: hidden;
  height: 100vh;
}

.uppy-Dashboard--modal .uppy-Dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.uppy-Dashboard-inner {
  position: relative;
  background-color: $color-almost-white;
  max-width: 100%; /* no !important */
  max-height: 100%; /* no !important */
  // min-width: 290px;
  // min-height: 450px is required for everything to fit on mobile
  min-height: 450px;
  outline: none;
  border: 1px solid rgba($color-gray, 0.2);
  border-radius: 5px;

  .uppy-size--md & {
    min-height: auto;
  }

  @media #{$screen-medium} {
    width: 750px; /* no !important */
    height: 550px; /* no !important */
  }

  .uppy-Dashboard--modal & {
    z-index: $zIndex-3;
  }
}

.uppy-Dashboard-innerWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  opacity: 0;
}

  .uppy-Dashboard--isInnerWrapVisible .uppy-Dashboard-innerWrap{
    opacity: 1;
  }

.uppy-Dashboard--modal .uppy-Dashboard-inner {
  position: fixed;
  top: 35px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: none;

  @media #{$screen-medium} {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px 4px rgba($color-black, 0.15);
  }
}

.uppy-Dashboard-close {
  display: block;
  position: absolute;
  top: -33px;
  right: -2px;
  cursor: pointer;
  color: rgba($color-white, 0.9);
  font-size: 27px;
  z-index: $zIndex-5;

  @media #{$screen-medium} {
    font-size: 35px;
    top: -10px;
    right: -35px;
  }
}

.uppy-DashboardAddFiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
  flex: 1;
}

.uppy-DashboardTabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .uppy-size--md & {
    align-items: center;
  }
}

.uppy-DashboardTabs-title {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $color-asphalt-gray;

  .uppy-size--md & {
    font-size: 17px;
    line-height: 40px;
  }
}

.uppy-DashboardAddFiles-info {
  padding-top: 15px;
  padding-bottom: 15px;

  .uppy-size--md & {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.uppy-Dashboard-browse {
  @include reset-button;
  cursor: pointer;
  color: rgba($color-cornflower-blue, 0.9);
}

  .uppy-Dashboard-browse:focus {
    outline: none;
    border-bottom: 2px solid $color-cornflower-blue;
  }

.uppy-DashboardTabs-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 10px;
  padding: 2px 0;

  .uppy-size--md & {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    overflow-x: initial;
    margin-top: 30px;
    padding-top: 0;
  }
}

.uppy-DashboardTab {
  width: 100%;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid rgba($color-gray, 0.2);
  padding: 0px 2px;

  .uppy-size--md & {
    width: initial;
    margin-bottom: 20px;
    border-bottom: initial;
    padding: 0;
  }
}

.uppy-DashboardTab-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  color: darken($color-gray, 25%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  line-height: 1;

  .uppy-size--md & {
    width: 80px;
    margin: 0 5px;
    flex-direction: column;
    padding: 0;
  }
}

  .uppy-DashboardTab-btn:hover {
    color: $color-cornflower-blue;
  }

  .uppy-DashboardTab-btn:focus {
    outline-offset: 0;
    .uppy-size--md & {
      outline-offset: $size-focus-offset;
    }
  }

  .uppy-DashboardTab-btn svg {
    margin-right: 10px;

    .uppy-size--md & {
      margin-right: 0;
    }
  }

  .uppy-DashboardTab-btn svg {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: text-top;
    overflow: hidden;
    transition: transform ease-in-out 0.2s;
  }

  .uppy-DashboardTab-btn:hover svg {
    transform: translateZ(0) scale(1.1, 1.1);
  }

.uppy-DashboardTab-name {
  font-size: 14px;
  font-weight: 500;

  .uppy-size--md & {
    font-size: 11px;
    line-height: 14px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.uppy-DashboardTab svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;

  .uppy-size--md & {
    width: 27px;
    height: 27px;
  }
}

.uppy-Dashboard-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uppy-DashboardContent-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  z-index: $zIndex-4;
  background-color: $color-almost-white;
  padding: 0 10px;

  .uppy-size--md & {
    height: 50px;
    padding: 0 15px;
  }
}

.uppy-DashboardContent-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  font-weight: normal;
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin: auto;

  .uppy-size--md & {
    font-size: 14px;
    line-height: 50px;
    max-width: 300px;
  }
}

.uppy-DashboardContent-back {
  @include reset-button;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: $color-cornflower-blue;

  .uppy-size--md & {
    font-size: 15px;
  }
}

.uppy-DashboardContent-addMore {
  @include reset-button;
  font-weight: 500;
  cursor: pointer;
  color: $color-cornflower-blue;
  stroke: $color-cornflower-blue;
  stroke-width: 0.7px;
  width: 13px;
  height: 13px;

  .uppy-size--md & {
    width: 15px;
    height: 15px;
  }
}

  .uppy-DashboardContent-addMore svg {
    vertical-align: text-top;
  }

.uppy-DashboardContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darken($color-white, 4%);
  overflow: hidden;
  z-index: $zIndex-5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.uppy-Dashboard-AddFilesPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-almost-white;
  background: linear-gradient(0deg, $color-almost-white 35%, rgba($color-almost-white, 0.85) 100%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  overflow: hidden;
  z-index: $zIndex-5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

  .uppy-Dashboard--isAddFilesPanelVisible .uppy-Dashboard-files {
    filter: blur(2px);
  }

// Progress bar placeholder

.uppy-Dashboard-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.uppy-Dashboard-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.uppy-Dashboard-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}

.uppy-Dashboard-filesContainer {
  @include clearfix;
  position: relative;
  overflow-y: hidden;
  margin: 0;
  flex: 1;
}

.uppy-Dashboard-files {
  margin: 0;
  padding: 0 0 10px 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

  .uppy-size--md .uppy-Dashboard-files {
    padding-top: 10px;
  }

.uppy-Dashboard.drag .uppy-Dashboard-innerWrap {
  background-color: darken($color-almost-white, 25%)
}

.uppy-Dashboard.drag .uppy-Dashboard-AddFilesPanel {
  background: darken($color-almost-white, 20%)
}

.uppy-Dashboard.drag .uppy-Dashboard-files--noFiles {
  border-color: darken($color-almost-white, 20%);
}

.uppy-Dashboard-dropFilesTitle {
  max-width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  color: $color-asphalt-gray;
  margin: auto;
  padding: 0 15px;
  padding-top: 20px;

  .uppy-size--md & {
    max-width: 400px;
    font-size: 27px;
  }
}

.uppy-Dashboard-note {
  font-size: 13px;
  line-height: 1.25;
  text-align: center;
  color: rgba($color-asphalt-gray, 0.8);
  max-width: 350px;
  margin: auto;
  padding: 0 15px;

  .uppy-size--md & {
    font-size: 16px;
    line-height: 1.35;
    max-width: 600px;
  }
}

a.uppy-Dashboard-poweredBy {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  color: $color-gray;
  text-decoration: none;
  margin-top: 8px;
}

.uppy-Dashboard-poweredByIcon {
  stroke: $color-gray;
  fill: none;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
  top: 1px;
  opacity: 0.9;
  vertical-align: text-top;
}

.uppy-DashboardItem {
  list-style: none;
  margin: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lighten($color-gray, 35%);
  padding-bottom: 10px;
  padding-left: 10px;

  $rl-margin: 15px;
  .uppy-size--md & {
    float: left;
    margin: 5px $rl-margin;
    width: calc(33.333% - #{$rl-margin} - #{$rl-margin});
    height: 170px;

    flex-direction: column;
    background-color: initial;
    border: 0;
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 0;
  }

  .uppy-size--lg & {
    width: calc(25% - #{$rl-margin} - #{$rl-margin});
    height: 190px;
  }

  .uppy-size--xl & {
    width: calc(20% - #{$rl-margin} - #{$rl-margin});
    height: 210px;
  }
}

.uppy-DashboardItem-preview {
  width: 50px;
  height: 50px;
  border-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .uppy-size--md & {
    width: 100%;
    height: 100px;
    border: 0;
  }

  .uppy-size--lg & {
    height: 120px;
  }

  .uppy-size--xl & {
    height: 140px;
  }
}

.uppy-DashboardItem-previewLink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-3;
}

.uppy-DashboardItem-sourceIcon {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  color: rgba($color-gray, 0.85);
}

.uppy-DashboardItem-sourceIcon svg,
.uppy-DashboardItem-sourceIcon svg * {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
  fill: currentColor;
}

.uppy-DashboardItem-previewInnerWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2px 0 rgba($color-gray, 0.7);
  border-radius: 3px;

  .uppy-size--md & {
    box-shadow: 0 1px 3px rgba($color-black,.2);
  }
}

  .uppy-DashboardItem-previewInnerWrap:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.65) /* no !important */;
    display: none;
    z-index: $zIndex-2;
  }


.uppy-DashboardItem-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.uppy-DashboardItem-previewIconWrap {
  height: 80px;
  max-height: 90%;
  position: relative;
}

.uppy-DashboardItem-previewIconBg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(rgba($color-black, 0.1) 0px 0px 1px);
}

.uppy-DashboardItem-previewIcon {
  width: 18px;
  height: 18px;
  z-index: $zIndex-1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .uppy-size--md & {
    width: 25px;
    height: 25px;
  }
}

.uppy-DashboardItem-previewType {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  color: $color-asphalt-gray;
  z-index: $zIndex-1;
  user-select: none;
}

.uppy-DashboardItem-info {
  padding-left: 15px;
  position: relative;
  max-width: 65%;

  .uppy-size--md & {
    width: 100%;
    max-width: 100%;
    flex: 1;
    padding: 8px 3px 0 3px;
    border-top: 0;
  }
}

.uppy-DashboardItem-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .uppy-size--md & {
    word-break: break-all;
    white-space: normal;
    overflow: initial;
  }
}

.uppy-DashboardItem-name a {
  text-decoration: underline;
  color: $color-black;
}

.uppy-DashboardItem-status {
  font-size: 11px;
  line-height: 11px;
  font-weight: normal;
  color: darken($color-gray, 15%);
  margin-bottom: 4px;
}

.uppy-DashboardItem-statusSize {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
}

.uppy-DashboardItem-edit,
.uppy-DashboardItem-copyLink {
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  color: inherit;
}

.uppy-DashboardItem-edit:not(:first-child),
.uppy-DashboardItem-copyLink:not(:first-child),
.uppy-DashboardItem-sourceIcon:not(:first-child) {
  position: relative;
  margin-left: 14px;
  // margin-right: 7px;

  &:before {
    content: '\00B7';
    position: absolute;
    top: 0;
    left: -9px;
    color: $color-gray;
    font-weight: 700;
  }
}

.uppy-DashboardItem-action {
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: $zIndex-3;

  .uppy-size--md & {
    top: -8px;
    right: -8px;
  }
}

.uppy-DashboardItem-remove {
  @include reset-button;
  cursor: pointer;
  color: $color-black;
  width: 16px;
  height: 16px;
  opacity: 0.75;

  .uppy-size--md & {
    width: 20px;
    height: 20px;
  }
}

  .uppy-DashboardItem.is-inprogress:not(.is-resumable) .uppy-DashboardItem-remove {
    display: none;
  }


.uppy-DashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-3;
  color: $color-white;
  text-align: center;
  width: 120px;
  display: none;
  transition: all .35 ease;
}

  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progress {
    transform: initial;
    top: -9px;
    right: -8px;
    left: initial;
    width: auto;
  }

  .uppy-DashboardItem.is-inprogress .uppy-DashboardItem-progress,
  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progress,
  .uppy-DashboardItem.is-error .uppy-DashboardItem-progress {
    display: block;
  }

.uppy-DashboardItem-progressIndicator {
  @include reset-button;
  display: inline-block;
  width: 38px;
  height: 38px;
  opacity: 0.9;
  transition: all .35s ease;

  .uppy-size--md & {
    width: 55px;
    height: 55px;
  }
}

  button.uppy-DashboardItem-progressIndicator {
    cursor: pointer;
  }

  .uppy-DashboardItem.is-error .uppy-DashboardItem-progressIndicator {
    width: 18px;
    height: 18px;

    .uppy-size--md & {
      width: 28px;
      height: 28px;
    }
  }

  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progressIndicator {
    width: 18px;
    height: 18px;
    opacity: 1;

    .uppy-size--md & {
      width: 25px;
      height: 25px;
    }
  }

.uppy-DashboardItem-progressInfo {
  font-size: 9px;
  line-height: 1;
  font-weight: 500;
  height: 10px;
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba($color-black, 0.3);

  .uppy-size--md & {
    display: block;
  }
}

.UppyIcon-progressCircle {
  width: 100%;
  height: 100%;
}

.uppy-DashboardItem .bg {
  stroke: rgba($color-white, 0.4);
  opacity: 0;
}

.uppy-DashboardItem .progress {
  stroke: $color-white;
  transition: stroke-dashoffset .5s ease-out;
  opacity: 0;
}

.uppy-DashboardItem .play {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.uppy-DashboardItem .cancel {
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
}

.uppy-DashboardItem .pause {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.uppy-DashboardItem.is-error .retry {
  fill: $color-white;
}

.uppy-DashboardItem.is-resumable {
  .pause, .play { display: block; }
  .cancel { display: none; }
}

.UppyIcon-progressCircle .check {
  opacity: 0;
  fill: $color-white;
  transition: all 0.2s;
}

.uppy-DashboardItem.is-inprogress {
  .bg, .progress, .pause, .cancel {
    opacity: 1;
  }

  .uppy-DashboardItem-previewInnerWrap:after {
    display: block;
  }
}

.uppy-DashboardItem.is-error {
  .uppy-DashboardItem-previewInnerWrap:after {
    display: block;
  }
}

.uppy-DashboardItem.is-paused {
  .pause {
    opacity: 0;
  }
  .play {
    opacity: 1;
  }
}

.uppy-DashboardItem.is-processing .uppy-DashboardItem-progress {
  opacity: 0;
}

.uppy-DashboardItem.is-complete {
  .uppy-DashboardItem-progressIndicator {
    cursor: default;
  }

  .progress {
    stroke: $color-green;
    fill: $color-green;
    opacity: 1;
  }

  .check {
    opacity: 1;
  }
}

.uppy-DashboardItem-progressNum {
  position: relative;
  z-index: $zIndex-2;
}

.uppy-DashboardItem-progressInner {
  height: 15px;
  background-color: $color-cornflower-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.uppy-Dashboard-actions {
  height: 55px;
  border-top: 1px solid rgba($color-gray, 0.3);
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: $color-almost-white;
}

  .uppy-size--md .uppy-Dashboard-actions {
    height: 65px;
  }

.uppy-Dashboard-actionsBtn {
  margin-right: 10px;
}

.uppy-Dashboard-pauseResume .UppyIcon {
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-upload {
  position: relative;
  width: 50px;
  height: 50px;

  .uppy-size--md & {
    width: 60px;
    height: 60px;
  }
}

.uppy-Dashboard-upload .UppyIcon {
  position: relative;
  top: 1px;
  width: 50%;
}

.uppy-Dashboard-uploadCount {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 8px;

  .uppy-size--md & {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 9px;
  }
}

//
// File Card
//

.uppy-DashboardFileCard {
  // transform: translate3d(0, 0, 0);
  // transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-5;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
  background-color: $color-white;
  display: flex;
  flex-direction: column;
}

  // .uppy-DashboardFileCard[aria-hidden=true] {
  //   transform: translate3d(0, -105%, 0);
  // }

.uppy-DashboardFileCard-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.uppy-DashboardFileCard-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  background-color: lighten($color-gray, 40%); /* no !important */
  position: relative;
}

.uppy-DashboardFileCard-preview img {
  box-shadow: 0px 3px 20px rgba($color-black, 0.15);
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  border-radius: 3px;
  position: absolute;
}

.uppy-DashboardFileCard-info {
  padding: 30px 20px 20px 20px;
  max-height: 40%;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.uppy-DashboardFileCard-fieldset {
  font-size: 0;
  border: 0;
  padding: 0;
  max-width: 640px;
  margin: auto;
  margin-bottom: 12px;
}

.uppy-DashboardFileCard-label {
  display: inline-block;
  vertical-align: middle;
  width: 22%;
  font-size: 12px;
  color: $color-asphalt-gray;

  .uppy-size--md & {
    font-size: 13px;
  }
}

.uppy-DashboardFileCard-input {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
}



