---
title: XHRUpload (Multipart)
layout: example
type: examples
order: 3
---

{% blockquote %}
Uppy recommends using tus resumable file uploads, but if you want you can also use XHRUpload (Multipart Form) uploads
{% endblockquote %}

<p>
  Simple form with a file input, mounted to a fallback &lt;form&gt; container — works even
  without JavaScript or when something goes wrong (slow connection, JS errors, old browsers):
</p>

<link rel="stylesheet" href="app.css">
<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  On this page we're using the following HTML snippet:
</p>
{% include_code lang:html multipart/app.html %}

<p>
  Along with this JavaScript:
</p>
{% include_code lang:js multipart/app.es6 %}
