.wrapper {
	max-width: 40rem;
	padding: 1rem;
	margin: 2rem auto;
}

.wrapper p {
	margin-bottom: 0;
}

.wrapper ul {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

.wrapper p:nth-of-type(2) {
	margin-left: auto !important;
}
