.uppy-DashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-3;
  color: $white;
  text-align: center;
  width: 120px;
  transition: all .35 ease;
}

  .uppy-DashboardItem-progressIndicator {
    display: inline-block;
    width: 38px;
    height: 38px;
    opacity: 0.9;

    .uppy-size--md & {
      width: 55px;
      height: 55px;
    }
  }

  button.uppy-DashboardItem-progressIndicator {
    @include clear-focus;
    cursor: pointer;

    &:focus {
      .bg,
      .retry {
        fill: lighten($blue, 20%);
      }
    }
  }

.uppy-c-icon-progressCircle {
  width: 100%;
  height: 100%;

  .bg {
    stroke: rgba($white, 0.4);
  }

  .progress {
    stroke: $white;
    transition: stroke-dashoffset .5s ease-out;
  }

  .play {
    stroke: $white;
    fill: $white;
    transition: all 0.2s;
  }

  .cancel {
    fill: $white;
    transition: all 0.2s;
  }

  .pause {
    stroke: $white;
    fill: $white;
    transition: all 0.2s;
  }

  .check {
    fill: $white;
    transition: all 0.2s;
  }
}

.retry {
  fill: $white;
}

// Svg styles that depend on the state of the file.
.uppy-DashboardItem.is-complete .uppy-DashboardItem-progress {
  transform: initial;
  top: -9px;
  right: -8px;
  left: initial;
  width: auto;
}

.uppy-DashboardItem.is-error .uppy-DashboardItem-progressIndicator {
  width: 18px;
  height: 18px;

  .uppy-size--md & {
    width: 28px;
    height: 28px;
  }
}

.uppy-DashboardItem.is-complete .uppy-DashboardItem-progressIndicator {
  width: 18px;
  height: 18px;
  opacity: 1;

  .uppy-size--md & {
    width: 22px;
    height: 22px;
  }
}

.uppy-DashboardItem.is-processing .uppy-DashboardItem-progress {
  opacity: 0;
}

.uppy-DashboardItem.is-complete {
  .progress {
    stroke: $green;
    fill: $green;
  }
}
