.uppy-Dashboard-Item-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-3;
  color: $white;
  text-align: center;
  width: 120px;
  transition: all .35 ease;
}

.uppy-Dashboard-Item-progressIndicator {
  display: inline-block;
  width: 38px;
  height: 38px;
  opacity: 0.9;

  .uppy-size--md & {
    width: 55px;
    height: 55px;
  }
}

  button.uppy-Dashboard-Item-progressIndicator {
    @include clear-focus;
    cursor: pointer;

    &:focus {
      .uppy-Dashboard-Item-progressIcon--bg,
      .uppy-Dashboard-Item-progressIcon--retry {
        fill: lighten($blue, 20%);
      }
    }
  }

// ProgressCircle svg styles

.uppy-Dashboard-Item-progressIcon--circle {
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-Item-progressIcon--bg {
  stroke: rgba($white, 0.4);
}

.uppy-Dashboard-Item-progressIcon--progress {
  stroke: $white;
  transition: stroke-dashoffset .5s ease-out;
}

.uppy-Dashboard-Item-progressIcon--play {
  stroke: $white;
  fill: $white;
  transition: all 0.2s;
}

.uppy-Dashboard-Item-progressIcon--cancel {
  fill: $white;
  transition: all 0.2s;
}

.uppy-Dashboard-Item-progressIcon--pause {
  stroke: $white;
  fill: $white;
  transition: all 0.2s;
}

.uppy-Dashboard-Item-progressIcon--check {
  fill: $white;
  transition: all 0.2s;
}

.uppy-Dashboard-Item-progressIcon--retry {
  fill: $white;
}

// Svg styles that depend on the state of the file.

.uppy-Dashboard-Item.is-complete .uppy-Dashboard-Item-progress {
  transform: initial;
  top: -9px;
  right: -8px;
  left: initial;
  width: auto;
}

.uppy-Dashboard-Item.is-error .uppy-Dashboard-Item-progressIndicator {
  width: 18px;
  height: 18px;

  .uppy-size--md & {
    width: 28px;
    height: 28px;
  }
}

.uppy-Dashboard-Item.is-complete .uppy-Dashboard-Item-progressIndicator {
  width: 18px;
  height: 18px;
  opacity: 1;

  .uppy-size--md & {
    width: 22px;
    height: 22px;
  }
}

.uppy-Dashboard-Item.is-processing .uppy-Dashboard-Item-progress {
  opacity: 0;
}
