@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import '@uppy/status-bar/src/style.scss';
@import '@uppy/url/src/style.scss';
@import '@uppy/webcam/src/style.scss';
@import '@uppy/dashboard/src/style.scss';
