/**
* General Uppy styles that apply to everything inside the .Uppy container
*/

.uppy-Root {
  box-sizing: border-box;
  font-family: $font-family-base;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  position: relative;
}

.uppy-Root *, .uppy-Root *:before, .uppy-Root *:after {
  box-sizing: inherit;
}

// .uppy-Root *:focus:not(.focus-visible) {
//   outline: 0;
// }

.uppy-Root *:focus {
  outline: $size-focus-outline solid $color-cornflower-blue; /* no !important */
  outline-offset: $size-focus-offset; /* no !important */

  // outline: none;
  // box-shadow: inset 0 0 0 2px rgba($color-cornflower-blue, 0.5);
}

.uppy-Root [hidden] {
  display: none;
}

// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4

.UppyIcon {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor; /* no !important */
  display: inline-block;
  overflow: hidden;
}

.UppyIcon--svg-baseline {
  bottom: -0.125em;
  position: relative;
}

// Utilities

.uppy-u-reset {
  -webkit-appearance: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  backface-visibility: visible;
  background: none;
  border: medium none currentColor;
  border-collapse: separate;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  box-shadow: none;
  clear: none;
  cursor: auto;
  display: inline;
  empty-cells: show;
  float: none;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  list-style: none;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  outline: medium none invert;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  transition: none 0s ease 0s;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  z-index: auto;
}

// Inputs

.uppy-c-textInput {
  border: 1px solid rgba($color-gray, 0.5);
  border-radius: 4px;
  font-size: 13px;
  line-height: 1.5;
  padding: 6px 8px;
  background-color: $color-white;
}

  .uppy-size--md .uppy-c-textInput {
    font-size: 15px;
    line-height: 1.8;
    padding: 8px 12px;
  }

  .uppy-c-textInput:focus {
    border-color: $color-cornflower-blue;
    outline: none;
    box-shadow: 0 0 1px 1px rgba($color-cornflower-blue, 0.5);
  }

// Buttons

.uppy-c-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  transition: background-color 0.3s;
  user-select: none;
}

  .uppy-c-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

.uppy-c-btn-primary {
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: $color-cornflower-blue;
  color: $color-white;
}

  .uppy-size--md .uppy-c-btn-primary {
    font-size: 15px;
    padding: 13px 22px;
  }

  .uppy-c-btn-primary:hover {
    background-color: darken($color-cornflower-blue, 10%);
  }

  .uppy-c-btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-cornflower-blue, 0.5);
  }

.uppy-c-btn-link {
  font-size: 13px;
  line-height: 1;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: transparent;
  color: $color-black;
}

  .uppy-size--md .uppy-c-btn-link {
    font-size: 15px;
    padding: 13px 28px;
    // border-radius: 4px;
  }

  .uppy-c-btn-link:hover {
    text-decoration: underline;
  }

  .uppy-c-btn-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba($color-cornflower-blue, 0.5);
  }

.uppy-c-btn--small {
  font-size: 0.9em;
  padding: 7px 16px;
  border-radius: 2px;
}

  .uppy-size--md .uppy-c-btn--small {
    padding: 8px 10px;
    border-radius: 2px;
  }
