/**
* General Uppy styles that apply to everything inside the .uppy-Root container
*/

.uppy-Root {
  box-sizing: border-box;
  font-family: $font-family-base;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  position: relative;
  color: $gray-800;
}

.uppy-Root *, .uppy-Root *:before, .uppy-Root *:after {
  box-sizing: inherit;
}

.uppy-Root [hidden] {
  display: none;
}

// Utilities

.uppy-u-reset {
  -webkit-appearance: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  backface-visibility: visible;
  background: none;
  border: medium none currentColor;
  border-collapse: separate;
  border-image: none;
  border-radius: 0;
  border-spacing: 0;
  box-shadow: none;
  clear: none;
  cursor: auto;
  display: inline;
  empty-cells: show;
  float: none;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  list-style: none;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  outline: medium none invert;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  transition: none 0s ease 0s;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  z-index: auto;
}

// Inputs

.uppy-c-textInput {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 8px;
  background-color: $white;

  .uppy-size--md & {
    padding: 8px 10px;
  }

  &:focus {
    border-color: rgba($blue, 0.6);
    outline: none;
    box-shadow: 0 0 0 3px rgba($blue, 0.15);
  }

  [data-uppy-theme="dark"] & {
    background-color: $gray-800;
    border-color: $gray-800;
    color: $gray-200;
  }

  [data-uppy-theme="dark"] &:focus {
    border-color: $gray-700;
    box-shadow: none;
  }
}

// Icon

// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
.uppy-c-icon {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
  display: inline-block;
  overflow: hidden;
}

// Buttons

.uppy-c-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  user-select: none;
}

  .uppy-c-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .uppy-c-btn::-moz-focus-inner {
    border: 0;
  }

.uppy-c-btn-primary {
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: darken($blue, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($blue, 0.4);
  }

  .uppy-size--md & {
    padding: 13px 22px;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
    @include blue-border-focus--dark;
  }
}

.uppy-c-btn-link {
  font-size: 14px;
  line-height: 1;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: transparent;
  color: $gray-700;

  &:hover {
    color: $gray-800;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($blue, 0.25);
  }

  .uppy-size--md & {
    padding: 13px 18px;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
    @include blue-border-focus--dark;
  }

  [data-uppy-theme="dark"] &:hover {
    color: $gray-500;
  }
}

.uppy-c-btn--small {
  font-size: 0.9em;
  padding: 7px 16px;
  border-radius: 2px;

  .uppy-size--md & {
    padding: 8px 10px;
    border-radius: 2px;
  }
}
