// Utility Mixins

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin zoom() {
  transform: scale(1.05);
}

@mixin reset-button() {
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
}

@mixin highlight-focus() {
  border-radius: 3px;

  &:hover {
    color: darken($blue, 10%);
  }

  &:focus {
    outline: none;
    background-color: $highlight;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin blue-border-focus() {
  border-radius: 3px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($blue, 0.5);
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
