// Utility Mixins

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin zoom() {
  transform: scale(1.05);
}

@mixin reset-button() {
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
}

@mixin highlight-focus() {
  @include clear-focus();

  &:hover {
    color: darken($blue, 10%);
  }

  &:focus {
    background-color: $highlight;
  }

  [data-uppy-theme="dark"] &:focus {
    background-color: $gray-800;
  }
}

@mixin blue-border-focus() {
  @include clear-focus();

  &:focus {
    box-shadow: 0 0 0 3px rgba($blue, 0.5);
  }
}

@mixin blue-border-focus--dark() {
  @include clear-focus();

  &:focus {
    box-shadow: 0 0 0 2px rgba($lightblue, 0.85);
  }
}

@mixin clear-focus() {
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}
