// Fonts
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

// Colors

$color-black: #000 !default;
$color-gray: #939393 !default;
// $color-asphalt-gray: #525252 !default;
// $color-lightgray: #eaeaea !default;
// $color-almost-white: #fafafa !default;
$color-white: #fff !default;
$color-red: #d32f2f !default;
$color-orange: #f6a623 !default;
$color-yellow: #ffd600 !default;
$color-green: #1bb240 !default;
$color-blue: #2275d7 !default;

// Shades of gray
// @todo: replace all current grays with them
$gray-50: #fafafa;
$gray-100: #f4f4f4;
$gray-200: #eaeaea;
$gray-300: #cfcfcf;
$gray-400: #bbb;
$gray-500: #939393;
$gray-600: #757575;
$gray-700: #525252;
$gray-800: #333;
$gray-900: #1f1f1f;

$color-uppy-pink: #eb2177;

// Sizes

$size-focus-outline: 2px;
$size-focus-offset: 2px;

// Z-index

$zIndex-negative: -1000 !default;
$zIndex-1: 100 !default;
$zIndex-2: 1001 !default;
$zIndex-3: 1002 !default;
$zIndex-3: 1003 !default;
$zIndex-4: 1004 !default;
$zIndex-5: 1005 !default;

// Media Queries
$screen-medium: 'only screen and (min-width: 820px)' !default;
