// Fonts
$font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Colors

$white: #fff !default;
$black: #000 !default;
$red: #e32437 !default;
$pomegranate: #ff4b23 !default;
$orange: #f6a623 !default;
$yellow: #ffd600 !default;
$green: #1bb240 !default;
$darkgreen: #1c8b37 !default;
$blue: #2275d7 !default;
$lightblue: #aae1ff !default;
$beige: #edd4b9 !default;

$gray-50: #fafafa !default;
$gray-100: #f4f4f4 !default;
$gray-100--highlighted: #f1f3f6 !default;
$gray-200: #eaeaea !default;
$gray-250: #dfdfdf !default;
$gray-300: #cfcfcf !default;
$gray-400: #bbb !default;
$gray-500: #939393 !default;
$gray-600: #757575 !default;
$gray-700: #525252 !default;
$gray-800: #333 !default;
$gray-900: #1f1f1f !default;

$white-50: #fffbf7 !default;

$highlight: #eceef2;
$highlight--dark: #02baf2;

$uppy-pink: #eb2177;

// Sizes

$size-focus-outline: 2px;
$size-focus-offset: 2px;

// Z-index

$zIndex-negative: -1000 !default;
$zIndex-1: 100 !default;
$zIndex-2: 1001 !default;
$zIndex-3: 1002 !default;
$zIndex-3: 1003 !default;
$zIndex-4: 1004 !default;
$zIndex-5: 1005 !default;

// Media Queries
$screen-medium: 'only screen and (min-width: 820px)' !default;
