/* You can add global styles to this file, and also import other style files */
@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';
@import '@uppy/drag-drop/dist/style.css';
@import '@uppy/progress-bar/dist/style.css';
