@use '@uppy/core/src/_utils.scss';
@use '@uppy/core/src/_variables.scss';

.uppy-Informer {
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
  z-index: variables.$zIndex-5;
  text-align: center;

  span > div {
    margin-bottom: 6px;
  }
}

.uppy-Informer-animated {
  z-index: variables.$zIndex-negative;
  transform: translateY(350%);
  opacity: 0;
  transition: all 300ms ease-in;
}

.uppy-Informer p {
  display: inline-block;
  max-width: 90%;
  margin: 0;
  padding: 0;
  padding: 6px 15px;
  color: variables.$white;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  background-color: variables.$gray-600;
  border-radius: 18px;

  .uppy-size--md & {
    max-width: 500px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.3;
  }

  [data-uppy-theme='dark'] & {
    background-color: variables.$gray-800;
  }
}

.uppy-Informer p span {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 13px;
  height: 13px;
  color: variables.$gray-700;
  font-size: 10px;
  line-height: 12px;
  vertical-align: middle;
  background-color: variables.$white;
  border-radius: 50%;
  inset-inline-start: 3px;
  margin-inline-start: -1px;
}

.uppy-Informer p span:hover {
  cursor: help;
}

.uppy-Informer p span::after {
  line-height: 1.3;
  word-wrap: break-word;
}
