@import '@uppy/core/src/style.scss';
@import '@uppy/dashboard/src/style.scss';
@import '@uppy/drag-drop/src/style.scss';
@import '@uppy/file-input/src/style.scss';
@import '@uppy/informer/src/style.scss';
@import '@uppy/progress-bar/src/style.scss';
@import '@uppy/provider-views/src/style.scss';
@import '@uppy/status-bar/src/style.scss';
@import '@uppy/url/src/style.scss';
@import '@uppy/webcam/src/style.scss';
@import '@uppy/screen-capture/src/style.scss';
@import '@uppy/image-editor/src/style.scss';
