---
title: CDN
layout: example
type: examples
order: 0
---

{% blockquote %}
This example showcases sourcing an UMD dist build straight from a CDN.
{% endblockquote %}

<% include app.html %>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  On this page we're using the following HTML & JS snippet:
</p>
{% include_code lang:html cdn/app.html %}
