@use '@uppy/core/src/_utils.scss';
@use '@uppy/core/src/_variables.scss';
@use '@uppy/core/src/_variables.scss' as *;
@use '@uppy/core/src/_utils.scss' as *;

.uppy-ImageGenerator-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  // Ensure the footer sticks to the bottom when using uppy-ProviderBrowser-footer
  .uppy-ProviderBrowser-footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
  }
}

.uppy-ImageGenerator-prompt {
  width: 100%;
  display: flex;
  padding: 12px;
  gap: 1em;

  input {
    width: 100%;
    color: $gray-800;
    border-radius: 3px;
    border: 0;
    background-color: $gray-200;
    text-align: left;
  }

  label {
    display: none;
  }

  button {
    @include utils.reset-button;
    @include utils.highlight-focus;

    padding: 7px 6px;
    color: variables.$blue;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    margin-inline-start: -6px;

    &:disabled {
      color: $gray-600;
      cursor: progress;
    }

    .uppy-size--md & {
      font-size: 14px;
    }

    [data-uppy-theme='dark'] & {
      color: variables.$highlight--dark;
    }
  }
}

.uppy-ImageGenerator-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  gap: 16px;
  margin: 0;
  padding: 16px;
  flex: 1;

  &.uppy-ImageGenerator-grid--single {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;

    input[type='checkbox'] {
      position: absolute;
      clip: rect(0, 0, 0, 0);

      label {
        position: relative;
      }
    }

    input[type='checkbox']:focus+label img {
      box-shadow: $focus-shadow;
    }

    input[type='checkbox']:checked+label img {
      box-shadow: $focus-shadow;
    }

    img {
      width: 100%;
      height: 50%;
      min-height: 200px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}

.uppy-ImageGenerator-empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
    color: $gray-600;

    &.uppy-ImageGenerator-generating {
      background: linear-gradient(90deg, $gray-400, $gray-600, $gray-400);
      background-size: 200% 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: uppy-gradient-slide 2s ease-in-out infinite;
    }
  }
}

@keyframes uppy-gradient-slide {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
