---
title: Status Bar
layout: example
type: examples
order: 1
---

{% blockquote %}
The StatusBar plugin shows upload progress.
{% endblockquote %}

<link rel="stylesheet" href="app.css">
<% include app.html %>
<script src="app.js"></script>

<hr />

<p id="console-wrapper">
  Console output (latest logs are at the top): <br />
</p>

<p>
  On this page we're using the following HTML snippet:
</p>
{% include_code lang:html statusbar/app.html %}

<p>
  Along with this JavaScript:
</p>
{% include_code lang:js statusbar/app.es6 %}

<p>
  And the following CSS:
</p>
{% include_code lang:css statusbar/app.css %}
