/**
* General Uppy styles that apply to everything inside the .Uppy container
*/

.uppy {
  // all: initial;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    helvetica, 'helvetica neue',
    ubuntu, roboto, noto,
    'segoe ui', arial, sans-serif;
  line-height: 1;
  // -webkit-font-smoothing: antialiased;
}

.uppy *, .uppy *:before, .uppy *:after {
  box-sizing: inherit;
}

// .uppy *:focus:not(.focus-visible) {
//   outline: 0;
// }

// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4

.UppyIcon {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
  // width: 1em;
  // height: 1em;
}

.UppyIcon--svg-baseline {
  bottom: -0.125em;
  position: relative;
}

// Buttons

.UppyButton--circular {
  @include reset-button;
  box-shadow: 1px 2px 4px 0px rgba($color-black, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.UppyButton--blue {
  color: $color-white;
  background-color: $color-cornflower-blue;

  &:hover,
  &:focus {
    background-color: darken($color-cornflower-blue, 10%);
  }
}

.UppyButton--white {
  color: $color-asphalt-gray;
  background-color: $color-white;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: darken($color-cornflower-blue, 10%);
  }
}

.UppyButton--yellow {
  color: $color-white;
  background-color: $color-yellow;

  &:hover,
  &:focus {
    background-color: darken($color-yellow, 5%);
  }
}

.UppyButton--green {
  color: $color-white;
  background-color: $color-green;

  &:hover,
  &:focus {
    background-color: darken($color-green, 10%);
  }
}

.UppyButton--red {
  color: $color-white;
  background-color: $color-red;

  &:hover,
  &:focus {
    background-color: darken($color-red, 10%);
  }
}

.UppyButton--sizeM {
  width: 60px;
  height: 60px;
}

.UppyButton--sizeS {
  width: 45px;
  height: 45px;
}

.uppy-c-textInput {
  border: 1px solid rgba($color-gray, 0.5);
  border-radius: 4px;
}

.uppy-c-textInput:focus {
  border-color: $color-cornflower-blue;
  outline: none;
  box-shadow: 0 0 1px 1px rgba($color-cornflower-blue, 0.3);
}
