.UppyDashboard {
  z-index: $zIndex-2;
}

.UppyDashboard[aria-hidden=true] {
  display: none;
}

// Added to body to prevent the page from scrolling when Modal is open
.is-UppyDashboard-open {
  overflow: hidden;
}

.UppyDashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.UppyDashboard-inner {
  background-color: darken($color-white, 5%);
  padding: 15px;
  max-width: 100%;
  max-height: 100%;
  width: 750px;
  height: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: $zIndex-3;
  outline: none;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
}

.UppyDashboard-innerWrap {
  height: 100%;
  min-height: 400px;
  border: 2px dashed;
  border-radius: 10px;
  border-color: lighten($color-gray, 25%);
  overflow: hidden;
}

.UppyDashboard-close {
  @include reset-button;
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
  color: lighten($color-asphalt-gray, 20%);
  z-index: $zIndex-3;
  transition: all 0.2s;

  &:hover {
    color: $color-black;
  }
}

.UppyDashboardTabs {
  height: 22%;
  min-height: 100px;
  padding: 10px 0;
  margin: 0 30px 10px 30px;
  border-bottom: 1px solid lighten($color-gray, 30%);
}

.UppyDashboardTabs-title {
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  // text-transform: uppercase;
  // letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 12px;
  color: $color-asphalt-gray;
}

.UppyDashboardTabs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyDashboardTab {
  width: 80px;
  display: inline-block;
  text-align: center;
}

.UppyDashboardTab-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.3s;
  color: darken($color-gray, 25%);

  &:focus,
  &:active,
  &:hover {
    color: $color-cornflower-blue;
  }
}

.UppyDashboardTab-name {
  font-size: 9px;
  margin: 6px 0;
  font-weight: normal;
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.UppyDashboardTab .UppyIcon {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.UppyDashboard-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.UppyDashboardContent-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
}

.UppyDashboardContent-title {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.UppyDashboardContent-titleFile {
  text-decoration: underline;
}

.UppyDashboardContent-back {
  @include reset-button;
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: $color-cornflower-blue;
}

.UppyDashboardContent-back .UppyIcon {
  position: relative;
  margin-right: 3px;
}

.UppyDashboardContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-105%);
  transition: all 0.3s ease-in-out;
  background-color: darken($color-white, 4%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  padding: 15px;
  padding-top: 60px;
  overflow: hidden;
  z-index: $zIndex-3;
}

.UppyDashboardContent-panel[aria-hidden=false] {
  transform: translateY(0);
}

// Progress bar placeholder

.UppyDashboard-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.UppyDashboard-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.UppyDashboard-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.UppyDashboard-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}


.UppyDashboard-files {
  height: 78%;
  position: relative;
}

// border-radius + overflow:scroll leads to performance issues
// so we are using a wrapper here
.UppyDashboard-filesInner {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.UppyDashboard.drag .UppyDashboard-innerWrap  {
  border-color: lighten($color-gray, 5%);
  background-color: darken($color-white, 5%)
}

.UppyDashboard-list {
  @include clearfix;
  margin: 0;
  padding: 0;
  // height: 100%;
  // overflow: auto;
}

.UppyDashboard-bgIcon {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100%;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: all 0.3s;
}

  .UppyDashboard-bgIcon .UppyIcon {
    width: 100%;
  }

  .UppyDashboard.drag .UppyDashboard-bgIcon {
    opacity: 1;
  }

.UppyDashboardItem {
  list-style: none;
  width: 140px;
  height: 170px;
  float: left;
  margin: 14px 18px;
  position: relative;
  border-radius: 6px;
  background-color: $color-white;
  border: 1px solid rgba($color-gray, 0.2);
}

.UppyDashboardItem-preview {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  border-bottom: 1px solid rgba($color-gray, 0.2);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

  .UppyDashboardItem-preview:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.3);
    display: none;
  }

// .UppyDashboardItem-preview .UppyIcon {
//   height: 50px;
// }

.UppyDashboardItem-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UppyDashboardItem-previewIcon {
  // height: 75px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.UppyDashboardItem-info {
  padding: 8px 32px 8px 10px;
  height: 60px;
  position: relative;
}

.UppyDashboardItem-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  overflow: hidden;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.UppyDashboardItem-name a {
  text-decoration: underline;
  color: $color-black;
}

.UppyDashboardItem-status {
  font-size: 11px;
  font-weight: normal;
  color: $color-gray;
  margin-bottom: 4px;
}

.UppyDashboardItem-statusSize {
  text-transform: uppercase;
}

.UppyDashboardItem-edit {
  @include reset-button;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
}

.UppyDashboardItem-edit .UppyIcon-edit {
  width: 13px;
  height: 13px;
  color: $color-asphalt-gray;
  // vertical-align: text-bottom;
}

.UppyDashboardItem-action {
  position: absolute;
  top: -6px;
  right: -8px;
}

.UppyDashboardItem-remove {
  @include reset-button;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.2s;
  transform: translateZ(0);
  color: $color-black;
}

  // .Uppy--isTouchDevice .UppyDashboardItem-remove,
  .UppyDashboardItem:hover .UppyDashboardItem-remove {
    opacity: 1;
  }

.UppyDashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-2;
  color: $color-white;
  text-align: center;
  width: 120px;
  display: none;
}

  .UppyDashboardItem.is-inprogress .UppyDashboardItem-progress,
  .UppyDashboardItem.is-complete .UppyDashboardItem-progress {
    display: block;
  }

.UppyDashboardItem-progressBtn {
  @include reset-button;
  width: 60px;
  height: 60px;
  opacity: 0.9;
  cursor: pointer;
}

.UppyDashboardItem-progressInfo {
  font-size: 9px;
  line-height: 1;
  font-weight: 500;
  height: 10px;
  // display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba($color-black, 0.3);
}

.UppyIcon-progressCircle {
  width: 100%;
  height: 100%;
}

.UppyIcon-progressCircle .bg {
  stroke: rgba($color-white, 0.4);
  opacity: 0;
  transition: all 0.2s;
}

.UppyIcon-progressCircle .progress {
  stroke: $color-white;
  transition: stroke-dashoffset .5s ease-out;
  opacity: 0;
}

.UppyIcon-progressCircle .play {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
}

.UppyIcon-progressCircle .pause {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
}

.UppyIcon-progressCircle .check {
  opacity: 0;
  fill: $color-white;
  transition: all 0.2s;
}

.UppyDashboardItem.is-inprogress {
  .bg, .progress, .pause {
    opacity: 1;
  }

  .UppyDashboardItem-preview:after {
    display: block;
  }
}

.UppyDashboardItem.is-paused {
  .pause {
    opacity: 0;
  }
  .play {
    opacity: 1;
  }
}

.UppyDashboardItem.is-complete {
  .UppyDashboardItem-progressBtn {
    cursor: default;
  }

  .UppyDashboardItem-preview:after {
    display: block;
  }

  .progress {
    stroke: $color-green;
    fill: $color-green;
    opacity: 1;
  }
  .check {
    opacity: 1;
  }
}

.UppyDashboardItem-progressNum {
  position: relative;
  z-index: $zIndex-2;
}

.UppyDashboardItem-progressInner {
  height: 15px;
  background-color: $color-cornflower-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.UppyButton--circular {
  @include reset-button;
  box-shadow: 1px 2px 4px 0px rgba($color-black, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.UppyButton--blue {
  color: $color-white;
  background-color: $color-cornflower-blue;

  &:hover,
  &:focus {
    background-color: darken($color-cornflower-blue, 10%);
  }
}

.UppyButton--yellow {
  color: $color-white;
  background-color: $color-yellow;

  &:hover,
  &:focus {
    background-color: darken($color-yellow, 10%);
  }
}

.UppyButton--green {
  color: $color-white;
  background-color: $color-green;

  &:hover,
  &:focus {
    background-color: darken($color-green, 10%);
  }
}

.UppyButton--sizeM {
  width: 60px;
  height: 60px;
}

.UppyButton--sizeS {
  width: 45px;
  height: 45px;
}

.UppyDashboard-actions {
  width: 60px;
  text-align: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.UppyDashboard-actions button {
  margin-bottom: 15px;
}

.UppyDashboard-pauseResume .UppyIcon {
  width: 100%;
  height: 100%;
}

.UppyDashboard-upload {
  position: relative;
}

.UppyDashboard-upload .UppyIcon {
  position: relative;
  top: 2px;
  width: 50%;
}

.UppyDashboard-uploadCount {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 9px;
}

//
// File Card
//

.UppyDashboardFileCard {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-4;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
  background-color: $color-white;
}

.UppyDashboardFileCard[aria-hidden=true] {
  transform: translateY(-105%);
}

.UppyDashboardFileCard-inner {
  height: 100%;
  padding-top: 50px;
}

.UppyDashboardFileCard-preview {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  background-color: lighten($color-gray, 40%);
}

.UppyDashboardFileCard-preview img {
  box-shadow: 0px 3px 20px rgba($color-black, 0.15);
  max-width: 90%;
  max-height: 90%;
}

.UppyDashboardFileCard-info {
  padding: 30px 20px 20px 20px;
}

.UppyDashboardFileCard-fieldset {
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 15px;
}

.UppyDashboardFileCard-label {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  font-size: 13px;
  color: $color-asphalt-gray;
}

.UppyDashboardFileCard-input {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  border: 0;
  border-bottom: 1px solid rgba($color-asphalt-gray, 0.3);
  outline: none;
  font-size: 15px;
  line-height: 1.8;
  padding-left: 5px;
  margin: auto;
}

.UppyDashboardFileCard-input:focus {
  border-color: $color-asphalt-gray;
}

.UppyDashboardFileCard-done {
  position: absolute;
  bottom: 25px;
  right: 25px;
  transition: all 0.3s;
}

.UppyDashboardFileCard-done .UppyIcon {
  width: 30px;
  height: 30px;
}
