/**
* General Uppy styles that apply to everything inside the .Uppy container
*/

.UppyDashboard {
  height: 100%;
  position: relative;
}

.UppyDashboard-list {
  @include clearfix;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.UppyDashboard-bgIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.7;
  transition: all 0.3s;
}

  .UppyDashboard-bgIcon .UppyIcon {
    width: 250px;
  }

  .UppyModal.drag .UppyDashboard-bgIcon {
    opacity: 1;
  }

.UppyDashboardItem {
  list-style: none;
  margin: 0;
  width: 135px;
  height: 170px;
  float: left;
  margin: 20px;
  // text-align: center;
  position: relative;
  border-radius: 6px;
  // overflow: hidden;
  background-color: $color-white;
  border: 1px solid rgba($color-gray, 0.3);
  // box-shadow: inset 0 0 0 1px rgba($color-black, 0.1);
  transition: 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.UppyDashboardItem.is-flipped {
  transform: rotateY(180deg);
}

.UppyDashboardItem-preview {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.UppyDashboardItem-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UppyDashboardItem-previewIcon {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyDashboardItem-previewIcon .UppyIcon {
  width: 35px;
  max-height: 80%;
}

.UppyDashboardItem-previewType {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  background-color: $color-pink;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-white;
  // letter-spacing: 1px;
}

.UppyDashboardItem-info {
  padding: 5px 15px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.UppyDashboardItem-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  max-height: 28px;
  overflow: hidden;
}

.UppyDashboardItem-name a {
  text-decoration: underline;
  color: $color-black;
}

.UppyDashboardItem-status {
  font-size: 11px;
  line-height: 1.45;
  font-weight: normal;
  color: $color-gray;
  // text-transform: uppercase;
}

.UppyDashboardItem-statusSize {
  text-transform: uppercase;
}

.UppyDashboardItem-action {
  position: absolute;
  top: -6px;
  right: -8px;
}

.UppyDashboardItem-remove {
  @include reset-button;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.2s;
  color: $color-black;
}

  // .Uppy--isTouchDevice .UppyDashboardItem-remove,
  .UppyDashboardItem:hover .UppyDashboardItem-remove {
    opacity: 1;
    // color: $color-black;
  }

.UppyDashboardItem-progress {
  width: 100%;
  height: 12px;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  color: $color-white;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.UppyDashboardItem-progress.is-active {
  display: block;
  background-color: lighten($color-cornflower-blue, 15%);
}

.UppyDashboardItem-progressNum {
  position: relative;
  z-index: $zIndex-2;
}

.UppyDashboardItem-progressInner {
  height: 12px;
  background-color: $color-cornflower-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.UppyDashboard-upload {
  @include reset-button;
  width: 70px;
  height: 70px;
  box-shadow: 1px 2px 4px 0px rgba($color-black, 0.3);
  border-radius: 50%;
  background-color: $color-cornflower-blue;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: darken($color-cornflower-blue, 10%);
  }
}


.UppyDashboard-upload .UppyIcon {
  position: relative;
  top: 2px;
}

.UppyDashboard-uploadCount {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 9px;
}
