.uppy-Dashboard--modal {
  z-index: $zIndex-2;
  // transition: transform 0.2s ease-in-out;
  // transform: none;
  // -webkit-overflow-scrolling: touch;
}

.uppy-Dashboard--modal[aria-hidden=true] {
  display: none;
  // transform: translateY(-50%);
}

// Added to body to prevent the page from scrolling when Modal is open
.uppy-Dashboard-isOpen {
  overflow: hidden;
  height: 100vh;
}

.uppy-Dashboard--modal .uppy-Dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba($color-white, 0.8);
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.uppy-Dashboard-inner {
  position: relative;
  background-color: darken($color-white, 2%);
  max-width: 100%; /* no !important */
  max-height: 100%; /* no !important */
  width: 100%; /* no !important */
  height: 100%; /* no !important */
  outline: none;
  border: 1px solid rgba($color-gray, 0.2);

  .uppy-Dashboard--modal & {
    z-index: $zIndex-3;
  }

  @media #{$screen-medium} {
    width: 750px; /* no !important */
    height: 550px; /* no !important */
    border-radius: 5px;
  }
}

.uppy-Dashboard-poweredBy {
  position: absolute;
  right: 4px;
  bottom: -23px;
  font-size: 11px;
  color: rgba($color-gray, 0.8);
  text-align: right;
  text-decoration: none;
}

  .uppy-Dashboard--modal .uppy-Dashboard-poweredBy {
    color: rgba($color-white, 0.7);
  }

.uppy-Dashboard-poweredByUppy {
  color: $color-gray;
}

  .uppy-Dashboard--modal .uppy-Dashboard-poweredByUppy {
    color: $color-white;
  }

.uppy-Dashboard-poweredByIcon {
  stroke: $color-gray;
  fill: none;
  margin-left: 1px;
  margin-right: 2px;
}

  .uppy-Dashboard--modal .uppy-Dashboard-poweredByIcon {
    stroke: none;
    fill: $color-uppy-pink;
  }

.uppy-Dashboard-innerWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-height: 300px;
  position: relative;

  @media #{$screen-medium} {
    border-radius: 5px;
  }
}

.uppy-Dashboard--modal .uppy-Dashboard-inner {
  position: fixed;
  top: 0;
  left: 0;
  border: none;

  @media #{$screen-medium} {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px 4px rgba($color-black, 0.15);
  }
}

.uppy-Dashboard-close {
  @include reset-button;
  display: none;
  position: absolute;
  top: 2px;
  right: 8px;
  cursor: pointer;
  color: rgba($color-asphalt-gray, 0.5);
  transition: all 0.3s;
  font-size: 23px;

  .uppy-Dashboard--wide & {
    font-size: 30px;
    top: 2px;
    right: 8px;
  }

  .uppy-Dashboard--modal & {
    z-index: $zIndex-5;
    display: block;
  }
}

.uppy-Dashboard-close:hover {
  color: $color-cornflower-blue; 
}


.uppy-DashboardTabs {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba($color-gray, 0.3);
}

.uppy-DashboardTabs[aria-hidden=true] {
  display: none;
}

.uppy-DashboardTabs-title {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $color-asphalt-gray;

  .uppy-Dashboard--wide & {
    font-size: 17px;
    line-height: 40px;
  }
}

.uppy-Dashboard-browse {
  @include reset-button;
  cursor: pointer;
  color: rgba($color-cornflower-blue, 0.9);
}

  .uppy-Dashboard-browse:focus {
    outline: none;
    border-bottom: 2px solid $color-cornflower-blue;
  }

.uppy-DashboardTabs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uppy-DashboardTab {
  width: 70px;
  margin: 0;
  display: inline-block;
  text-align: center;

  .uppy-Dashboard--wide & {
    width: 75px;
    margin: 0 5px;
  }
}

.uppy-DashboardTab-btn {
  width: 100%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  // outline: none;
  transition: all 0.3s;
  color: darken($color-gray, 25%);
}

  // .uppy-DashboardTab-btn:focus,
  // .uppy-DashboardTab-btn:active,
  .uppy-DashboardTab-btn:hover {
    color: $color-cornflower-blue;
  }

.uppy-DashboardTab-name {
  font-size: 8px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .uppy-Dashboard--wide & {
    font-size: 9px;
  }
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.uppy-DashboardTab .UppyIcon {
  width: 18px;
  height: 18px;
  vertical-align: middle;

  .uppy-Dashboard--wide & {
    width: 23px;
    height: 23px;
  }
}

.uppy-Dashboard-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.uppy-DashboardContent-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  z-index: $zIndex-4;
  background-color: darken($color-white, 4%);
  padding: 0 15px;

  .uppy-Dashboard--wide & {
    height: 50px;
  }
}

.uppy-DashboardContent-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  margin: auto;

  .uppy-Dashboard--wide & {
    font-size: 16px;
    line-height: 50px;
    max-width: 300px;
    // top: 15px;
  }
}

.uppy-DashboardContent-titleFile {
  // text-decoration: underline;
}

.uppy-DashboardContent-back {
  @include reset-button;
  // position: absolute;
  // top: 0;
  // left: 15px;
  font-size: 14px;
  // line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  color: $color-cornflower-blue;

  .uppy-Dashboard--wide & {
    font-size: 15px;
    // line-height: 50px;
  }
}

// .uppy-DashboardContent-back .UppyIcon {
//   position: relative;
//   margin-right: 3px;
// }

.uppy-DashboardContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-105%);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  background-color: darken($color-white, 4%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  // padding: 15px;
  padding-top: 40px;
  overflow: hidden;
  z-index: $zIndex-4;

  .uppy-Dashboard--wide & {
    padding-top: 50px;
  }

  // .uppy-Dashboard--modal & {
  //   z-index: $zIndex-4;
  // }
}

.uppy-DashboardContent-panel[aria-hidden=false] {
  transform: none;
}

// Progress bar placeholder

.uppy-Dashboard-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.uppy-Dashboard-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.uppy-Dashboard-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}

.uppy-Dashboard-filesContainer {
  @include clearfix;
  position: relative;
  overflow-y: hidden;
  margin: 0;
  flex: 1;
}

.uppy-Dashboard-files {
  margin: 0;
  padding: 0 0 10px 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

  .uppy-Dashboard--wide .uppy-Dashboard-files {
    padding: 15px 10px 10px 10px;
  }

.uppy-Dashboard.drag .uppy-Dashboard-innerWrap  {
  background-color: darken($color-white, 20%)
}

.uppy-Dashboard.drag .uppy-Dashboard-files--noFiles {
  border-color: darken($color-white, 20%);
}

// .uppy-Dashboard-bgIcon {
  // width: 100%;
  // max-width: 460px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // opacity: 0.7;
  // transition: all 0.3s;
  // padding: 0 20px;
// }

// .uppy-Dashboard-bgIcon .UppyIcon {
//   width: 100%;
//   height: 80px;
//   fill: none;
//   stroke: $color-asphalt-gray;

//   .uppy-Dashboard--wide & {
//     height: 110px;
//   }
// }

.uppy-Dashboard-bgIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uppy-Dashboard.drag .uppy-Dashboard-bgIcon {
  opacity: 1;
}

.uppy-Dashboard-dropFilesTitle {
  max-width: 460px;
  text-align: center;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  color: rgba($color-asphalt-gray, 0.8);
  padding: 0 15px;
  // margin: 0;
  // margin-top: 25px;

  .uppy-Dashboard--wide & {
    font-size: 24px;
  }
}

.uppy-Dashboard-note {
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  // margin-top: 20px;
  color: rgba($color-asphalt-gray, 0.7);
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;

  .uppy-Dashboard--wide & {
    font-size: 14px;
  }
}

.uppy-DashboardItem {
  list-style: none;
  margin: 10px 0;
  position: relative;
  // background-color: $color-white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lighten($color-gray, 35%);
  padding-bottom: 10px;
  padding-left: 10px;

  .uppy-Dashboard--wide & {
    flex-direction: column;
    float: left;
    width: 140px;
    height: 170px;
    margin: 5px 15px;
    border: 0;
    background-color: initial;
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.uppy-DashboardItem-preview {
  width: 60px;
  height: 60px;
  border-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .uppy-Dashboard--wide & {
    width: 100%;
    height: 100px;
    border: 0;
  }
}

.uppy-DashboardItem-previewLink {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-3;
}

.uppy-DashboardItem-sourceIcon {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  color: rgba($color-gray, 0.6);

  .uppy-Dashboard--wide & {
    width: 10px;
    height: 10px;
  }
}

.uppy-DashboardItem-previewInnerWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2px 0 rgba($color-gray, 0.7);
  border-radius: 3px;

  .uppy-Dashboard--wide & {
    // box-shadow: 0 0 2px 0 rgba(175, 175, 175, 0.7);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 3px;
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
  }
}

  .uppy-DashboardItem-previewInnerWrap:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.65) /* no !important */;
    display: none;
    z-index: $zIndex-2;
  }


.uppy-DashboardItem-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.uppy-DashboardItem-previewIconWrap {
  height: 80px;
  max-height: 90%;
  position: relative;
}

.uppy-DashboardItem-previewIconBg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(rgba($color-black, 0.1) 0px 0px 1px);
}

.uppy-DashboardItem-previewIcon {
  width: 18px;
  height: 18px;
  z-index: $zIndex-1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .uppy-Dashboard--wide & {
    width: 25px;
    height: 25px;
  }
}

.uppy-DashboardItem-previewType {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  color: $color-asphalt-gray;
  z-index: $zIndex-1;
  user-select: none;
}

.uppy-DashboardItem-info {
  // padding: 10px 19px 0 25px;
  padding-left: 15px;
  position: relative;
  max-width: 65%;

  .uppy-Dashboard--wide & {
    width: 100%;
    max-width: 100%;
    flex: 1;
    padding: 10px 19px 0 3px;
    // border-bottom-left-radius: 6px;
    // border-bottom-right-radius: 6px;
    // border: 1px solid rgba($color-gray, 0.2);
    border-top: 0;
  }
}

.uppy-DashboardItem-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .uppy-Dashboard--wide & {
    word-break: break-all;
    white-space: normal;
  }
}

.uppy-DashboardItem-name a {
  text-decoration: underline;
  color: $color-black;
}

.uppy-DashboardItem-status {
  font-size: 11px;
  font-weight: normal;
  color: $color-gray;
  margin-bottom: 4px;
}

.uppy-DashboardItem-statusSize {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-right: 3px;
}

.uppy-DashboardItem-edit,
.uppy-DashboardItem-copyLink {
  @include reset-button;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -20px;

  .uppy-Dashboard--wide & {
    top: 9px;
    right: 3px;
  }
}

.uppy-DashboardItem-edit .UppyIcon {
  width: 11px;
  height: 11px;
  color: $color-asphalt-gray;

  .uppy-Dashboard--wide & {
    width: 12px;
    height: 12px;
  }
}

.uppy-DashboardItem-copyLink .UppyIcon {
  width: 11px;
  height: 11px;
  color: $color-asphalt-gray;

  .uppy-Dashboard--wide & {
    width: 13px;
    height: 13px;
  }
}

.uppy-DashboardItem-action {
  position: absolute;
  top: 23px;
  right: 5px;
  z-index: $zIndex-3;

  .uppy-Dashboard--wide & {
    top: -8px;
    right: -8px;
  }
}

.uppy-DashboardItem-remove {
  @include reset-button;
  cursor: pointer;
  color: lighten($color-asphalt-gray, 20%);
  width: 16px;
  height: 16px;

  .uppy-Dashboard--wide & {
    width: 20px;
    height: 20px;
    color: lighten($color-asphalt-gray, 8%);
  }
}

  .uppy-DashboardItem.is-inprogress:not(.is-resumable) .uppy-DashboardItem-remove {
    display: none;
  }


.uppy-DashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-3;
  color: $color-white;
  text-align: center;
  width: 120px;
  display: none;
  transition: all .35 ease;
}

  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progress {
    transform: initial;
    top: -9px;
    right: -8px;
    left: initial;
    width: auto;
  }

  .uppy-DashboardItem.is-inprogress .uppy-DashboardItem-progress,
  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progress,
  .uppy-DashboardItem.is-error .uppy-DashboardItem-progress {
    display: block;
  }

.uppy-DashboardItem-progressIndicator {
  @include reset-button;
  width: 38px;
  height: 38px;
  opacity: 0.9;
  cursor: pointer;
  transition: all .35s ease;

  .uppy-Dashboard--wide & {
    width: 55px;
    height: 55px;
  }
}

  .uppy-DashboardItem.is-error .uppy-DashboardItem-progressIndicator {
    width: 18px;
    height: 18px;

    .uppy-Dashboard--wide & {
      width: 28px;
      height: 28px;
    }
  }

  .uppy-DashboardItem.is-complete .uppy-DashboardItem-progressIndicator {
    width: 18px;
    height: 18px;
    opacity: 1;

    .uppy-Dashboard--wide & {
      width: 25px;
      height: 25px;
    }
  }

.uppy-DashboardItem-progressInfo {
  font-size: 9px;
  line-height: 1;
  font-weight: 500;
  height: 10px;
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba($color-black, 0.3);

  .uppy-Dashboard--wide & {
    display: block;
  }
}

.UppyIcon-progressCircle {
  width: 100%;
  height: 100%;
}

.uppy-DashboardItem .bg {
  stroke: rgba($color-white, 0.4);
  opacity: 0;
}

.uppy-DashboardItem .progress {
  stroke: $color-white;
  transition: stroke-dashoffset .5s ease-out;
  opacity: 0;
}

.uppy-DashboardItem .play {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.uppy-DashboardItem .cancel {
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
}

.uppy-DashboardItem .pause {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.uppy-DashboardItem.is-error .retry {
  fill: $color-white;
}

.uppy-DashboardItem.is-resumable {
  .pause, .play { display: block; }
  .cancel { display: none; }
}

.UppyIcon-progressCircle .check {
  opacity: 0;
  fill: $color-white;
  transition: all 0.2s;
}

.uppy-DashboardItem.is-inprogress {
  .bg, .progress, .pause, .cancel {
    opacity: 1;
  }

  .uppy-DashboardItem-previewInnerWrap:after {
    display: block;
  }
}

.uppy-DashboardItem.is-error {
  .uppy-DashboardItem-previewInnerWrap:after {
    display: block;
  }
}

.uppy-DashboardItem.is-paused {
  .pause {
    opacity: 0;
  }
  .play {
    opacity: 1;
  }
}

.uppy-DashboardItem.is-complete {
  .uppy-DashboardItem-progressIndicator {
    cursor: default;
  }

  .progress {
    stroke: $color-green;
    fill: $color-green;
    opacity: 1;
  }

  .check {
    opacity: 1;
  }
}

.uppy-DashboardItem-progressNum {
  position: relative;
  z-index: $zIndex-2;
}

.uppy-DashboardItem-progressInner {
  height: 15px;
  background-color: $color-cornflower-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.uppy-Dashboard-actions {
  height: 55px;
  border-top: 1px solid rgba($color-gray, 0.2);
  display: flex;
  align-items: center;
  padding: 0 15px;
}

  .uppy-Dashboard--wide .uppy-Dashboard-actions {
    height: 75px;
  }

.uppy-Dashboard-actionsBtn {
  margin-right: 10px;
}

.uppy-Dashboard-pauseResume .UppyIcon {
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-upload {
  position: relative;
  width: 50px;
  height: 50px;

  .uppy-Dashboard--wide & {
    width: 60px;
    height: 60px;
  }
}

.uppy-Dashboard-upload .UppyIcon {
  position: relative;
  top: 1px;
  width: 50%;
}

.uppy-Dashboard-uploadCount {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 8px;

  .uppy-Dashboard--wide & {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 9px;
  }
}

//
// File Card
//

.uppy-DashboardFileCard {
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-4;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
  background-color: $color-white;
}

.uppy-DashboardFileCard[aria-hidden=true] {
  transform: translateY(-105%);
}

.uppy-DashboardFileCard-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;

  .uppy-Dashboard--wide & {
    padding-top: 50px;
  }
}

.uppy-DashboardFileCard-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  background-color: lighten($color-gray, 40%); /* no !important */
  position: relative;
}

.uppy-DashboardFileCard-preview img {
  box-shadow: 0px 3px 20px rgba($color-black, 0.15);
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  border-radius: 3px;
  position: absolute;
}

.uppy-DashboardFileCard-info {
  padding: 30px 20px 20px 20px;
  max-height: 40%;
  flex-grow: 1;
  overflow-y: auto;
}

.uppy-DashboardFileCard-fieldset {
  font-size: 0;
  border: 0;
  padding: 0;
  max-width: 640px;
  margin: auto;
  margin-bottom: 12px;
}

.uppy-DashboardFileCard-label {
  display: inline-block;
  vertical-align: middle;
  width: 22%;
  font-size: 12px;
  color: $color-asphalt-gray;

  .uppy-Dashboard--wide & {
    font-size: 13px;
  }
}

.uppy-DashboardFileCard-input {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
}
