@import '_variables.scss';
@import '_utils.scss';
@import '_animation.scss';
@import '_common.scss';

.UppyDashboard--modal {
  z-index: $zIndex-2;
}

.UppyDashboard--modal[aria-hidden=true] {
  display: none;
}

// Added to body to prevent the page from scrolling when Modal is open
.is-UppyDashboard-open {
  overflow: hidden;
}

.UppyDashboard--modal .UppyDashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.UppyDashboard-inner {
  position: relative;
  background-color: darken($color-white, 2%);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: $zIndex-3;
  outline: none;

  @media #{$screen-medium} {
    width: 750px;
    height: 550px;
    border-radius: 5px;
  }
}

.UppyDashboard-innerWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  // min-height: 400px;
  // border: 2px dashed;
  // border-radius: 10px;
  // border-color: lighten($color-gray, 15%);
  // border-color: #E4E4E4;
  overflow: hidden;
}

.UppyDashboard--semiTransparent .UppyDashboard-inner {
  background-color: rgba($color-white, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.UppyDashboard--modal .UppyDashboard-inner {
  position: fixed;
  top: 0;
  left: 0;
  border: none;

  @media #{$screen-medium} {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
  }
}

.UppyDashboard-close {
  @include reset-button;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: lighten($color-asphalt-gray, 20%);
  z-index: $zIndex-4;
  transition: all 0.2s;

  @media #{$screen-medium} {
    color: $color-white;
    top: 16px;
    right: 16px;
  }

  &:hover {
    color: $color-black;
  }

  .UppyIcon {
    width: 14px;
    height: 14px;
    @media #{$screen-medium} {
      width: 18px;
      height: 18px;
    }
  }
}

.UppyDashboardTabs {
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed lighten($color-gray, 15%);
}

.UppyDashboardTabs[aria-hidden=true] {
  display: none;
}

.UppyDashboardTabs-title {
  font-size: 17px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  // margin-bottom: 8px;
  color: $color-asphalt-gray;
}

.UppyDashboard-browse {
  @include reset-button;
  cursor: pointer;
  color: $color-cornflower-blue;
}

.UppyDashboardTabs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyDashboardTab {
  width: 80px;
  display: inline-block;
  text-align: center;
}

.UppyDashboardTab-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.3s;
  color: darken($color-gray, 25%);

  &:focus,
  &:active,
  &:hover {
    color: $color-cornflower-blue;
  }
}

.UppyDashboardTab-name {
  font-size: 9px;
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: normal;
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.UppyDashboardTab .UppyIcon {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.UppyDashboard-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.UppyDashboardContent-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
}

.UppyDashboardContent-title {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.UppyDashboardContent-titleFile {
  text-decoration: underline;
}

.UppyDashboardContent-back {
  @include reset-button;
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: $color-cornflower-blue;
}

.UppyDashboardContent-back .UppyIcon {
  position: relative;
  margin-right: 3px;
}

.UppyDashboardContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-105%);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
  background-color: darken($color-white, 4%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  padding: 15px;
  padding-top: 60px;
  overflow: hidden;
  z-index: $zIndex-3;
}

.UppyDashboardContent-panel[aria-hidden=false] {
  transform: none;
}

// Progress bar placeholder

.UppyDashboard-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.UppyDashboard-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.UppyDashboard-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.UppyDashboard-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}

.UppyDashboard-filesContainer {
  @include clearfix;
  position: relative;
  overflow-y: hidden;
  margin: 0;
  flex: 1;
}

.UppyDashboard-files {
  margin: 0;
  padding: 10px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.UppyDashboard-files--noFiles {
  // border: 2px dashed;
  // border-color: #E4E4E4;
  // border-radius: 10px;
  // margin: 0 15px 15px 15px;
}

.UppyDashboard.drag .UppyDashboard-innerWrap  {
  background-color: darken($color-white, 10%)
}

.UppyDashboard.drag .UppyDashboard-files--noFiles {
  border-color: darken(#E4E4E4, 20%);
}

.UppyDashboard-bgIcon {
  width: 330px;
  max-width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: all 0.3s;
}

.UppyDashboard-bgIcon .UppyIcon {
  width: 100%;
  height: 110px;
  fill: none;
  stroke: $color-asphalt-gray;
}

.UppyDashboard.drag .UppyDashboard-bgIcon {
  opacity: 1;
}

.UppyDashboard-dropFilesTitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.45;
  font-weight: normal;
  color: $color-asphalt-gray;
  margin: 0;
  margin-top: 25px;
}

.UppyDashboardItem {
  float: left;
  list-style: none;
  width: 140px;
  height: 170px;
  margin: 15px 21px;
  position: relative;
  border-radius: 6px;
  background-color: $color-white;
  border: 1px solid rgba($color-gray, 0.2);
}

.UppyDashboardItem-preview {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  border-bottom: 1px solid rgba($color-gray, 0.2);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

  .UppyDashboardItem-preview:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.3);
    display: none;
  }

// .UppyDashboardItem-preview .UppyIcon {
//   height: 50px;
// }

.UppyDashboardItem-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UppyDashboardItem-previewIcon {
  // height: 75px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.UppyDashboardItem-info {
  padding: 8px 32px 8px 10px;
  height: 60px;
  position: relative;
}

.UppyDashboardItem-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  overflow: hidden;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.UppyDashboardItem-name a {
  text-decoration: underline;
  color: $color-black;
}

.UppyDashboardItem-status {
  font-size: 11px;
  font-weight: normal;
  color: $color-gray;
  margin-bottom: 4px;
}

.UppyDashboardItem-statusSize {
  text-transform: uppercase;
}

.UppyDashboardItem-edit,
.UppyDashboardItem-copyLink {
  @include reset-button;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.UppyDashboardItem-edit .UppyIcon {
  width: 13px;
  height: 13px;
  color: $color-asphalt-gray;
}

.UppyDashboardItem-copyLink .UppyIcon {
  width: 13px;
  height: 13px;
  color: $color-asphalt-gray;
}

.UppyDashboardItem-action {
  position: absolute;
  top: -8px;
  right: -8px;
}

.UppyDashboardItem-remove {
  @include reset-button;
  cursor: pointer;
  color: $color-asphalt-gray;
  width: 20px;
}

.UppyDashboardItem-remove .UppyIcon {
  max-width: 100%;
}

  // .Uppy--isTouchDevice .UppyDashboardItem-remove,
  .UppyDashboardItem:hover .UppyDashboardItem-remove {
    opacity: 1;
  }

.UppyDashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-2;
  color: $color-white;
  text-align: center;
  width: 120px;
  display: none;
}

  .UppyDashboardItem.is-inprogress .UppyDashboardItem-progress,
  .UppyDashboardItem.is-complete .UppyDashboardItem-progress {
    display: block;
  }

.UppyDashboardItem-progressBtn {
  @include reset-button;
  width: 55px;
  height: 55px;
  opacity: 0.9;
  cursor: pointer;
}

.UppyDashboardItem-progressInfo {
  font-size: 9px;
  line-height: 1;
  font-weight: 500;
  height: 10px;
  // display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba($color-black, 0.3);
}

.UppyIcon-progressCircle {
  width: 100%;
  height: 100%;
}

.UppyIcon-progressCircle .bg {
  stroke: rgba($color-white, 0.4);
  opacity: 0;
  // transition: all 0.2s;
}

.UppyIcon-progressCircle .progress {
  stroke: $color-white;
  transition: stroke-dashoffset .5s ease-out;
  opacity: 0;
}

.UppyIcon-progressCircle .play {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.UppyDashboardItem .pause {
  stroke: $color-white;
  fill: $color-white;
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

.UppyDashboardItem.is-resumable {
  .pause, .play { display: block; }
}

.UppyIcon-progressCircle .check {
  opacity: 0;
  fill: $color-white;
  transition: all 0.2s;
}

.UppyDashboardItem.is-inprogress {
  .bg, .progress, .pause {
    opacity: 1;
  }

  .UppyDashboardItem-preview:after {
    display: block;
  }
}

.UppyDashboardItem.is-paused {
  .pause {
    opacity: 0;
  }
  .play {
    opacity: 1;
  }
}

.UppyDashboardItem.is-complete {
  .UppyDashboardItem-progressBtn {
    cursor: default;
  }

  .UppyDashboardItem-preview:after {
    display: block;
  }

  .progress {
    stroke: $color-green;
    fill: $color-green;
    opacity: 1;
  }

  .check {
    opacity: 1;
  }
}




.UppyTotalProgress {
  @include reset-button;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.UppyTotalProgress .UppyIcon {
  width: 100%;
  height: 100%;
}

.UppyTotalProgress .bg {
  stroke: rgba($color-cornflower-blue, 0.3);
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 2px 4px 0px rgba($color-black, 0.2);
}

.UppyTotalProgress .progress {
  stroke: darken($color-cornflower-blue, 5%);
  transition: stroke-dashoffset .5s ease-out;
  opacity: 1;
}

.UppyTotalProgress .play {
  stroke: darken($color-cornflower-blue, 5%);
  fill: darken($color-cornflower-blue, 5%);
  transition: all 0.2s;
  opacity: 0;
}

.UppyTotalProgress .pause {
  stroke: darken($color-cornflower-blue, 5%);
  fill: darken($color-cornflower-blue, 5%);
  transition: all 0.2s;
  opacity: 1;
}

.UppyTotalProgress .check {
  fill: $color-white;
  transition: all 0.2s;
  opacity: 0;
}

.UppyTotalProgress--is-paused {
  .pause {
    opacity: 0;
  }
  .play {
    opacity: 1;
  }
}

.UppyTotalProgress--is-complete {
  cursor: default;

  .pause, .play {
    opacity: 0;
  }

  .bg {
    stroke: $color-green;
    opacity: 1;
  }

  .progress {
    stroke: $color-green;
    fill: $color-green;
    opacity: 1;
  }
  .check {
    opacity: 1;
  }
}

.UppyTotalProgress-info {
  font-size: 10px;
  color: $color-asphalt-gray;
}




.UppyDashboardItem-progressNum {
  position: relative;
  z-index: $zIndex-2;
}

.UppyDashboardItem-progressInner {
  height: 15px;
  background-color: $color-cornflower-blue;
  position: absolute;
  top: 0;
  left: 0;
}

.UppyDashboard-actions {
  width: 70px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

// .UppyDashboard-actions button:nth-child(2) {
//   margin-top: 10px;
// }

.UppyDashboard-pauseResume .UppyIcon {
  width: 100%;
  height: 100%;
}

.UppyDashboard-upload {
  position: relative;
}

.UppyDashboard-upload .UppyIcon {
  position: relative;
  top: 1px;
  width: 50%;
}

.UppyDashboard-uploadCount {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 9px;
}

//
// File Card
//

.UppyDashboardFileCard {
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-4;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
  background-color: $color-white;
}

.UppyDashboardFileCard[aria-hidden=true] {
  transform: translateY(-105%);
}

.UppyDashboardFileCard-inner {
  height: 100%;
  padding-top: 50px;
}

.UppyDashboardFileCard-preview {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba($color-gray, 0.3);
  background-color: lighten($color-gray, 40%);
}

.UppyDashboardFileCard-preview img {
  box-shadow: 0px 3px 20px rgba($color-black, 0.15);
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.UppyDashboardFileCard-info {
  padding: 30px 20px 20px 20px;
}

.UppyDashboardFileCard-fieldset {
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 15px;
}

.UppyDashboardFileCard-label {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  font-size: 13px;
  color: $color-asphalt-gray;
}

.UppyDashboardFileCard-input {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  border: 0;
  border-bottom: 1px solid rgba($color-asphalt-gray, 0.3);
  outline: none;
  font-size: 15px;
  line-height: 1.8;
  padding-left: 5px;
  margin: auto;
}

.UppyDashboardFileCard-input:focus {
  border-color: $color-asphalt-gray;
}

// .UppyDashboardFileCard-done {
//   position: absolute;
//   bottom: 25px;
//   right: 25px;
//   transition: all 0.3s;
// }

.UppyDashboardFileCard-done .UppyIcon {
  width: 30px;
  height: 30px;
}

.UppyDashboard-statusBar {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: $color-white;
  background-color: rgba($color-black, 0.6);
  box-shadow: 1px 1px 4px 0 rgba($color-asphalt-gray, 0.3);
  overflow: hidden;
  z-index: $zIndex-2;
  transition: height .35s;

  @media #{$screen-medium} {
    // left: 50%;
    // bottom: 20px;
    // margin-left: -200px;
    // width: 400px;
    // border-radius: 4px;
  }
}

.UppyDashboard-statusBar[aria-hidden=true] {
  height: 0;
}

.UppyDashboard-statusBar.is-complete .UppyDashboard-statusBarProgress {
  background-color: $color-green;
}

.UppyDashboard-statusBar.is-complete .UppyDashboard-statusBarContent {
  text-align: center;
}

.UppyDashboard-statusBarProgress {
  background-color: $color-cornflower-blue;
  height: 100%;
  position: absolute;
  z-index: $zIndex-2;
  transition: all .3s ease-out;
}

.UppyDashboard-statusBarContent {
  font-weight: 600;
  position: relative;
  z-index: $zIndex-3;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.UppyDashboard-statusBarContent .UppyIcon {
  margin-right: 10px;
}

.UppyDashboard-statusBarAction {
  @include reset-button;
  // position: absolute;
  // left: 14px;
  // top: 12px;
  // z-index: $zIndex-4;
  color: $color-white;
  cursor: pointer;
}
