/**
* General Uppy styles that apply to everything inside the .Uppy container
*/

.UppyDashboard {
  height: 100%;
  position: relative;
}

.UppyDashboard-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.UppyDashboard-list {
  @include clearfix;
  border: 2px dashed;
  border-radius: 10px;
  border-color: lighten($color-gray, 20%);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  bottom: 15px;
  right: 15px;
  left: 0;
  overflow: scroll;
  padding: 15px;
}

.UppyDashboardItem {
  list-style: none;
  margin: 0;
  width: 140px;
  float: left;
  padding-top: 20px;
  margin: 0 15px;
  text-align: center;
  position: relative;
}

.UppyDashboardItem-icon {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba($color-black, 0.1);
  margin-bottom: 10px;
}

.UppyDashboardItem-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UppyDashboardItem-name {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.UppyDashboardItem-status {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

.UppyDashboardItem-action {
  position: absolute;
  top: 10px;
  right: -6px;
}

.UppyDashboardItem-remove {
  @include reset-button;
  cursor: pointer;
}

.UppyDashboardItem-progress {
  width: 85px;
  height: 4px;
  margin: auto;
  background-color: lighten($color-cornflower-blue, 50%);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  border-radius: 8px;
}

.UppyDashboardItem-progressInner {
  height: 4px;
  background-color: $color-cornflower-blue;
}

.UppyDashboard-upload {
  @include reset-button;
  width: 70px;
  height: 70px;
  box-shadow: 1px 2px 4px 0px rgba($color-black, 0.3);
  border-radius: 50%;
  background-color: $color-cornflower-blue;
  position: absolute;
  bottom: 40px;
  right: 50px;
  cursor: pointer;
}

.UppyDashboard-upload .UppyIcon {
  position: relative;
  top: 2px;
}

.UppyDashboard-uploadCount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 10px;
  padding: 4px 7px;
  background-color: $color-green;
  color: $color-white;
  border-radius: 50%;
}
