/**
* General Uppy styles that apply to everything inside the .Uppy container
*/

.UppyDashboard {
  height: 100%;
}

.UppyDashboard-title {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.UppyDashboard-list {
  @include clearfix;
  border: 2px dashed;
  border-radius: 10px;
  border-color: lighten($color-gray, 20%);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  bottom: 15px;
  right: 15px;
  left: 0;
  overflow: scroll;
}

.UppyDashboardItem {
  list-style: none;
  margin: 0;
  width: 150px;
  float: left;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.UppyDashboardItem-icon img {
  border-radius: 6px;
}

.UppyDashboardItem-name {
  font-size: 14px;
}

.UppyDashboardItem-remove {
  @include reset-button;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
