// .Uppy {

  .uppy-DragDrop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: $color-white;
    // cursor: pointer;
  }
  
  .uppy-DragDrop-inner {
    margin: 0;
    text-align: center;
    padding: 80px 20px;
    line-height: 1.4;
  }
  
  .uppy-DragDrop-arrow {
    width: 60px;
    height: 60px;
    fill: lighten($color-gray, 30%);
    margin-bottom: 17px;
  }
  
    .uppy-DragDrop-container.is-dragdrop-supported {
      border: 2px dashed;
      border-color: lighten($color-gray, 10%);
    }
  
    // .uppy-DragDrop-container.is-dragdrop-supported .uppy-DragDrop-dragText {
    //   display: inline;
    // }
  
    .uppy-DragDrop-container.drag {
      border-color: $color-gray;
      background-color: darken($color-white, 10%);
    }

    .uppy-DragDrop-container.drag .uppy-DragDrop-arrow {
      fill: $color-gray;
    }
  
  .uppy-DragDrop-label {
    display: block;
    cursor: pointer;
    font-size: 1.15em;
    margin-bottom: 5px;
  }

  .uppy-DragDrop-note {
    font-size: 1em;
    color: lighten($color-gray, 10%);
  }
  
  .uppy-DragDrop-dragText {
    color: $color-cornflower-blue;
  }

// }
