@import '_variables.scss';
@import '_utils.scss';
@import '_animation.scss';
@import '_common.scss';

.UppyDragDrop-container {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.UppyDragDrop-inner {
  margin: 0;
}

  .UppyDragDrop-container.is-dragdrop-supported {
    border: 2px dashed;
    border-color: lighten($color-gray, 20%);
  }

  .UppyDragDrop-container.is-dragdrop-supported .UppyDragDrop-dragText {
    display: inline;
  }

  .UppyDragDrop-container.drag {
    border-color: $color-gray;
    // background-color: #dbf5f3;
  }

/* http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.UppyDragDrop-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.UppyDragDrop-label {
  display: block;
  cursor: pointer;
  font-size: 1.15em;
}

.UppyDragDrop-dragText {
  display: none;
}

.UppyDragDrop-uploadBtn {
  display: block;
  margin: auto;
  padding: 5px 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border: 1px solid $color-gray;
  background: none;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    background: $color-gray;
  }
}
