/**
* Drag & Drop CSS to style the plugin
*/
.UppyDragDrop-container {
  height: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px;
}

  .UppyDragDrop-container.is-dragdrop-supported {
    border: 4px dashed;
    border-color: #dadada;
  }

  .UppyDragDrop-container.is-dragdrop-supported .UppyDragDrop-dragText {
    display: inline;
  }

  .UppyDragDrop-container.drag {
    border-color: #d2ecea;
    background-color: #dbf5f3;
  }

.UppyDragDrop-inner {
  // width: 100%;
  // height: 100%;
  // text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

/* http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.UppyDragDrop-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.UppyDragDrop-label {
  display: block;
  cursor: pointer;
  font-size: 1.15em;
}

.UppyDragDrop-dragText {
  display: none;
}

.UppyDragDrop-uploadBtn {
  display: block;
  margin: auto;
  padding: 5px 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    background: #ccc;
  }
}
