/**
* Drag & Drop CSS to style the plugin
*/
.UppyDragDrop {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 15px;
}

  .UppyDragDrop.is-dragdrop-supported {
    border: 2px dashed;
    border-color: #ccc;
  }

  .UppyDragDrop.is-dragdrop-supported .UppyDragDrop-dragText {
    display: inline;
  }

  .UppyDragDrop.is-dragover {
    border-color: #d2ecea;
    background-color: #dbf5f3;
  }

.UppyDragDrop-inner {
  // width: 300px;
  width: 100%;
  height: 100%;
  text-align: center;
  // padding: 100px 10px;
}

/* http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.UppyDragDrop-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.UppyDragDrop-label {
  display: block;
  cursor: pointer;
  font-size: 1.15em;
}

.UppyDragDrop-dragText {
  display: none;
}

.UppyDragDrop-uploadBtn {
  display: block;
  margin: auto;
  margin-top: 20px;
  min-width: 110px;
  min-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;

  &:hover {
    background: #ccc;
  }
}
