.uppy-FileInput-form {
  margin-bottom: 15px;
}

.uppy-FileInput-btn {
  @include reset-button;

  font-family: sans-serif;
  font-size: 0.85em;
  // text-transform: uppercase;
  padding: 10px 15px;
  color: $color-pink;
  border: 1px solid $color-pink;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: $color-pink;
    color: $color-white;
  }
}
