.UppyGoogleDrive-authenticate {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
}

.UppyGoogleDrive-authenticate a {
  background-color: transparent;
  border: 1px solid #78BDF2;
  border-radius: 12px;
  color: darken(#78BDF2, 25%);
  font-size: 22px;
  margin-bottom: 88px;
  padding: 6px 16px;
  transition: background-color 400ms;

  &:hover {
    background-color: darken(#78BDF2,10%);
    color: #fff;
    transition: background-color 400ms;
  }
}

.UppyGoogleDrive-authenticate h1 {
  font-size: 24px;
  margin-bottom: 48px;
}

.UppyGoogleDrive-breadcrumbs {
  list-style-type: none;
  margin: 0;
  margin-left: 200px;
  padding: 8px 0;
}

.UppyGoogleDrive-breadcrumbs button {
  background: transparent;
  border: 0;
  font-size: 16px;
}

.UppyGoogleDrive-breadcrumbs li {
  display: inline-block;
}

.UppyGoogleDrive-breadcrumbs li:after {
  content: '>';
}

.UppyGoogleDrive-breadcrumbs li:last-child:after {
  content: '';
}

.UppyGoogleDrive-sidebar {
  float: left;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.UppyGoogleDrive-sidebar li {
  margin: 0 auto;
  padding: 0 32px;
}

.UppyGoogleDrive-browser {
  border: 1px solid #eee;
  border-collapse: collapse;
  float: left;
  width: 50%;
}

.UppyGoogleDrive-browser td {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.UppyGoogleDrive-browser tbody tr:last-child td {
  border-bottom: 0;
}

.UppyGoogleDrive-browser tbody tr .UppyGoogleDrive-fileIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px 5px 8px;
}

.UppyGoogleDrive-browser tbody tr .UppyGoogleDrive-folderIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px 5px 8px;
  margin-top: 2px;
}

.UppyGoogleDrive-browser tbody tr.is-active {
  background-color: #78BDF2;
  color: #fff;
}

.UppyGoogleDrive-fileInfo {
  float: left;
  padding: 0 16px;
}

.UppyGoogleDrive-fileInfo .UppyGoogleDrive-fileThumbnail {
  width: 50%;
}

.UppyGoogleDrive-fileInfo .UppyGoogleDrive-fileIcon {
  margin-right: 8px;
}
