// @import '_variables.scss';
// @import '_utils.scss';
// @import '_animation.scss';
// @import '_common.scss';

.UppyInformer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  background-color: rgba($color-black, 0.8);
  color: $color-white;
  opacity: 1;
  transform: none;
  transition: all 300ms ease-in;
  z-index: $zIndex-4;

  .UppyDashboard--wide & {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
}

  .UppyInformer[aria-hidden=true] {
    opacity: 0;
    transform: translateY(200%);
    transition: all 300ms ease-in;
  }

.UppyInformer p {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;

  .UppyDashboard--wide & {
    height: 40px;
    line-height: 40px;
  }
}
