@import '_variables.scss';
@import '_utils.scss';
@import '_animation.scss';
@import '_common.scss';

// .UppyInformer-container {
//   text-align: center;
//   position: absolute;
//   width: 100%;
//   bottom: 40px;
//   left: 0;
//   display: flex;
//   align-items: center;
// }

.UppyInformer {
  position: absolute;
  left: 15px;
  bottom: 50px;
  // width: 100%;
  // bottom: 0;
  // left: 0;
  text-align: center;
  // left: 50%;
  // display: flex;
  // align-items: center;
  // margin: auto;
  max-width: 280px;
  min-height: 40px;
  max-height: 60px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;
  padding: 12px 15px;
  background-color: rgba($color-black, 0.7);
  color: $color-white;
  opacity: 1;
  transform: none;
  transition: all 300ms ease-in;
  border-radius: 5px;
  z-index: $zIndex-4;
}

  .UppyInformer[aria-hidden=true] {
    opacity: 0;
    transform: translateY(200%);
    transition: all 300ms ease-in;
  }

.UppyInformer p {
  margin: 0;
  padding: 0;
}
