.UppyInformer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  background-color: $color-black;
  color: $color-white;
  opacity: 0.9;
  transform: none;
  transition: all 300ms ease-in;
  z-index: $zIndex-4;

  .uppy-Dashboard--wide & {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
}

  .UppyInformer[aria-hidden=true] {
    opacity: 0;
    transform: translateY(200%);
    transition: all 300ms ease-in;
  }

.UppyInformer p {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;

  .uppy-Dashboard--wide & {
    height: 40px;
    line-height: 40px;
  }
}

.UppyInformer span {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  background-color: $color-white;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: 3px;
  font-size: 10px;
  margin-left: -1px;
}

.UppyInformer span:after {
  line-height: 1.3;
  word-wrap: break-word;
}
