.UppyModal * {
  box-sizing: border-box;
}

.UppyModal {
  z-index: $zIndex-2;
}

.UppyModal[aria-hidden] {
  display: none;
}

.UppyModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.UppyModal-inner {
  @include clearfix;
  background-color: #EBEBEB;
  height: 80vh;
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zIndex-3;
}

.UppyModal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 15px;
  color: $color-asphalt-gray;
  z-index: $zIndex-3;
}

// Tab bar

.UppyModalTabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $color-asphalt-gray;
  white-space: nowrap;
  width: 55px;
  height: 100%;
  float: left;
}

.UppyModalTab-name {
  color: $color-white;
  font-size: 12px;
  opacity: 0;
  background-color: darken($color-cornflower-blue, 20%);
  border-radius: 10px;
  padding: 4px 10px;
  position: relative;
  left: 8px;
  z-index: $zIndex-3;
  transition: all 0.3s;
}

.UppyModalTab-btn {
  width: 100%;
  text-align: left;
  padding: 12px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  overflow: hidden;
  transition: all 0.3s;

  &.is-selected {
    background-color: $color-cornflower-blue;
  }

  &:hover {
    background-color: $color-cornflower-blue;
    overflow: visible;
  }

  &:hover .UppyModalTab-name {
    opacity: 1;
  }
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.UppyModalTab-icon {
  fill: $color-white;
  margin-right: 8px;
  // width: 28px;
  // height: 28px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

// Modal content

.UppyModalContent {
  height: 100%;
  margin-left: 55px;
  padding: 35px;
  position: relative;
}

.UppyModalContent-panel {
  display: none;
}

// Progress bar placeholder

.UppyModal-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

.UppyModal-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: relative;
}

.UppyModal-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: $color-cornflower-blue;
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  cursor: pointer;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}

// .loader-block {
//   background-color: rgba(102,102,102,1);
//   display: inline-block;
//   height: 10px;
//   margin-right: 2px;
//   opacity: 0;
//   width: 10px;
//   animation: 2.5s fadeIn ease-in-out infinite;
// }
//
// .loader-block:nth-child(2) {
//   -webkit-animation-delay: 500ms;
//   animation-delay: 500ms;
// }
// .loader-block:nth-child(3) {
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
// }
