.UppyModal {
  z-index: $zIndex-2;
}

.UppyModal[aria-hidden=true] {
  display: none;
}

// Added to body to prevent the page from scrolling when Modal is open
.is-UppyModal-open {
  overflow: hidden;
}

.UppyModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.UppyModal-inner {
  @include clearfix;
  background-color: darken($color-white, 4%);
  height: 80vh;
  width: 65%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: $zIndex-3;
  outline: none;
  box-shadow: 0px 0px 20px 4px rgba($color-black, 0.07);
  border-radius: 8px;
}

.UppyModal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  color: lighten($color-asphalt-gray, 20%);
  z-index: $zIndex-3;
  transition: all 0.2s;

  &:hover {
    color: $color-black;
  }
}

// Tab bar

.UppyModalTabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyModalTab {
  // margin: 0 5px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.UppyModalTab-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.3s;
  color: darken($color-gray, 25%);

  &:focus,
  &:active,
  &:hover {
    color: $color-cornflower-blue;
  }
}

.UppyModalTab-name {
  font-size: 10px;
  margin: 8px 0;
  font-weight: normal;
}

// .UppyModalTab-btn[aria-selected=true] {
//   color: $color-cornflower-blue;
// }

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.UppyModalTab-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

// Modal Dashboard

.UppyModal-dashboard {
  height: 80%;
}

// Modal content

// .UppyModalContent {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   transform: translate3d(-105%, 0, 0);
//   transition: all 0.4s;
//   background-color: darken($color-white, 4%);
//   box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
//   padding-top: 30px;
// }

// .UppyModalContent.is-active {
//   transform: translate3d(0, 0, 0);
// }

.UppyModalContent-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
}

.UppyModalContent-title {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.UppyModalContent-back {
  @include reset-button;
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 14px;
  cursor: pointer;
}

.UppyModalContent-back .UppyIcon {
  position: relative;
  margin-right: 3px;
}

.UppyModalContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-105%);
  transition: all 0.5s ease-in-out;
  background-color: darken($color-white, 4%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  padding: 15px;
  padding-top: 60px;
  overflow: hidden;
}

.UppyModalContent-panel[aria-hidden=false] {
  transform: translateY(0);
}

// Progress bar placeholder

.UppyModal-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.UppyModal-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.UppyModal-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.UppyModal-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}
