.UppyModal {
  z-index: $zIndex-2;
}

.UppyModal[aria-hidden=true] {
  display: none;
}

// Added to body to prevent the page from scrolling when Modal is open
.is-UppyModal-open {
  overflow: hidden;
}

.UppyModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  z-index: $zIndex-2;
}

.UppyModal-inner {
  @include clearfix;
  background-color: darken($color-white, 5%);
  padding: 20px;
  // width: 65%;
  // height: 80vh;
  max-width: 100%;
  max-height: 100%;
  width: 750px;
  height: 550px;
  // min-width: 500px;
  // min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: $zIndex-3;
  outline: none;
  box-shadow: 0px 0px 10px 4px rgba($color-black, 0.1);
}

.UppyModal-innerWrap {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  // border: 2px dashed;
  // border-radius: 10px;
  // border-color: lighten($color-gray, 25%);
}

.UppyModal-bar {
  @include clearfix;
  padding: 14px 0;
  position: relative;
  display: none;
}

.UppyModal-title {
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  float: left;
  color: $color-asphalt-gray;
  padding-left: 5px;
}

.UppyModal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  color: lighten($color-asphalt-gray, 20%);
  z-index: $zIndex-3;
  transition: all 0.2s;

  &:hover {
    color: $color-black;
  }
}

// Tab bar

.UppyModalTabs {
  margin-bottom: 15px;
  transition: all 0.2s;
  height: 15%;
}

.UppyModalTabs-title {
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 15px;
  color: $color-asphalt-gray;
}

.UppyModalTabs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyModalTab {
  // margin: 0 5px;
  width: 85px;
  display: inline-block;
  text-align: center;
}

.UppyModalTab-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.3s;
  color: darken($color-gray, 25%);

  &:focus,
  &:active,
  &:hover {
    color: $color-cornflower-blue;
  }
}

.UppyModalTab-name {
  font-size: 9px;
  margin: 6px 0;
  font-weight: normal;
}

// On SVG sizing: https://sarasoueidan.com/blog/svg-style-inheritance-and-FOUSVG/
.UppyModalTab-icon {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.UppyModal-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// Modal Dashboard

.UppyModal-dashboard {
  // flex: 1;
  border: 2px dashed;
  border-radius: 10px;
  border-color: lighten($color-gray, 25%);
  height: 82%;
  // overflow: auto;
}

  .UppyModal.drag .UppyModal-dashboard {
    border-color: lighten($color-gray, 5%);
    background-color: darken($color-white, 5%)
  }

.UppyModalContent-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba($color-gray, 0.3);
}

.UppyModalContent-title {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.UppyModalContent-back {
  @include reset-button;
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 15px;
  // text-transform: uppercase;
  // letter-spacing: 2px;
  cursor: pointer;
}

.UppyModalContent-back .UppyIcon {
  position: relative;
  margin-right: 3px;
}

.UppyModalContent-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-105%);
  transition: all 0.5s ease-in-out;
  background-color: darken($color-white, 4%);
  box-shadow: 0 0 10px 5px rgba($color-black, 0.15);
  padding: 15px;
  padding-top: 60px;
  overflow: hidden;
  z-index: $zIndex-3;
}

.UppyModalContent-panel[aria-hidden=false] {
  transform: translateY(0);
}

// Progress bar placeholder

.UppyModal-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.UppyModal-progressBarContainer.is-active {
  z-index: $zIndex-4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.UppyModal-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-color: rgba($color-gray, 0.7);
  -webkit-appearance: none;
  border: 0;
  z-index: $zIndex-3;
  transition: background-color 0.5s;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: not-allowed;
}

.UppyModal-next.is-active {
  cursor: pointer;
  background-color: $color-cornflower-blue;

  &:hover {
    background-color: darken($color-cornflower-blue, 20%);
  }
}
