@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.UppyModal * {
  box-sizing: border-box;
}

.UppyModal {
  h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
  }
}


.UppyModal {
  @include clearfix;
  width: 900px;
  height: 600px;
  max-width: 90vw;
  max-height: 90vh;
  background-color: $color-white;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
}

.UppyModal-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.UppyModal-tabList {
  width: 15%;
  float: left;
  list-style: none;
}

.UppyModal-content {
  width: 85%;
  float: left;
}

.UppyModal-progressContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
