.UppyPresenter {
  font-size: 25px;
  text-align: center;
}

.UppyPresenter-modalClose {
  background-image: none;
  border: 0;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1;
  background-color: $color-pink;
  color: $color-white;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    @include zoom();
  }
}
