.uppy-Provider-auth, .uppy-Provider-error, .uppy-Provider-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
}

.uppy-Provider-authTitle {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
}

.uppy-Provider-authBtn {
  @include reset-button;
  border-radius: 6px;
  background-color: $color-cornflower-blue;
  color: $color-white;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 46px;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-cornflower-blue, 10%);
    color: $color-white;
  }
}

// .uppy-Provider-breadcrumbs {
//   color: $color-black;
//   font-size: 12px;
//   line-height: 40px;
//   list-style-type: none;
//   margin: 0;
//   margin-left: 16px;
//   // padding: 15px 0;
// }

.uppy-Provider-breadcrumbs button {
  @include reset-button;
  cursor: pointer;
  font-size: 14px;
}

.uppy-Provider-breadcrumbs button:hover {
  text-decoration: underline;
}

.uppy-Provider-breadcrumbs button:focus {
  outline: 1px dotted #aaa;
}

.uppy-Provider-breadcrumbs li {
  display: inline-block;
  margin: 0;
  margin-right: 6px;
}

.uppy-Provider-breadcrumbs li:not(:last-child):after {
  content: ' /';
}

.uppy-ProviderBrowser {
  // border: 1px solid #ddd;
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  // height: 475px;
  // overflow: hidden;
  // width: 718px;
}

.uppy-ProviderBrowser-user {
  margin: 16px 0;
}

.uppy-ProviderBrowser-header {
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

::-webkit-input-placeholder {
   color: rgba(119,119,119,0.75);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(119,119,119,0.75);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(119,119,119,0.75);
}

:-ms-input-placeholder {
   color: rgba(119,119,119,0.75);
}

.uppy-ProviderBrowser-headerBar {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  background-color: lighten($color-gray, 40%);
  z-index: $zIndex-2;
}

.uppy-ProviderBrowser-search {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-3;
  background-color: lighten($color-gray, 40%);
  transform: translate(0, -50px);
  transition: all .2s;
  display: flex;
  align-items: center;
}

  .uppy-ProviderBrowser-search:not([aria-hidden=true]) {
    transform: translate(0, 0);
  }

.uppy-ProviderBrowser-search input {
  flex: 1;
  background-color: transparent;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  border: 0;
  padding: 0 16px;
}


.uppy-ProviderBrowser-searchToggle {
  @include reset-button();
  width: 15px;
  cursor: pointer;
  color: $color-gray;
  transition: all .2s;

  &:hover {
    color: $color-black;
  }
}

.uppy-ProviderBrowser-searchClose {
  @include reset-button();
  cursor: pointer;
  width: 12px;
  color: $color-gray;
  transition: all .2s;
  position: relative;
  right: 16px;

  &:hover {
    color: $color-black;
  }
}

.uppy-ProviderBrowser-userLogout {
  @include reset-button();
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.uppy-Provider-breadcrumbs {
  flex: 1;
  color: $color-black;
  font-size: 12px;
  // line-height: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.uppy-ProviderBrowser-breadcrumbs span {
  font-size: 16px;
  margin-left: 32px;
}

.uppy-ProviderBrowser-breadcrumbs span.active {
  color: #666;
  flex: 1;
  font-weight: 500;
}

// .uppy-ProviderBrowser-subHeader {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   // background-color: #fafafa;
//   // flex-direction: row;
//   // height: 55px;
//   // box-shadow: 0px 3px 3px 0px rgba(121,121,121,0.25);
//   z-index: 1000;
// }

.uppy-ProviderBrowser-body {
  flex: 1;
  position: relative;
}

.uppy-ProviderBrowserTable {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.uppy-ProviderBrowser-viewType--grid {
  .uppy-ProviderBrowserTable tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // .uppy-ProviderBrowserTable tbody:after {
  //   content: "";
  //   flex: auto;
  // }

  .uppy-ProviderBrowserTable-row {
    position: relative;
  }

  .uppy-ProviderBrowserTable-column {
    // width: 100px;
    // padding: 15px 12px;
    padding: 14px 10px;
  }

  .uppy-ProviderBrowserTable-checkbox {
    position: absolute;
    top: 7px;
    right: 7px;
    margin-right: 0;
  }
}

.uppy-ProviderBrowserTable tbody {
  display: block;
}


.uppy-ProviderBrowserTable-checkbox input {
  opacity: 0;
}

// https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
.uppy-ProviderBrowserTable-checkbox {
  position: relative;
  display: inline-block;
  top: -3px;
  margin-right: 25px;
}

.uppy-ProviderBrowserTable-checkbox label {
  display: block;
}

.uppy-ProviderBrowserTable-checkbox label::before,
.uppy-ProviderBrowserTable-checkbox label::after {
  position: absolute;
  cursor: pointer;
}

// Outer circle
.uppy-ProviderBrowserTable-checkbox label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  top: 0;
  border: 1px solid $color-cornflower-blue; 
  background-color: $color-white;
  border-radius: 50%; 
}

// Inner checkbox
.uppy-ProviderBrowserTable-checkbox label:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 8px;
  left: 6px;
  top: 7px;
  border-left: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  transform: rotate(-45deg);
}

// Hide the checkmark by default
.uppy-ProviderBrowserTable-checkbox input + label::after {
  content: none;
}

// Unhide the checkmark on the checked state
.uppy-ProviderBrowserTable-checkbox input:checked + label::after {
  content: "";
}

.uppy-ProviderBrowserTable-checkbox input:checked + label::before {
  background-color: $color-cornflower-blue;
}

// Adding focus styles on the outer-box of the fake checkbox*/
.uppy-ProviderBrowserTable-checkbox input:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.uppy-ProviderBrowserTable-row {
  // border-bottom: 1px solid #eee;
  display: block;
  cursor: pointer;
  // height: 50px;
}

.uppy-ProviderBrowserTable-header {
  display: block;
}

  .uppy-ProviderBrowserTable-header:hover {
    background-color: $color-gray;
  }

.uppy-ProviderBrowserTable-column {
  color: $color-asphalt-gray;
  line-height: 1.2;
  font-weight: bold;
  padding: 16px;
}

.uppy-ProviderBrowserTable-column img {
  vertical-align: text-top;
  margin-right: 3px;
}

.uppy-ProviderBrowserTable-column input {
  margin-top: 0;
  cursor: pointer;
}

.uppy-ProviderBrowserTable-item {
  @include reset-button();
  cursor: pointer;
  font-weight: 600;
}

.uppy-ProviderBrowserTable-headerColumn {
  cursor: pointer;
  text-align: left;
}

// .uppy-ProviderBrowserTable-row:hover {
//   background-color: #eee;
// }

.uppy-ProviderBrowserTable-header {
  background-color: #fafafa;
}

// .uppy-ProviderBrowserTable-rowColumn.uppy-ProviderBrowserTable-column {
//   display: block;
//   // width: 708px;
// }

.uppy-ProviderBrowser-doneBtn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: $zIndex-3;
  width: 50px;
  height: 50px;

  .uppy-Dashboard--wide & {
    width: 60px;
    height: 60px;
  }
}

.uppy-ProviderBrowser-doneBtn .UppyIcon {
  width: 30px;
  height: 30px;
}

.nav-active {
  font-weight: bold;
}
