.UppyProgressDrawer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: $zIndex-4;
  width: 350px;
  height: 200px;
  background-color: $color-white;
}

.UppyProgressDrawer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.UppyProgressDrawer-item {
  @include clearfix;
  height: 40px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-white;
}

.UppyProgressDrawer-item.is-uploaded {
  .UppyProgressDrawer-itemBar {
    width: 100%;
  }

  .UppyProgressDrawer-itemRemove {
    display: none;
  }

  .UppyProgressDrawer-itemCheck {
    display: block;
  }
}

.UppyProgressDrawer-itemBar {
  float: left;
  width: 90%;
  height: 100%;
  background-color: lighten($color-cornflower-blue, 10%);
  position: relative;
}

.UppyProgressDrawer-itemCheck {
  display: none;
  position: absolute;
  top: 12px;
  right: 15px;
  fill: $color-white;
}

.UppyProgressDrawer-itemProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-pink;
  // z-index: $zIndex-4;
}

.UppyProgressDrawer-itemName {
  color: $color-white;
  margin: 0;
  padding: 0;
  padding: 5px 15px;
  font-size: 13px;
  z-index: $zIndex-4;
  position: relative;
}

.UppyProgressDrawer-itemRemove {
  @include reset-button;
  float: left;
  width: 10%;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  background-color: $color-pink;
  color: $color-white;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: darken($color-pink, 10%);
  }
}
