// @import '_variables.scss';
// @import '_utils.scss';
// @import '_animation.scss';
// @import '_common.scss';
// @import 'vendor/bootstrap/bootstrap-grid';

.UppyProvider-auth, .UppyProvider-error, .UppyProvider-loading {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
}

.UppyProvider-authTitle {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
}

.UppyProvider-authTitleName {
  // color: $color-cornflower-blue;
}

.UppyProvider-authBtn {
  @include reset-button;
  // background-color: transparent;
  // border: 1px solid $color-cornflower-blue;
  border-radius: 6px;
  background-color: $color-cornflower-blue;
  color: $color-white;
  // color: $color-cornflower-blue;
  font-size: 20px;
  padding: 12px 46px;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-cornflower-blue, 10%);
    color: $color-white;
  }
}

.UppyProvider-breadcrumbs {
  color: #222;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  margin-left: 16px;
  padding: 8px 0;
}

.UppyProvider-breadcrumbs button,
.UppyGoogleDrive-sidebar button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
}

.UppyProvider-breadcrumbs button:hover {
  text-decoration: underline;
}

.UppyGoogleDrive-sidebar button {
  font-size: 14px;
  padding: 0;
}

.UppyProvider-breadcrumbs button:focus,
.UppyGoogleDrive-sidebar button:focus {
  outline: 1px dotted #aaa;
}

.UppyProvider-breadcrumbs li {
  display: inline-block;
}

.UppyProvider-breadcrumbs li:after {
  content: '>';
}

.UppyProvider-breadcrumbs li:last-child:after {
  content: '';
}

.UppyGoogleDrive-sidebar {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 16px 0 16px 16px;
}

.UppyGoogleDrive-sidebar li {
  margin: 0 auto 16px;
  padding: 0;
}

.UppyGoogleDrive-sidebar img {
  margin-right: 8px;
}

.UppyGoogleDrive-browser {
  border: 1px solid #eee;
  border-collapse: collapse;
}

.UppyGoogleDrive-browser td {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.UppyGoogleDrive-browser tbody tr:last-child td {
  border-bottom: 0;
}

.UppyGoogleDrive-browser tbody tr .UppyGoogleDrive-fileIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px 5px 8px;
}

.UppyGoogleDrive-browser tbody tr .UppyGoogleDrive-folderIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px 5px 8px;
  margin-top: 2px;
}

.UppyGoogleDrive-browser tbody tr.is-active {
  background-color: #78BDF2;
  color: #fff;
}

.UppyGoogleDrive-fileInfo {
  padding: 0 16px;
}

.UppyGoogleDrive-fileInfo .UppyGoogleDrive-fileThumbnail {
  width: 50%;
}

.UppyGoogleDrive-fileInfo .UppyGoogleDrive-fileIcon {
  margin-right: 8px;
}

.UppyGoogleDrive-sidebar label {
  display: block;
  margin-bottom: 8px;
}

.UppyGoogleDrive-sidebar input {
  margin-bottom: 8px;
  padding: 4px;
}

.UppyGoogleDrive-filter {
  border: 1px solid #eee;
}

.UppyGoogleDrive-sortableHeader:hover {
  background-color: #eee;
  cursor: pointer;
}

.UppyGoogleDrive-fileInfo ul {
  list-style-type: none;
  padding: 0;
}

.UppyGoogleDrive-browserContainer {
  height: calc(80vh - 40px);
  overflow: hidden;
  overflow-y: scroll;
}

.UppyGoogleDrive-browser td {
  cursor: default;
  max-width: 25%;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25%;
}


/** NEW PLUGIN BROWSER STYLES */

.Browser {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  height: 475px;
  overflow: hidden;
  width: 718px;
}

.Browser-user {
  margin: 16px 0;
}

.Browser-userLogout {
  @include reset-button();
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Browser header {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  height: 65px;
}

.Browser-body {
  display: flex;
  flex: 1;
}

.Browser-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Browser-search {
  background-color: #f5f5f5;
  border: 0;
  font-size: 15px;
  font-weight: 400;
  height: 48px;
  margin: 0 16px;
  outline: 0;
  // padding: 0 16px;
  width: 100%;
}

::-webkit-input-placeholder {
   color: rgba(119,119,119,0.75);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(119,119,119,0.75);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(119,119,119,0.75);
}

:-ms-input-placeholder {
   color: rgba(119,119,119,0.75);
}

.Browser-subHeader {
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  height: 55px;
  // -webkit-box-shadow: 0px 3px 3px 0px rgba(121,121,121,0.25);
  // -moz-box-shadow: 0px 3px 3px 0px rgba(121,121,121,0.25);
  box-shadow: 0px 3px 3px 0px rgba(121,121,121,0.25);
  z-index: 1000;
}

.Browser-breadcrumbs span {
  font-size: 16px;
  margin-left: 32px;
}

.Browser-breadcrumbs span.active {
  color: #666;
  flex: 1;
  font-weight: 500;
}

.BrowserTable {
  background-color: white;
  flex: 1;
}

.BrowserTable tbody {
  display: block;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.BrowserTable td {
  cursor: default;
}

.BrowserTable-row {
  border-bottom: 1px solid #eee;
  height: 50px;
}

.BrowserTable-header {
  border-bottom: 1px solid #eee;
}

.BrowserTable-header:hover {
  background-color: #eee;
}

.BrowserTable-column {
  color: #666;
  font-weight: bold;
  padding: 18px;
}

.BrowserTable-headerColumn {
  cursor: pointer;
  text-align: left;
}

.BrowserTable-row.is-active {
  background-color: #eee;
}

.BrowserTable-header {
  background-color: #fafafa;
}

.BrowserTable-rowColumn.BrowserTable-column {
  display: block;
  width: 708px;
}

.nav-active {
  font-weight: bold;
}
