.UppyProgressBar {
  background-color: lighten($color-pink, 30%);
  width: 80%;
  height: 3px;
  margin: 15px auto;
}

.UppyProgressBar-inner {
  background-color: $color-pink;
  height: 100%;
  width: 0;
}

.UppyProgressBar-percentage {
  text-align: center;
}
