// @import '_variables.scss';
// @import '_utils.scss';
// @import '_animation.scss';
// @import '_common.scss';

.UppyProvider-auth, .UppyProvider-error, .UppyProvider-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
}

.UppyProvider-authTitle {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
}

.UppyProvider-authTitleName {
  // color: $color-cornflower-blue;
}

.UppyProvider-authBtn {
  @include reset-button;
  border-radius: 6px;
  background-color: $color-cornflower-blue;
  color: $color-white;
  font-size: 20px;
  padding: 12px 46px;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-cornflower-blue, 10%);
    color: $color-white;
  }
}

// .UppyProvider-breadcrumbs {
//   color: $color-black;
//   font-size: 12px;
//   line-height: 40px;
//   list-style-type: none;
//   margin: 0;
//   margin-left: 16px;
//   // padding: 15px 0;
// }

.UppyProvider-breadcrumbs button,
.UppyGoogleDrive-sidebar button {
  @include reset-button;
  cursor: pointer;
  font-size: 14px;
}

.UppyProvider-breadcrumbs button:hover {
  text-decoration: underline;
}

.UppyGoogleDrive-sidebar button {
  font-size: 14px;
  padding: 0;
}

.UppyProvider-breadcrumbs button:focus,
.UppyGoogleDrive-sidebar button:focus {
  outline: 1px dotted #aaa;
}

.UppyProvider-breadcrumbs li {
  display: inline-block;
  margin: 0;
  margin-right: 6px;
}

.UppyProvider-breadcrumbs li:not(:last-child):after {
  content: '/';
}


/** NEW PLUGIN BROWSER STYLES */

.Browser {
  // border: 1px solid #ddd;
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  // height: 475px;
  // overflow: hidden;
  // width: 718px;
}

.Browser-user {
  margin: 16px 0;
}

.Browser-header {
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

::-webkit-input-placeholder {
   color: rgba(119,119,119,0.75);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(119,119,119,0.75);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(119,119,119,0.75);
}

:-ms-input-placeholder {
   color: rgba(119,119,119,0.75);
}

.Browser-headerBar {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  background-color: lighten($color-gray, 40%);
  z-index: $zIndex-2;
}

.Browser-search {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-3;
  background-color: lighten($color-gray, 40%);
  transform: translate(0, -50px);
  transition: all .2s;
  display: flex;
  align-items: center;
}

  .Browser-search[aria-hidden=false] {
    transform: translate(0, 0);
  }

.Browser-search input {
  flex: 1;
  background-color: transparent;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  border: 0;
  padding: 0 16px;
}


.Browser-searchToggle {
  @include reset-button();
  width: 15px;
  cursor: pointer;
  color: $color-gray;
  transition: all .2s;

  &:hover {
    color: $color-black;
  }
}

.Browser-searchClose {
  @include reset-button();
  cursor: pointer;
  width: 12px;
  color: $color-gray;
  transition: all .2s;
  position: relative;
  right: 16px;

  &:hover {
    color: $color-black;
  }
}

.Browser-userLogout {
  @include reset-button();
  margin-right: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.UppyProvider-breadcrumbs {
  flex: 1;
  color: $color-black;
  font-size: 12px;
  // line-height: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.Browser-breadcrumbs span {
  font-size: 16px;
  margin-left: 32px;
}

.Browser-breadcrumbs span.active {
  color: #666;
  flex: 1;
  font-weight: 500;
}

// .Browser-subHeader {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   // background-color: #fafafa;
//   // flex-direction: row;
//   // height: 55px;
//   // box-shadow: 0px 3px 3px 0px rgba(121,121,121,0.25);
//   z-index: 1000;
// }

.Browser-body {
  flex: 1;
  position: relative;
}

.BrowserTable {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Browser-viewType--grid {
  .BrowserTable tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // .BrowserTable tbody:after {
  //   content: "";
  //   flex: auto;
  // }

  .BrowserTable-column {
    // width: 100px;
    // padding: 15px 12px;
    padding: 14px 10px;
  }
}

.BrowserTable tbody {
  display: block;
}


// .BrowserTable tbody {
//   display: block;
//   overflow-x: hidden;
//   overflow-y: auto;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.BrowserTable-row {
  // border-bottom: 1px solid #eee;
  display: block;
  cursor: pointer;
  // height: 50px;
}

.BrowserTable-header {
  display: block;
}

  .BrowserTable-header:hover {
    background-color: $color-gray;
  }

.BrowserTable-column {
  color: $color-asphalt-gray;
  line-height: 1.2;
  font-weight: bold;
  padding: 16px;
}

.BrowserTable-column img {
  vertical-align: text-top;
  margin-right: 3px;
}

// .BrowserTable-itemButton {
//   @include reset-button();
//   cursor: pointer;
// }

.BrowserTable-headerColumn {
  cursor: pointer;
  text-align: left;
}

.BrowserTable-row:hover {
  background-color: #eee;
}

.BrowserTable-header {
  background-color: #fafafa;
}

// .BrowserTable-rowColumn.BrowserTable-column {
//   display: block;
//   // width: 708px;
// }

.nav-active {
  font-weight: bold;
}
