.UppyProgressBar {
  height: 20px;
  margin: 0 auto;
}

.UppyProgressBar-inner {
  background-color: $color-pink;
  height: 100%;
  width: 0;
}

.UppyProgressBar-percentage {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 12px;
  line-height: 20px;
  color: $color-white;

  &:after {
    content: ' %';
  }
}
