.UppyProgressDrawer {
  position: fixed;
  bottom: -200px;
  right: -200px;
  z-index: $zIndex-4;
  width: 350px;
  height: 200px;
  background-color: $color-white;
  box-shadow: 0 5px 30px rgba($color-black, 0.25);
  border-radius: 6px;
  overflow: hidden;
  transition: all .3s;

  &.is-visible {
    bottom: 30px;
    right: 30px;
  }
}

.UppyProgressDrawer-status {
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background-color: $color-asphalt-gray;
  color: $color-white;
  text-align: center;
}

.UppyProgressDrawer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 160px;
  padding-top: 10px;
  // TODO: list scroll inner shadow?
  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 15px;
  //   background-image: linear-gradient(to bottom, rgba($color-black, 0.65) 0%, rgba($color-black, 0) 100%);
  // }
}

.UppyProgressDrawer-item {
  @include clearfix;
  margin: 0;
  padding: 0 15px;
  position: relative;
  margin-bottom: 10px;
}

.UppyProgressDrawer-itemInfo {
  float: left;
  width: 12%;
}

.UppyProgressDrawer-itemIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UppyProgressDrawer-itemType {
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  // color: $color-white;
}

.UppyProgressDrawer-itemInner {
  float: left;
  width: 88%;
  height: 40px;
  padding-left: 8px;
  position: relative;
}

.UppyProgressDrawer-itemProgress {
  height: 2px;
  background-color: $color-cornflower-blue;
  width: 0;
  transition: width 0.3s ease;
}

.UppyProgressDrawer-itemName {
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  z-index: $zIndex-4;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 3px;
}

.UppyProgressDrawer-itemName a {
  text-decoration: underline;
}

.UppyProgressDrawer-itemStatus {
  margin: 0;
  height: 15px;
  font-weight: normal;
  line-height: 1;
  color: $color-gray;
  margin-bottom: 3px;
}

.UppyProgressDrawer-itemRemove {
  @include reset-button;
  width: 40px;
  height: 100%;
  padding: 10px;
  font-size: 24px;
  line-height: 20px;
  // color: $color-white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: $zIndex-4;
}

.UppyProgressDrawer-itemCheck {
  position: absolute;
  top: 12px;
  right: 0;
  fill: $color-green;
  background-color: $color-white;
  border-radius: 50%;
}

.UppyProgressDrawer-upload {
  @include reset-button;
  width: 100%;
  height: 40px;
  transition: background-color 0.5s;
  color: $color-black;
  font-size: 13px;
  font-weight: bold;
  background-color: $color-gray;
  color: $color-white;
  pointer-events: none;

  &.is-active {
    background-color: darken($color-cornflower-blue, 10%);
    cursor: pointer;
    pointer-events: auto;
  }

  &:hover {
    background-color: darken($color-cornflower-blue, 30%);
    color: $color-white;
  }
}
