.UppyProgressDrawer {
  position: fixed;
  bottom: -200px;
  right: -200px;
  z-index: $zIndex-4;
  width: 350px;
  height: 200px;
  background-color: $color-white;
  box-shadow: 0 0 20px rgba($color-asphalt-gray, 0.2);
  overflow: hidden;
  transition: all .3s;

  &.is-visible {
    bottom: 30px;
    right: 30px;
  }
}

.UppyProgressDrawer-status {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-color: $color-asphalt-gray;
  color: $color-white;
  text-align: center;
}

.UppyProgressDrawer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 130px;
}

.UppyProgressDrawer-item {
  @include clearfix;
  height: 40px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $color-white;
  position: relative;
  background-color: $color-cornflower-blue;
}

.UppyProgressDrawer-item.is-uploaded {
  .UppyProgressDrawer-itemBar {
    width: 100%;
  }

  .UppyProgressDrawer-itemRemove {
    display: none;
  }

  .UppyProgressDrawer-itemCheck {
    display: block;
  }
}

.UppyProgressDrawer-itemProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $color-pink;
}

.UppyProgressDrawer-itemName {
  color: $color-white;
  margin: 0;
  padding: 0;
  padding: 5px 15px;
  font-size: 13px;
  z-index: $zIndex-4;
  position: relative;
}

.UppyProgressDrawer-itemRemove {
  @include reset-button;
  width: 40px;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  // background-color: $color-pink;
  color: $color-white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: $zIndex-4;
}

.UppyProgressDrawer-itemCheck {
  display: none;
  position: absolute;
  top: 12px;
  right: 15px;
  fill: $color-white;
}
