.uppy-Provider-auth, .uppy-Provider-error, .uppy-Provider-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
}

.uppy-Provider-authIcon .UppyIcon {
  width: 100px;
  height: 75px;
  color: lighten($color-gray, 15%);
  margin-bottom: 15px;
}

.uppy-Provider-authTitle {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
}

.uppy-Provider-authBtn {
  @include reset-button;
  border-radius: 6px;
  background-color: $color-cornflower-blue;
  color: $color-white;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 46px;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color-cornflower-blue, 10%);
    color: $color-white;
  }
}

.uppy-Provider-breadcrumbs button {
  @include reset-button;
  cursor: pointer;
  font-size: 14px;
}

.uppy-Provider-breadcrumbs button:hover {
  text-decoration: underline;
}

.uppy-Provider-breadcrumbs button:focus {
  outline: 1px dotted #aaa;
}

.uppy-Provider-breadcrumbs li {
  display: inline-block;
  margin: 0;
}

// .uppy-Provider-breadcrumbs li:not(:last-child):after {
//   content: ' /';
// }

.uppy-Provider-breadcrumbs li ~ li:before {
  content: '/';
  padding: 0 10px;
}

.uppy-ProviderBrowser {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
}

.uppy-ProviderBrowser-user {
  margin: 16px 0;
}

.uppy-ProviderBrowser-header {
  z-index: $zIndex-2;
  border-bottom: 1px solid lighten($color-asphalt-gray, 60%);
  position: relative;
}

::-webkit-input-placeholder {
   color: rgba(119,119,119,0.75);
}

::-moz-placeholder {
   color: rgba(119,119,119,0.75);
}

:-ms-input-placeholder {
   color: rgba(119,119,119,0.75);
}

.uppy-ProviderBrowser-headerBar {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  background-color: lighten($color-gray, 40%);
  z-index: $zIndex-2;
}

.uppy-ProviderBrowser-search {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-3;
  background-color: lighten($color-gray, 40%);
  transform: translate(0, -50px);
  transition: all .2s;
  display: flex;
  align-items: center;
}

  .uppy-ProviderBrowser-search:not([aria-hidden=true]) {
    transform: translate(0, 0);
  }

.uppy-ProviderBrowser-search input {
  flex: 1;
  background-color: transparent;
  outline: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  border: 0;
  padding: 0 16px;
}


.uppy-ProviderBrowser-searchToggle {
  @include reset-button();
  width: 15px;
  cursor: pointer;
  color: $color-gray;
  transition: all .2s;

  &:hover { color: $color-black;
  }
}

.uppy-ProviderBrowser-searchClose {
  @include reset-button();
  cursor: pointer;
  width: 12px;
  color: $color-gray;
  transition: all .2s;
  position: relative;
  right: 16px;

  &:hover { color: $color-black; }
}

.uppy-ProviderBrowser-userLogout {
  @include reset-button();
  margin-right: 16px;
  cursor: pointer;

  &:hover { text-decoration: underline; }
}

.uppy-Provider-breadcrumbs {
  flex: 1;
  color: $color-black;
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.uppy-ProviderBrowser-breadcrumbs span {
  font-size: 16px;
  margin-left: 32px;
}

.uppy-ProviderBrowser-breadcrumbs span.active {
  color: $color-asphalt-gray;
  flex: 1;
  font-weight: 500;
}

.uppy-ProviderBrowser-body {
  flex: 1;
  position: relative;
}

.uppy-ProviderBrowser-list {
  flex: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.uppy-ProviderBrowserItem-inner {
  @include reset-button();
  cursor: pointer;
  font-weight: 600;
}

// ***
// View type: list
// ***

.uppy-ProviderBrowser-viewType--list {

  .uppy-ProviderBrowser-list {
    padding-top: 6px;
  }

  .uppy-ProviderBrowserItem {
    padding: 10px 14px;
  }

  .uppy-ProviderBrowserItem-inner img {
    vertical-align: text-top;
    margin-right: 3px;
  }

  .uppy-ProviderBrowserItem-checkbox label:before {
    border-color: rgba($color-asphalt-gray, 0.3);
  }

  .uppy-ProviderBrowserItem-checkbox input:checked + label:before {
    border-color: $color-cornflower-blue;
  }

}

// ***
// View type: grid
// ***

.uppy-ProviderBrowser-viewType--grid {

  .uppy-ProviderBrowser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px;
  }

  .uppy-ProviderBrowser-list:after {
    content: '';
    flex: auto;
  }

  .uppy-ProviderBrowserItem {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    padding: 12px;
  }

    // .uppy-ProviderBrowserItem--selected {
    //   border-color: $color-cornflower-blue;
    //   outline: none;
    // }

    .uppy-ProviderBrowserItem--selected .uppy-ProviderBrowserItem-inner {
      box-shadow: 0 0 0 3px rgba(darken($color-cornflower-blue, 10%), 0.9);
    }

  .uppy-ProviderBrowserItem-inner {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid transparent;
  }

  .uppy-ProviderBrowserItem img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .uppy-ProviderBrowserItem-checkbox {
    display: none;
  }

  // .uppy-ProviderBrowserItem-checkbox {
  //   position: absolute;
  //   top: 8px;
  //   right: 10px;
  //   margin-right: 0;
  // }

  // .uppy-ProviderBrowserItem-checkbox label:before {
  //   background-color: $color-cornflower-blue;
  // }

  // // Hide checkbox when unchecked in grid view
  // .uppy-ProviderBrowserItem-checkbox input + label {
  //   opacity: 0;
  // }

  // // Unhide the checkbox on the checked state
  // .uppy-ProviderBrowserItem-checkbox input:checked + label {
  //   opacity: 1;
  // }

}

.uppy-Dashboard--wide .uppy-ProviderBrowser-viewType--grid .uppy-ProviderBrowserItem {
  width: 25%;
}

.uppy-ProviderBrowserItem-checkbox input {
  opacity: 0;
}

// https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
.uppy-ProviderBrowserItem-checkbox {
  position: relative;
  display: inline-block;
  top: -3px;
  margin-right: 25px;
}

.uppy-ProviderBrowserItem-checkbox label {
  display: block;
}

.uppy-ProviderBrowserItem-checkbox label::before,
.uppy-ProviderBrowserItem-checkbox label::after {
  position: absolute;
  cursor: pointer;
}

// Outer circle
.uppy-ProviderBrowserItem-checkbox label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  top: 0;
  border: 1px solid $color-cornflower-blue; 
  background-color: $color-white;
  border-radius: 50%; 
}

// Inner checkbox
.uppy-ProviderBrowserItem-checkbox label:after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 8px;
  left: 6px;
  top: 7px;
  border-left: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  transform: rotate(-45deg);
}

// Hide the checkmark by default
.uppy-ProviderBrowserItem-checkbox input + label::after {
  content: none;
}

// Unhide the checkmark on the checked state
.uppy-ProviderBrowserItem-checkbox input:checked + label::after {
  content: '';
}

.uppy-ProviderBrowserItem-checkbox input:checked + label::before {
  background-color: $color-cornflower-blue;
}

// Adding focus styles on the outer-box of the fake checkbox*/
.uppy-ProviderBrowserItem-checkbox input:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.uppy-ProviderBrowser-doneBtn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: $zIndex-3;
  width: 50px;
  height: 50px;

  .uppy-Dashboard--wide & {
    width: 60px;
    height: 60px;
  }
}

.uppy-ProviderBrowser-doneBtn .UppyIcon {
  width: 30px;
  height: 30px;
}
