.UppyProgressBar {
  background-color: lighten($color-pink, 30%);
  // width: 80%;
  height: 5px;
  margin: 0 auto;
}

.UppyProgressBar-inner {
  background-color: $color-pink;
  height: 100%;
  width: 0;
}

.UppyProgressBar-percentage {
  text-align: center;
}
