.uppy-Provider-auth, 
.uppy-Provider-error, 
.uppy-Provider-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
}

.uppy-Provider-authIcon .UppyIcon {
  width: 100px;
  height: 75px;
  color: rgba($color-asphalt-gray, 0.3);
  margin-bottom: 15px;
}

.uppy-Provider-authTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
}

.uppy-Provider-breadcrumbs {
  flex: 1;
  color: darken($color-gray, 25%);
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.uppy-Provider-breadcrumbsIcon {
  display: inline;
  color: darken($color-gray, 25%);
  vertical-align: middle;
  // position: relative;
  // top: 1px;
  margin-right: 8px;
}

  .uppy-Provider-breadcrumbsIcon .UppyIcon {
    width: 13px;
    height: 13px;
  }

.uppy-Provider-breadcrumbs button {
  @include reset-button;
  cursor: pointer;
  font-size: 14px;
}

.uppy-Provider-breadcrumbs button:hover {
  text-decoration: underline;
}

.uppy-Provider-breadcrumbs button:focus {
  outline: 1px dotted rgb(145, 145, 145);
}

.uppy-Provider-breadcrumbs li {
  display: inline-block;
  margin: 0;
}

.uppy-Provider-breadcrumbs li ~ li:before {
  content: '/';
  padding: 0 7px;
}

.uppy-ProviderBrowser {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  height: 100%;
}

.uppy-ProviderBrowser-user {
  margin: 16px 0;
}

.uppy-ProviderBrowser-header {
  z-index: $zIndex-2;
  border-bottom: 1px solid lighten($color-asphalt-gray, 60%);
  position: relative;
}

.uppy-ProviderBrowser-headerBar {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: lighten($color-gray, 40%);
  z-index: $zIndex-2;
  color: darken($color-gray, 20%);
}

.uppy-ProviderBrowser-headerBar--simple {
  text-align: center;
  display: block;
}

.uppy-ProviderBrowser-search {
  width: 100%;
  background-color: $color-white;
  position: relative;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.uppy-ProviderBrowser-searchInput {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 30px;
  border: 0;
  padding: 0 16px 0 43px;
  z-index: $zIndex-2;
}

.uppy-ProviderBrowser-searchInput::-webkit-input-placeholder,
.uppy-ProviderBrowser-searchInput::-moz-placeholder,
.uppy-ProviderBrowser-searchInput::-ms-input-placeholder {
  color: rgba($color-gray, 0.75);
  letter-spacing: 1px;
}

.uppy-ProviderBrowser-searchIcon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 7px;
  z-index: $zIndex-3;
  color: rgba($color-gray, 0.6);
}

.uppy-ProviderBrowser-searchClose {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 7px;
  z-index: $zIndex-3;
  color: rgba($color-gray, 0.6);
  cursor: pointer;
}

.uppy-ProviderBrowser-userLogout {
  @include reset-button();
  cursor: pointer;

  &:hover { text-decoration: underline; }
}

.uppy-ProviderBrowser-body {
  flex: 1;
  position: relative;
}

.uppy-ProviderBrowser-list {
  flex: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.uppy-ProviderBrowserItem-inner {
  @include reset-button();
  cursor: pointer;
  font-weight: 600;
}

// ***
// View type: list
// ***

.uppy-ProviderBrowser-viewType--list {

  background-color: $color-white;

  .uppy-ProviderBrowser-list {
    // padding-top: 6px;
  }

  .uppy-ProviderBrowserItem {
    padding: 10px 15px;
  }

  .uppy-ProviderBrowserItem-inner {
    max-width: 80%;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.4;
  }

  .uppy-ProviderBrowserItem-inner img {
    vertical-align: text-top;
    margin-right: 3px;
  }

  .uppy-ProviderBrowserItem-checkbox label:before {
    border-color: rgba($color-asphalt-gray, 0.4);
  }

  .uppy-ProviderBrowserItem-checkbox input:checked + label:before {
    border-color: $color-cornflower-blue;
  }

}

// ***
// View type: grid
// ***

.uppy-ProviderBrowser-viewType--grid {

  .uppy-ProviderBrowser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px;
  }

  .uppy-ProviderBrowser-list:after {
    content: '';
    flex: auto;
  }

  .uppy-ProviderBrowserItem {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    padding: 12px;
  }

    // .uppy-ProviderBrowserItem--selected {
    //   border-color: $color-cornflower-blue;
    //   outline: none;
    // }

    .uppy-ProviderBrowserItem--selected .uppy-ProviderBrowserItem-inner {
      box-shadow: 0 0 0 3px rgba(darken($color-cornflower-blue, 10%), 0.9);
    }

  .uppy-ProviderBrowserItem-inner {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid transparent;
  }

  .uppy-ProviderBrowserItem img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .uppy-ProviderBrowserItem-checkbox {
    display: none;
  }

  // .uppy-ProviderBrowserItem-checkbox {
  //   position: absolute;
  //   top: 8px;
  //   right: 10px;
  //   margin-right: 0;
  // }

  // .uppy-ProviderBrowserItem-checkbox label:before {
  //   background-color: $color-cornflower-blue;
  // }

  // // Hide checkbox when unchecked in grid view
  // .uppy-ProviderBrowserItem-checkbox input + label {
  //   opacity: 0;
  // }

  // // Unhide the checkbox on the checked state
  // .uppy-ProviderBrowserItem-checkbox input:checked + label {
  //   opacity: 1;
  // }

}

.uppy-Dashboard--wide .uppy-ProviderBrowser-viewType--grid .uppy-ProviderBrowserItem {
  width: 25%;
}

.uppy-ProviderBrowserItem-checkbox input {
  opacity: 0;
}

// https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
.uppy-ProviderBrowserItem-checkbox {
  position: relative;
  display: inline-block;
  top: -3px;
  margin-right: 20px;
}

.uppy-ProviderBrowserItem-checkbox label {
  display: block;
}

.uppy-ProviderBrowserItem-checkbox label::before,
.uppy-ProviderBrowserItem-checkbox label::after {
  position: absolute;
  cursor: pointer;
}

// Outer circle
.uppy-ProviderBrowserItem-checkbox label:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  top: 2px;
  border: 1px solid $color-cornflower-blue; 
  background-color: $color-white;
  border-radius: 2px;
  // border-radius: 50%;
}

// Inner checkbox
.uppy-ProviderBrowserItem-checkbox label:after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 8px;
  left: 5px;
  top: 8px;
  border-left: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  transform: rotate(-45deg);
}

// Hide the checkmark by default
.uppy-ProviderBrowserItem-checkbox input + label::after {
  content: none;
}

// Unhide the checkmark on the checked state
.uppy-ProviderBrowserItem-checkbox input:checked + label::after {
  content: '';
}

.uppy-ProviderBrowserItem-checkbox input:checked + label::before {
  background-color: $color-cornflower-blue;
}

// Adding focus styles on the outer-box of the fake checkbox*/
.uppy-ProviderBrowserItem-checkbox input:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.uppy-ProviderBrowser-doneBtn {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: $zIndex-3;
  width: 50px;
  height: 50px;

  .uppy-Dashboard--wide & {
    width: 60px;
    height: 60px;
  }
}

.uppy-ProviderBrowser-doneBtn .UppyIcon {
  width: 30px;
  height: 30px;
}
