// http://stephanwagner.me/only-css-loading-spinner

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.UppySpinner {
  min-width: 24px;
  min-height: 24px;
  margin: 25px auto;
  position: relative;
}

.UppySpinner.is-spinning:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  margin-left: -10px;
}

.UppySpinner.is-spinning:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .3);
  border-top-color: rgba(0, 0, 0, .6);
  animation: spinner .6s linear infinite;
}
