.UppyStatusBar {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 500;
  color: $color-white;
  background-color: rgba($color-asphalt-gray, 0.7);
  box-shadow: 1px 1px 4px 0 rgba($color-asphalt-gray, 0.3);
  // overflow-x: hidden;
  z-index: $zIndex-2;
  transition: height .35s;
}

.UppyStatusBar[aria-hidden=true] {
  height: 0;
}

.UppyStatusBar.is-complete .UppyStatusBar-progress {
  background-color: $color-green;
}

.UppyStatusBar.is-error .UppyStatusBar-progress {
  background-color: $color-red;
}

.UppyStatusBar.is-complete .UppyStatusBar-content {
  text-align: center;
  padding-left: 0;
}

.UppyStatusBar-progress {
  background-color: $color-cornflower-blue;
  height: 100%;
  position: absolute;
  z-index: $zIndex-2;
  transition: background-color, width .3s ease-out;

  &.is-indeterminate {
    $stripe-color: darken($color-cornflower-blue, 10%);
    background-size: 64px 64px;
    background-image: linear-gradient(45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
    animation: statusBarProgressStripes 1s linear infinite;
  }
}

@keyframes statusBarProgressStripes {
  from { background-position: 64px 0; }
  to { background-position: 0 0; }
}

.UppyStatusBar-content {
  font-weight: 600;
  position: relative;
  z-index: $zIndex-3;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  // overflow-x: hidden;
  color: $color-white;
}

.UppyStatusBar-content .UppyIcon {
  width: 15px;
  height: 15px;

  .UppyDashboard--wide & {
    width: 17px;
    height: 17px;
  }
}

.UppyStatusBar-action {
  color: $color-white;
  margin-right: 8px;
}

button.UppyStatusBar-action {
  @include reset-button;
  margin-right: 8px;
  cursor: pointer;
}

.UppyStatusBar-button {
  @include reset-button;
  cursor: pointer;
}

.UppyStatusBar-details {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  color: $color-red;
  background-color: $color-white;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: 3px;
  font-size: 10px;
  margin-left: -1px;
  text-align: center;
}

.UppyStatusBar-details:after {
  line-height: 1.3;
  word-wrap: break-word;
}
