.uppy-Url {
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.uppy-Url-input {
  width: 90%;
  max-width: 650px;
  height: 50px; 
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 30px;
}

.uppy-Url-importButton {
  @include reset-button();
  color: $color-white;
  background-color: $color-cornflower-blue;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 34px;
  border-radius: 4px;
}
