
// Colors

$color-black: #000;
$color-gray: #939393;
$color-pink: #e02177;
$color-green: #7AC824;
$color-orange: #F6A623;
$color-white: #fff;
$color-cornflower-blue: #4A90E2;
$color-asphalt-gray: #525252;

// Z-index

$zIndex-negative: -1000;
$zIndex-1: 100;
$zIndex-2: 1001;
$zIndex-3: 1002;
$zIndex-3: 1003;
$zIndex-4: 1004;
