
// Colors

$color-black: #000;
$color-gray: #ccc;
$color-pink: #e02177;
$color-white: #fff;
$color-cornflower-blue: #78bdf2;
$color-asphalt-gray: #525252;

// Z-index

$zIndex-1: 100;
$zIndex-2: 1001;
$zIndex-3: 1002;
$zIndex-3: 1003;
$zIndex-4: 1004;
