// @import '_variables.scss';
// @import '_utils.scss';
// @import '_animation.scss';
// @import '_common.scss';

.UppyWebcam-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyWebcam-videoContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UppyWebcam-video {
  max-width: 100%;
  max-height: 100%;
}

// .UppyWebcam-canvas {
//   display: none;
// }

.UppyWebcam-buttonContainer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.UppyWebcam-recordButton .UppyIcon {
  width: 50%;
  height: 50%;
  position: relative;
  top: -1px;
}
