/**
* Uppy CSS and all of its out-of-the-box plugins
*/

@import 'vendor/_include-media';
// @import '_variables.scss';
// @import '_utils.scss';
// @import '_animation.scss';
// @import '_common.scss';
@import '_fileinput.scss';
@import '_informer.scss';
@import '_dashboard.scss';
@import '_dragdrop.scss';
@import '_plugin.scss';
@import '_progressbar.scss';
@import '_webcam.scss';
// @import '_progressdrawer.scss';
// @import '_spinner.scss';
// @import '_present.scss';
