/**
* Uppy CSS and all of its out-of-the-box plugins
*/

@import '_variables.scss';
@import '_utils.scss';
@import '_dragdrop.scss';
@import '_progressbar.scss';
@import '_spinner.scss';
@import '_modal.scss';
