/**
* Uppy CSS and all of its out-of-the-box plugins
*/

@import 'vendor/_include-media';
@import 'vendor/bootstrap/bootstrap-grid';
@import '_variables.scss';
@import '_utils.scss';
@import '_common.scss';
@import '_dragdrop.scss';
@import '_googledrive.scss';
@import '_progressbar.scss';
@import '_progressdrawer.scss';
@import '_spinner.scss';
@import '_modal.scss';
@import '_present.scss';
