/**
* Uppy CSS and all of its out-of-the-box plugins
*/

@import '_variables.scss';
@import '_utils.scss';
@import '_animation.scss';
@import '_microtip.scss';
@import '_common.scss';
@import '_fileinput.scss';
@import '_informer.scss';
@import '_dashboard.scss';
@import '_dragdrop.scss';
@import '_provider.scss';
@import '_progressbar.scss';
@import '_statusbar.scss';
@import '_webcam.scss';
