@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import './inputrange.scss';
@import './cropper.scss';

.uppy-ImageCropper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.uppy-ImageCropper-container {
  flex-grow: 1;
}

  .uppy-ImageCropper-image {
    display: block;
    max-height: 400px;
  }

.uppy-ImageCropper-controls {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba($black, 0.6);
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 38px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}

.uppy-ImageCropper-controls button {
  width: 35px;
  height: 35px;

  svg {
    padding: 3px;
  }

  .uppy-size--md & {
    width: 40px;
    height: 40px;

    svg {
      padding: 1px;
    }
  }

  &:hover {
    background-color: rgba($blue, 0.8);
  }

  &:focus {
    outline: none;
    background-color: rgba($blue, 0.8);
  }
}

.uppy-ImageCropper-rangeWrapper {
  position: absolute !important;
  height: 38px;
  top: 0;
  right: 10px;
  left: 10px;

  @media screen and (min-width: 768px) {
    position: static !important;
    height: auto;
  }
}

.uppy-ImageCropper-range {
  @media screen and (min-width: 768px) {
    margin-right: 15px;
    margin-left: 5px;
    width: 180px;
  }
}

// Cropper overrides

.uppy-ImageCropper .cropper-point {
  width: 8px;
  height: 8px;
}

.uppy-ImageCropper .cropper-view-box {
  outline: 2px solid #39f;
}
