@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import '@uppy/utils/src/microtip.scss';

.uppy-StatusBar {
  display: flex;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 400;
  color: $color-white;
  background-color: $color-white;
  z-index: $zIndex-2;
  transition: height .2s;
}

  .uppy-size--md .uppy-StatusBar {
    height: 46px;
    font-size: 14px;
  }

  .uppy-StatusBar:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba($color-gray, 0.25);
  }

.uppy-StatusBar[aria-hidden=true] {
  overflow-y: hidden;
  height: 0;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  background-color: $color-green;
}

.uppy-StatusBar.is-error .uppy-StatusBar-progress {
  background-color: $color-red;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-statusIndicator {
  cursor: default;
  color: $color-green;
}

.uppy-StatusBar:not([aria-hidden=true]).is-waiting {
  background-color: $color-white;
  height: 65px;
  border-top: 1px solid rgba($color-gray, 0.3);
}

.uppy-StatusBar-progress {
  background-color: $color-cornflower-blue;
  height: 2px;
  position: absolute;
  z-index: $zIndex-2;
  transition: background-color, width .3s ease-out;

  &.is-indeterminate {
    $stripe-color: rgba(0, 0, 0, 0.3);
    background-size: 64px 64px;
    background-image: linear-gradient(45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
    animation: uppy-StatusBar-ProgressStripes 1s linear infinite;
  }
}

  @keyframes uppy-StatusBar-ProgressStripes {
    from { background-position: 0 0; }
    to { background-position: 64px 0; }
  }

  .uppy-StatusBar.is-preprocessing .uppy-StatusBar-progress,
  .uppy-StatusBar.is-postprocessing .uppy-StatusBar-progress {
    background-color: $color-orange;
  }

.uppy-StatusBar.is-waiting .uppy-StatusBar-progress {
  display: none;
}

.uppy-StatusBar-content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: $zIndex-3;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-black;
  height: 100%;

  .uppy-size--md & {
    padding-left: 15px;
  }
}

.uppy-StatusBar-contentPadding {
  margin-right: 0.5ch; // ½ the size of a 0, roughly the size of a space usually
}

.uppy-StatusBar-status {
  line-height: 1.4;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 170px;
  overflow-x: hidden;

  .uppy-size--md & {
    line-height: 1.5;
    max-width: 400px;
  }
}

.uppy-StatusBar-statusPrimary {
  font-size: 12px;
  font-weight: 400;

  .uppy-size--md & {
    font-size: 13px;
  }
}

.uppy-StatusBar-statusSecondary {
  font-size: 10px;
  // line-height: 1;
  display: inline-block;
  color: rgba($color-asphalt-gray, 0.8);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  // max-width: 170px;

  .uppy-size--md & {
    font-size: 11px;
    // max-width: 500px;
  }
}

  .uppy-StatusBar-statusSecondaryHint {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 1;

    .uppy-size--md & {
      margin-right: 8px;
    }
  }

  // .uppy-StatusBar--detailedProgress .uppy-StatusBar-statusSecondary {
  //   display: inline-block;
  // }

.uppy-StatusBar-statusIndicator {
  color: $color-asphalt-gray;
  margin-right: 10px;
  cursor: pointer;

  .uppy-size--md & {
    margin-right: 12px;
  }
}

  .uppy-StatusBar-statusIndicator svg {
    vertical-align: text-bottom;
  }

  .uppy-StatusBar.is-complete .uppy-StatusBar-statusIndicator  {
    width: 15px;
    margin-right: 7px;
  }

.uppy-StatusBar-actions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  z-index: $zIndex-4;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
  width: 100%;
  position: static;
  padding: 0 15px;
  background-color: $color-almost-white;
}

.uppy-StatusBar-actionCircleBtn {
  line-height: 1;
  cursor: pointer;
  padding: 4px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 20px;
  // height: 20px;
  // border-radius: 50%;
  // color: rgba($color-black, 0.6);
  // background-color: rgba($color-gray, 0.3);
  // text-align: center;
}

  .uppy-StatusBar-actionCircleBtn:focus {
    outline: 2px solid $color-cornflower-blue;
    outline-offset: 0;
  }

  // .uppy-StatusBar-actionCircleBtn:not(:last-child) {
  //   margin-right: 2px;
  // }

  // .uppy-size--md .uppy-StatusBar-actionCircleBtn {
  //   padding: 1px 4px;
  // }

  .uppy-StatusBar-actionCircleBtn svg {
    // width: 12px;
    // height: 12px;
    // fill: currentColor;
    vertical-align: bottom;
  }

.uppy-StatusBar-actionBtn {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  // margin-left: 6px;
  // margin-right: 6px;
  color: $color-cornflower-blue;

  .uppy-size--md & {
    font-size: 11px;
  }
}

  // .uppy-size--md .uppy-StatusBar-actionBtn {
  //   padding: 2px 4px;
  // }

  .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
    font-size: 14px;
    width: 100%;
    padding: 15px 10px;
    color: $color-white;
    background-color: $color-green;
  }

    .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload:hover {
      background-color: darken($color-green, 10%);
    }

    .uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
      padding: 16px 22px;
      width: auto;
    }

  .uppy-StatusBar-actionBtn:not(:last-child) {
    margin-right: 10px;
  }

  .uppy-StatusBar:not(.is-waiting) .uppy-StatusBar-actionBtn--upload {
    background-color: transparent;
    // border: 1px solid $color-white;
    color: $color-cornflower-blue;
  }

.uppy-StatusBar-details {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  color: $color-white;
  background-color: $color-asphalt-gray;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 2px;
  font-size: 10px;
  text-align: center;
  cursor: help;
}

.uppy-StatusBar-details:after {
  line-height: 1.3;
  word-wrap: break-word;
}

.uppy-StatusBar-spinner {
  animation-name: uppy-StatusBar-spinnerAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 10px;
  fill: $color-cornflower-blue;
}

  .uppy-StatusBar.is-preprocessing .uppy-StatusBar-spinner,
  .uppy-StatusBar.is-postprocessing .uppy-StatusBar-spinner {
    fill: $color-orange;
  }


  @keyframes uppy-StatusBar-spinnerAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
