@import '@uppy/core/src/_utils.scss';
@import '@uppy/core/src/_variables.scss';
@import '@uppy/utils/src/microtip.scss';

.uppy-StatusBar {
  display: flex;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 400;
  color: $white;
  background-color: $white;
  z-index: $zIndex-2;
  transition: height .2s;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

  .uppy-size--md .uppy-StatusBar {
    height: 46px;
  }

  .uppy-StatusBar:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $gray-200;

    [data-uppy-theme="dark"] & {
      background-color: $gray-600;
    }
  }

.uppy-StatusBar[aria-hidden=true] {
  overflow-y: hidden;
  height: 0;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  background-color: $green;
}

.uppy-StatusBar.is-error .uppy-StatusBar-progress {
  background-color: $red;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-statusIndicator {
  color: $green;
}

.uppy-StatusBar.is-error .uppy-StatusBar-statusIndicator {
  color: $red;
}

.uppy-StatusBar:not([aria-hidden=true]).is-waiting {
  background-color: $white;
  height: 65px;
  border-top: 1px solid $gray-200;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
    border-top: 1px solid $gray-800;
  }
}

.uppy-StatusBar-progress {
  background-color: $blue;
  height: 2px;
  position: absolute;
  z-index: $zIndex-2;
  transition: background-color, width .3s ease-out;

  &.is-indeterminate {
    $stripe-color: rgba(0, 0, 0, 0.3);
    background-size: 64px 64px;
    background-image: linear-gradient(45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
    animation: uppy-StatusBar-ProgressStripes 1s linear infinite;
  }
}

  @keyframes uppy-StatusBar-ProgressStripes {
    from { background-position: 0 0; }
    to { background-position: 64px 0; }
  }

  .uppy-StatusBar.is-preprocessing .uppy-StatusBar-progress,
  .uppy-StatusBar.is-postprocessing .uppy-StatusBar-progress {
    background-color: $orange;
  }

.uppy-StatusBar.is-waiting .uppy-StatusBar-progress {
  display: none;
}

.uppy-StatusBar-content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: $zIndex-3;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $gray-800;
  height: 100%;

  .uppy-size--md & {
    padding-left: 15px;
  }

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}

.uppy-StatusBar-status {
  line-height: 1.4;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.3em;
}

// Don't display elements with class .-additionalInfo if we're not at least on .md
.uppy-Root:not(.uppy-size--md) .uppy-StatusBar-additionalInfo {
  display: none;
}

.uppy-StatusBar-statusPrimary {
  font-weight: 500;
  line-height: 1;

  [data-uppy-theme="dark"] & {
    color: $gray-200;
  }
}

.uppy-StatusBar-statusSecondary {
  margin-top: 1px;
  font-size: 11px;
  line-height: 1.2;
  display: inline-block;
  color: $gray-600;
  white-space: nowrap;

  [data-uppy-theme="dark"] & {
    color: $gray-400;
  }
}

  .uppy-StatusBar-statusSecondaryHint {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 1;

    .uppy-size--md & {
      margin-right: 8px;
    }
  }

  // .uppy-StatusBar--detailedProgress .uppy-StatusBar-statusSecondary {
  //   display: inline-block;
  // }

.uppy-StatusBar-statusIndicator {
  position: relative;
  top: 1px;
  color: $gray-700;
  margin-right: 7px;

  svg {
    vertical-align: text-bottom;
  }
}

.uppy-StatusBar-actions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  z-index: $zIndex-4;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
  width: 100%;
  position: static;
  padding: 0 15px;
  background-color: $gray-50;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

.uppy-StatusBar-actionCircleBtn {
  @include blue-border-focus;
  line-height: 1;
  cursor: pointer;
  margin: 3px;
  opacity: 0.9;

  [data-uppy-theme="dark"] & {
    @include blue-border-focus--dark;
  }

  &:hover {
    opacity: 1;
  }
  &:focus {
    border-radius: 50%;
  }
}

  .uppy-StatusBar-actionCircleBtn svg {
    vertical-align: bottom;
  }

.uppy-StatusBar-actionBtn {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  line-height: inherit;
  color: $blue;

  .uppy-size--md & {
    font-size: 11px;
  }
}

  // .uppy-size--md .uppy-StatusBar-actionBtn {
  //   padding: 2px 4px;
  // }

  .uppy-StatusBar-actionBtn--retry {
    @include blue-border-focus();
    height: 16px;
    border-radius: 8px;
    margin-right: 6px;
    background-color: $pomegranate;
    line-height: 1;
    color: #fff;
    padding: 1px 6px 3px 18px;
    position: relative;

    [data-uppy-theme="dark"] & {
      @include blue-border-focus--dark;
    }

    &:hover {
      background-color: darken($pomegranate, 8%);
    }

    svg {
      position: absolute;
      top: 3px;
      left: 6px;
    }
  }

  .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
    font-size: 14px;
    width: 100%;
    padding: 15px 10px;
    color: $white;
    background-color: $green;
    line-height: 1;
    
    &:hover {
      background-color: darken($green, 5%);
    }

    [data-uppy-theme="dark"] & {
      background-color: $darkgreen;
    }

    [data-uppy-theme="dark"] &:hover {
      background-color: darken($darkgreen, 5%);
    }
  }
  .uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
    padding: 13px 22px;
    width: auto;
  }

  .uppy-StatusBar:not(.is-waiting) .uppy-StatusBar-actionBtn--upload {
    background-color: transparent;
    // border: 1px solid $white;
    color: $blue;
  }

  .uppy-StatusBar-actionBtn--uploadNewlyAdded {
    // for focus
    @include blue-border-focus;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 1px;
    border-radius: 3px;

    [data-uppy-theme="dark"] & {
      @include blue-border-focus--dark;
    }
  }

  .uppy-StatusBar-actionBtn--done {
    @include highlight-focus;
    line-height: 1;
    border-radius: 3px;
    padding: 7px 8px;

    [data-uppy-theme="dark"] & {
      color: $highlight--dark;
    }
  }

  .uppy-size--md .uppy-StatusBar-actionBtn--done {
    font-size: 14px;
  }

.uppy-StatusBar-details {
  line-height: 12px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  color: $white;
  background-color: $gray-500;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 2px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  cursor: help;
}

  .uppy-StatusBar-details:after {
    line-height: 1.3;
    word-wrap: break-word;
  }

.uppy-StatusBar-spinner {
  animation-name: uppy-StatusBar-spinnerAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 10px;
  fill: $blue;
}

  .uppy-StatusBar.is-preprocessing .uppy-StatusBar-spinner,
  .uppy-StatusBar.is-postprocessing .uppy-StatusBar-spinner {
    fill: $orange;
  }


  @keyframes uppy-StatusBar-spinnerAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
