.uppy-Dashboard-FileCard {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndex-5;
  box-shadow: 0px 0px 10px 4px rgba($black, 0.1);
  background-color: $white;
  // For Safari, otherwise there is no border-radius in FileCard.
  border-radius: 5px;

  .uppy-DashboardContent-bar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .uppy-Dashboard-FileCard-actions {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  display: flex;
  flex-direction: column;
}

  .uppy-Dashboard-FileCard-inner {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    // For Firefox in order for flex-shrink: 1 to work properly! (https://github.com/philipwalton/flexbugs/issues/41#issuecomment-111590394)
    min-height: 0;

    display: flex;
    flex-direction: column;
  }
    .uppy-Dashboard-FileCard-preview {
      height: 60%;
      flex-grow: 0;
      flex-shrink: 1;
      // For Firefox in order for flex-shrink: 1 to work properly!
      min-height: 0;

      border-bottom: 1px solid $gray-200;

      // center the nested image/preview
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      [data-uppy-theme="dark"] & {
        background-color: $gray-800;
        border-bottom: 0;
      }
    }

      .uppy-Dashboard-FileCard-preview img.uppy-Dashboard-Item-previewImg {
        max-width: 90%;
        max-height: 90%;
        object-fit: cover;
        // For IE11, otherwise image aspect ration will get screwed.
        flex: 0 0 auto;

        border-radius: 3px;
        box-shadow: 0px 3px 20px rgba($black, 0.15);
      }
    // ...uppy-Dashboard-FileCard-preview|

    .uppy-Dashboard-FileCard-edit {
      @include blue-border-focus;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 13px;
      background-color: rgba($black, 0.5);
      color: $white;
      padding: 7px 15px;
      border-radius: 50px;

      &:hover {
        background-color: rgba($black, 0.8);
      }
    }

    .uppy-Dashboard-FileCard-info {
      height: 40%;
      flex-grow: 0;
      flex-shrink: 0;

      padding: 30px 20px 20px 20px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      [data-uppy-theme="dark"] & {
        background-color: $gray-900;
      }
    }

      .uppy-Dashboard-FileCard-fieldset {
        font-size: 0;
        border: 0;
        padding: 0;
        max-width: 640px;
        margin: auto;
        margin-bottom: 12px;
      }
        .uppy-Dashboard-FileCard-label {
          display: inline-block;
          vertical-align: middle;
          width: 22%;
          font-size: 12px;
          color: $gray-700;

          .uppy-size--md & {
            font-size: 14px;
          }

          [data-uppy-theme="dark"] & {
            color: $gray-200;
          }
        }
        .uppy-Dashboard-FileCard-input {
          display: inline-block;
          vertical-align: middle;
          width: 78%;
        }
      // ...uppy-Dashboard-FileCard-fieldset|
    // ...uppy-Dashboard-FileCard-info|

    .uppy-Dashboard-FileCard-actions {
      height: 55px;
      flex-shrink: 0;
      flex-grow: 0;

      border-top: 1px solid $gray-200;
      padding: 0 15px;
      background-color: $gray-50;

      display: flex;
      align-items: center;

      .uppy-size--md & {
        height: 65px;
      }

      [data-uppy-theme="dark"] & {
        border-top: 1px solid $gray-800;
        background-color: $gray-900;
      }
    }

      .uppy-Dashboard-FileCard-actionsBtn {
        margin-right: 10px;
      }
    // ...uppy-Dashboard-FileCard-actions|

  // ...uppy-Dashboard-FileCard-inner|
// ...uppy-Dashboard-FileCard|
