// ***
// View type: list
// ***

.uppy-ProviderBrowser-viewType--list {
  background-color: $white;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }

  li.uppy-ProviderBrowserItem {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    margin: 0;

    [data-uppy-theme="dark"] & {
      color: $gray-200;
    }
  }

  li.uppy-ProviderBrowserItem--disabled {
    opacity: 0.6;
  }

  // Checkbox
  .uppy-ProviderBrowserItem-fakeCheckbox {
    margin-right: 15px;
    height: 17px; width: 17px;
    border-radius: 3px;
    background-color: $white;
    border: 1px solid $gray-300;

    // Focus: show blue outline
    &:focus {
      border: 1px solid $blue;
      box-shadow: 0 0 0 3px rgba($blue, 0.25);
      outline: none;
    }

    // Checkmark icon
    &::after {
      opacity: 0;
      height: 5px; width: 9px;
      left: 3px; top: 4px;
    }

    [data-uppy-theme="dark"] &:focus {
      border-color: rgba($highlight--dark, 0.7);
      box-shadow: 0 0 0 3px rgba($highlight--dark, 0.2);
    }   
  }
  // Checked: color the background, show the checkmark
  .uppy-ProviderBrowserItem-fakeCheckbox--is-checked {
    background-color: $blue;
    border-color: $blue;
    &::after {
      opacity: 1;
    }
  }

  // Either a <label/> for a file,
  // or a <button/> we can click on for a folder
  .uppy-ProviderBrowserItem-inner {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;

    // For better outline
    padding: 2px;
    &:focus {
      outline: none;
      text-decoration: underline;
    }
    img, svg {
      margin-right: 8px;
      max-width: 20px;
      max-height: 20px;
    }
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .uppy-ProviderBrowserItem--disabled .uppy-ProviderBrowserItem-inner  {
    cursor: default;
  }

  .uppy-ProviderBrowserItem-iconWrap {
    width: 20px;
    margin-right: 7px;
  }
}
