
.uppy-SearchProvider {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
  }
}

.uppy-SearchProvider-input {
  width: 90%;
  max-width: 650px;
  margin-bottom: 15px;

  .uppy-size--md & {
    margin-bottom: 20px;
  }
}

.uppy-SearchProvider-searchButton {
  padding: 13px 25px;

  .uppy-size--md & {
    padding: 13px 30px;
  }
}
