// ***
// View type: grid
// ***
.uppy-ProviderBrowser-viewType--grid {
  ul.uppy-ProviderBrowser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px;
    &::after {
      content: '';
      flex: auto;
    }
  }

  li.uppy-ProviderBrowserItem {
    width: 50%;
    position: relative;
    margin: 0;

    .uppy-size--md & {
      width: 33.3333%;
    }
    
    .uppy-size--lg & {
      width: 25%;
    }
    
    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }

  li.uppy-ProviderBrowserItem--selected {
    img, svg {
      opacity: 0.85;
    }
  }

  li.uppy-ProviderBrowserItem--disabled {
    opacity: 0.5;
  }

  li.uppy-ProviderBrowserItem--noPreview {
    .uppy-ProviderBrowserItem-inner {
      background-color: rgba($gray-500, 0.2);

      [data-uppy-theme="dark"] & {
        background-color: rgba($gray-200, 0.2);
      }
    }
    svg {
      fill: rgba($black, 0.7);
      width: 30%;
      height: 30%;

      [data-uppy-theme="dark"] & {
        fill: rgba($white, 0.8);
      }
    }
  }

  // button with a large picture
  button.uppy-ProviderBrowserItem-inner {
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    text-align: center;
    width: calc(100% - 14px);
    height: calc(100% - 14px);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($blue, 0.9);
    }

    [data-uppy-theme="dark"] & {
      box-shadow: 0 0 0 3px rgba($lightblue, 0.7);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  // Checkbox
  .uppy-ProviderBrowserItem-fakeCheckbox {
    position: absolute;
    top: 16px; right: 16px;
    width: 26px; height: 26px;
    background-color: $blue;
    border-radius: 50%;
    z-index: $zIndex-3;
    opacity: 0;

    // Checkmark icon
    &:after {
      width: 12px; height: 7px;
      left: 7px; top: 8px;
    }
  }
  // Checked: show the checkmark
  .uppy-ProviderBrowserItem-fakeCheckbox--is-checked {
    opacity: 1;
  }
}
