.uppy-ProviderBrowserItem-fakeCheckbox {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &:disabled {
    cursor: default;
  }

  // Checkmark icon
  &::after {
    content: '';
    position: absolute;
    cursor: pointer;
    border-left: 2px solid $gray-200;
    border-bottom: 2px solid $gray-200;
    transform: rotate(-45deg);
  }

  &:disabled::after {
    cursor: default;
  }

  [data-uppy-theme="dark"] & {
    background-color: $gray-900;
    border-color: $gray-500;
  }
}

.uppy-ProviderBrowserItem-fakeCheckbox--is-checked {
  [data-uppy-theme="dark"] & {
    background-color: $gray-800;
  }
}
