name: Companion
on:
  push:
    branches: [ main ]
  pull_request:
    # We want all branches so we configure types to be the GH default again
    types: [ opened, synchronize, reopened ]

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.20.1, 12.x, 14.x, 16.x, 17.x]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node-version}}
          cache: 'yarn'
      - name: Install Corepack if needed
        run: corepack -v || npm install -g corepack
      - name: Install dependencies
        run: corepack yarn install --immutable
        env:
          # Necessary for Node.js v10.x
          NODE_OPTIONS: --experimental-worker
          YARN_IGNORE_NODE: 1
      - name: Run tests
        run: corepack yarn run test:companion
        env:
          # Necessary for Node.js v10.x
          NODE_OPTIONS: --experimental-worker
          YARN_IGNORE_NODE: 1
