name: Companion
on:
  push:
    branches: [main]
    paths:
      - yarn.lock
      - 'packages/@uppy/companion/**'
      - '.github/workflows/companion.yml'
  pull_request:
    # We want all branches so we configure types to be the GH default again
    types: [opened, synchronize, reopened]
    paths:
      - yarn.lock
      - 'packages/@uppy/companion/**'
      - '.github/workflows/companion.yml'

env:
  YARN_ENABLE_GLOBAL_CACHE: false

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run:
          echo "dir=$(corepack yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node-version}}
      - name: Install dependencies
        run: corepack yarn workspaces focus @uppy/companion
      - name: Run tests
        run: corepack yarn run test:companion
      - name: Run type checks in focused workspace
        run: corepack yarn run build:companion
