name: Release candidate
on:
  push:
    branches: release

jobs:
  release:
    name: Publish releases
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          branch: release
      - name: Rebase
        run: |
          git fetch origin HEAD --depth=1
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git rebase FETCH_HEAD
      - name: Cache npm dependencies
        id: cache-npm-libraries
        uses: actions/cache@v2
        with:
          path: .yarn/cache/*
          key: ${{ runner.os }}
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install dependencies
        run: corepack yarn install
      - name: Prepare release
        run: corepack yarn version apply --all --json | jq -s > releases.json
      - name: Prepare changelog
        run: corepack yarn workspace @uppy-build/release update-changelogs releases.json | xargs git add
      - name: Update contributors table
        run: corepack yarn contributors:save && git add README.md
      - name: Stage changes
        run: |
          git rm -rf .yarn/versions
          git rm CHANGELOG.next.md
          jq -r 'map(.cwd) | join("\n")' < releases.json | awk '{ print "git add " $0 "/package.json" }' | sh
      - name: Update CDN URLs
        run: corepack yarn workspace @uppy-build/release update-version-URLs | xargs git add
      - name: Commit
        run: |
          echo "Release candidate: uppy@$(jq -r 'map(select(.ident == "uppy"))[0].newVersion' < releases.json)" > commitMessage
          echo >> commitMessage
          echo "This is a release candidate for the following packages:" >> commitMessage
          echo >> commitMessage
          jq -r 'map("- `"+.ident+"`: "+.oldVersion+" -> "+.newVersion) | join("\n") ' < releases.json >> commitMessage
          git commit -n --amend --file commitMessage
      - name: Open Pull Request
        run: |
          git push origin HEAD:release-candidate
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          gh api /repos/${{ github.repository }}/pulls \
            -F base="$(gh api /repos/${{ github.repository }} | jq -r .default_branch)" \
            -F head="release-candidate" \
            -F title="$(head -1 commitMessage)" \
            -F body="$(git --no-pager log -1 --format=%b)"
